extends ../layout

block append header
    link(href="/js/plugins/zTree_v3/css/zTreeStyle.css" rel="stylesheet" type="text/css")

block append scripts
    script(src="/js/plugins/zTree_v3/js/jquery.ztree.all-3.5.min.js")
    script.
        var nodes = !{JSON.stringify(years)};
    script(src="/js/admin/common/years.js")
block content
    .box
        .box-header
            h3.box-title= "Возрастные категориии энциклопедии"
        .box-body
            form.tree
                .panel.panel-default
                    .panel-body
                        button.btn.btn-success#addNode(type="button")= "Создать узел"
                    .panel-body
                        label
                            | Нажмите кнопку выше для добавления узла
                        label
                            | Чтобы изменить порядок узлов, перетягивайте их в дереве левой кнопкой мыши
                        label
                            | Чтобы отредактировать узел, наведите на него мышкой и нажмите иконку с листом и карандашем
                        label
                            | Чтобы удалить узел, наведите на него мышкой и нажмите красный крести
                        label
                            | Для сохранения изменений нажмите кнопку "Сохранить изменения"
                .panel.panel-default
                    .panel-body
                        ul#tree.ztree
                .panel.panel-default
                    .panel-body
                        button.btn.btn-primary(type="submit")= "Сохранить изменения"
