@charset "UTF-8";
@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import '../helpers/social';
@import '../helpers/article_bottom';

.module.question {
	width: 100%;
	
	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('/img/user/question/bg.jpg') no-repeat center top;
		top: 0;
		left: 0;
	}
	
	.content {
		margin: 0 auto;
		text-align: left;
		width: 920px;
	}
	
	.breadcrumbs {
		color: $white;
	}

	.topper_title {
		color: $white;
		margin-bottom: 51px;
		font-size: 24px;
		line-height: 24px;
		text-decoration: underline;
	}

	.social {
		height: 70px;
		margin: 0 20px;

		.adorable_cell {
			text-align: left;
		}
	}

	.question_container {
		margin: 0 10px;

		.item {
			padding: 20px;
			background-color: $white;
			position: relative;

			&:not(:last-child) {
				border-bottom: 1px solid #cccccc;
			}
		}

		.date {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 12px;
			font-family: 'PT_Sans_Italic';
		}

		.item_table {
			display: table;
			width: 100%;
		}

		.avatar_column {
			width: 77px;
			display: table-cell;

			.avatar {
				@include my_inline_block;
				width: 60px;
				height: 60px;
				position: relative;

				&.medical_cap {
					&:before {
						@include pseudo;
						width: 21px;
						height: 19px;
						background: url('/img/user/question/medical_cap.png') no-repeat;
						top: -6px;
						left: -1px;
					}
				}
			}

			img {
				max-width: 100%;
				max-height: 100%;
				position: relative;
			}
		}

		.content_column {
			display: table-cell;
		}

		.info {
			 line-height: 20px;
		}

		.name {
			font-family: 'PT_Sans_Bold';
			text-decoration: underline;
			color: #404040;
		}

		.level {
			color: $titlegrey;
			font-size: 12px;
		}

		.league {
			vertical-align: middle;
			margin-right: 10px;
		}

		.star {
			vertical-align: middle;
			margin-right: 2px;
		}

		.children {
			color: $titlegrey;
			font-size: 12px;
		}

		.title {
			font-size: 40px;
			line-height: 40px;
			font-family: 'PT_Sans_Narrow_Bold';
			color: $green;
			text-transform: uppercase;
			margin-top: 30px;
		}

		.text {
			font-size: 16px;
			color: $titlegrey;
			margin-top: 20px;
			margin-bottom: 15px;
		}

		.footer {
			height: 70px;
			background-color: $blue;
			color: $white;
		}

		.like {
			vertical-align: middle;
			margin-right: 6px;
			cursor: pointer;
		}

		.count {
			vertical-align: middle;
			font-size: 26px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-right: 6px;
		}

		.slash {
			vertical-align: middle;
			margin-right: 6px;
			font-size: 12px;
		}

		.post_like {
			vertical-align: middle;
			margin-right: 6px;
			cursor: pointer;
			font-size: 12px;
			text-transform: uppercase;
		}
	}

	.form_container {
		padding: 20px;
		background: #FFFFFF;

		.avatar {
			margin-top: 20px;
		}

		.textarea_container {
			position: relative;

			&:before {
				@include pseudo;
				width: 5px;
				height: 32px;
				top: 30px;
				left: -5px;
				background: url('/img/user/messages/textarea_arrow.png') no-repeat;
			}
		}

		textarea {
			@include border_radius(8px);
			height: 96px;
			margin-bottom: 20px;
		}

		.message_button {
			padding: 10px 26px;
		}
	}

	.consultationResponse {
		padding: 20px;
		background: #ffffff;
		width: 100%;
		box-sizing: border-box;

		.authorImage {
			float: left;
			position: relative;
			width: 15%;

			img {
				border-radius: 50%;
			}
		}
		.responseBody {
			float: left;
			position: relative;
			width: 85%;

			textarea {
				margin-bottom: 20px;

				&:focus {
					outline: none;
				}
			}
		}
		.responseBottom {
			button {
				background-color: #2ca7e0;
				color: #FFFFFF;
				padding: 10px 26px;
			}
		}
	}

	.author {
		height: 360px;
		background-color: $green;
		color: $white;

		.label {
			text-transform: uppercase;
			font-size: 20px;
			line-height: 20px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin: 30px 20px;
		}

		.avatar {
			@include my_inline_block;
			width: 70px;
			height: 70px;
			position: relative;

			&:before {
				@include pseudo;
				width: 21px;
				height: 19px;
				background: url('/img/user/question/medical_cap.png') no-repeat;
				top: -6px;
				left: -1px;
			}

			img {
				max-height: 100%;
				max-width: 100%;
				position: relative;
			}
		}

		.author_name {
			margin: 8px 20px;
		}

		.desc {
			font-size: 12px;
			color: #30784a;
			margin: 20px;
		}

		.author_button {
			margin: 0 0 20px 0;
			color: $green;
			font-size: 14px;
		}
	}

	.meta {
		margin-top: 20px;
		padding: 20px;
		background-color: $white;
		font-size: 12px;
		line-height: 20px;

		.tag {
			@include my_inline_block;
			@include border_radius(2px);
			padding: 3px;
			background-color: #e6e6e6;
			font-size: 12px;
			line-height: 12px;
			margin: 5px 5px 0 0;
			color: #404040;
		}
	}
}

@media (min-width: 1600px) {
	.module.question .content {
		width: 1220px;

		.column.double {
			width: 880px;

		}
	}
}
