@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';

.module.download {
	width: 920px;
	text-align: left;
	min-height: 656px;
	
	&:before {
		@include pseudo;
		@include absolute_horizontal_centered;
		top: 0;
		left: 0;
		background: url('/img/user/download/download_topper_bg.jpg') top no-repeat;
		width: 100%;
		height: 656px;
		z-index: 5;
	}
	
	.download_topper {
		height: 629px;
	}
	
	.topper_title {
		color: $blue;
		font-size: 85px;
		line-height: 85px;
		margin: 30px 20px 0;
		font-family: 'PT_Sans_Narrow_Bold';
		text-transform: uppercase;
	}
	
	.topper_text {
		color: #1a1a1a;
		margin: 0 20px;
		width: 420px;
		margin-top: 30px;
		
		.new_module {
			@include bold;
		}
	}
	
	.download_button {
		width: 259px;
		height: 50px;
		color: white;
		background-color: $blue;
		margin: 0 20px;
		margin-top: 30px;
	}
	
	.download_content {
		text-align: center;
	}
	
	.what_inside {
		font-size: 50px;
		line-height: 50px;
		color: #ccbfb8;
		font-family: 'PT_Sans_Narrow_Bold';
		text-transform: uppercase;
	}
	
	.download_desc {
		color: $grey;
		font-size: 16px;
		font-family: 'PT_Sans_Italic';
		margin-top: 25px;
		line-height: 24px;
	}
	
	.download_table {
		height: 390px;
		margin-top: 48px;
		
		.table_item {
			&.feeding_table {
				.download_image {
					background: url('/img/user/download/feeding_table.png') center no-repeat;
				}
			}
			
			&.pediatrician_suggestions {
				.download_image {
					background: url('/img/user/download/pediatrician_suggestions.png') center no-repeat;
				}
			}
			
			&.useful_numbers {
				.download_image {
					background: url('/img/user/download/useful_numbers.png') center no-repeat;
				}
			}
		}
	}
	
	.download_image {
		height: 173px;
	}
	
	.download_label {
		@include bold;
		font-size: 18px;
		text-transform: uppercase;
		color: $blue;
		margin-top: 30px;
	}
	
	.download_text {
		margin-top: 20px;
		padding: 0 30px;
	}
	
	.answers {
		height: 277px;
		background-color: white;
		margin-bottom: 100px;
	}
	
	.answers_topper {
		height: 177px;
		position: relative;
		z-index: 10;
		
		.answers_text {
			height: 134px;
			font-size: 16px;
			color: $grey;
		}
		
		.answers_button {
			@include absolute_horizontal_centered;
			@include border_radius(4px);
			@include box_shadow(inset 0 -4px 0 0 rgba(0, 0, 0, 0.3));
			width: 620px;
			background-color: $blue;
			height: 90px;
			font-size: 30px;
			top: 134px;
			color: white;
		}
	}
	
	.answers_footer {
		height: 100px;
		background-color: #9dd6f6;
		color: white;
	}
}