@charset "UTF-8";
@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';

.module.messages {
	text-align: center;
	width: 100%;
	
	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		
		&:before {
			@include pseudo;
			width: 100%;
			height: 210px;
			background-color: #efeae5;
			top: 0;
			left: 0;
			background: url('/img/user/messages/topper_bg.jpg') no-repeat center top;
		}
	}
	
	.content {
		@include inline_block;
		text-align: left;
		width: 920px;
		
		.topper_title {
			margin: 0 20px 90px;
		}
	}
	
	.messages_container {
		padding: 40px 20px 139px;
	}
	
	.search_container {
		height: 70px;
		background-color: $white;
		
		.left {
			@include inline_block;
			@include border_boxed;
			height: 100%;
			width: 280px;
			padding: 15px 0 15px 20px;
		}
		
		.right {
			@include inline_block;
			@include border_boxed;
			height: 100%;
			width: 600px;
			padding: 15px 20px;
			text-align: right;
		}
	}
	
	.search_contacts {
		height: 40px;
		background-color: #f2f2f2;
		text-transform: none;
		font-size: 'PT_Sans_Regular';
		line-height: normal !important;
	}
	
	.message_button {
		background-color: $blue;
		color: $white;
		font-size: 14px;
		padding: 10px 20px;
		line-height: 20px;
	}
	
	.conversations_container {
		margin-top: 10px;
		
		.left {
			@include border_boxed;
			@include inline_block;
			width: 280px;
			border-right: 2px solid $bg;
			
			.item {
				&:not(:last-child) {
					border-bottom: 2px solid $bg;
				}
			}
		}
		
		.right {
			@include inline_block;
			width: 600px;
			
			.items_container {
				border-bottom: 2px solid $bg;
			}
		}
		
		.item {
			padding: 20px;
			background-color: $white;
			position: relative;
			
			&.active {
				z-index: 1;
				@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22), 2px 2px 0px 0px $white);
				border-bottom: 2px solid transparent !important;
				
				&:after {
					@include pseudo;
					top: 0;
					bottom: 0;
					margin: auto;
					right: -17px;
					background: url('/img/user/messages/item_arrow.png') no-repeat;
					width: 17px;
					height: 46px;
				}
			}
		}
		
		.date {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 11px;
			font-family: 'PT_Sans_Italic';
			color: $base;
		}
		
		.item_table {
			display: table;
			width: 100%;
		}
		
		.avatar_column {
			width: 69px;
			display: table-cell;
			
			.avatar {
				@include inline-block;
				width: 51px;
				height: 51px;
				position: relative;
				
				&.crown {
					&:before {
						@include pseudo;
						width: 24px;
						height: 23px;
						background: url('/img/user/messages/crown.png') no-repeat;
						top: -13px;
						left: -3px;
					}
				}
			}
			
			img {
				max-width: 100%;
				max-height: 100%;
				position: relative;
			}
		}
		
		.content_column {
			display: table-cell;
		}
		
		.info {
			 line-height: 20px;
		}
		
		.name {
			font-family: 'PT_Sans_Bold';
			text-decoration: underline;
			color: #4c4c4c;
		}
		
		.text {
			color: $base;
			margin-top: 7px;
		}
	}
	
	.form_container {
		.avatar {
			margin-top: 20px;
		}
		
		.textarea_container {
			position: relative;
			
			&:before {
				@include pseudo;
				width: 5px;
				height: 32px;
				top: 30px;
				left: -5px;
				background: url('/img/user/messages/textarea_arrow.png') no-repeat;
			}
		}
		
		textarea {
			@include border_radius(8px);
			height: 96px;
			margin-bottom: 20px;
		}
		
		.message_button {
			padding: 10px 26px;
		}
	}
	
	.attach {
		float: right;
		width: 141px;
		height: 40px;
		font-size: 12px;
		
		.adorable_cell {
			text-align: left;
		}
		
		img, span {
			vertical-align: middle;
		}
		
		img {
			margin-right: 9px;
		}
	}
}