include helpers
.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_title Узнать у специалиста
	
	.ask_specialist
		.column.left
			.avatar
				img.rounded(src="/img/user/specialist/doc.jpg")
				.table
					.adorable_table
						.adorable_cell Педиатр
			
			.name
				div Матвиенко
				div Ирина Николаевна
			
			.desc
				div Кандидат медицинских наук,
				div старший научный сотрудник отделения медицинских проблем здорового ребенка
				div и преморбидных состояний.
			
			//- .read_more
			//- 	span Подробнее
		
		.column.double.right
			mixin user(true)
	
	.filters
		select.specialist_question_select
			option(value = 0) Вопросы от мам
		
		select.specialist_sort_select
			option(value = 1) Сначала отвеченные
			option(value = 0) Сначала не отвеченные
		
		.icons
			.icon.eye(data-filter="watchers")
				.adorable_table
					.adorable_cell
						img(src="/img/user/specialist/eye.png")
			
			.icon.lamp(data-filter="recommended")
				.adorable_table
					.adorable_cell
						img(src="/img/user/specialist/lamp.png")
			
			.icon.check(data-filter="spec")
				.adorable_table
					.adorable_cell
						img(src="/img/user/specialist/check.png")
	
	.items_container
		- each a, i in articles
			mixin article(a, i)
