.carousel_container
	.content.breadcrumbs_content
		include ../helpers/breadcrumbs
	
	#production_carousel.carousel.slide(data-ride="carousel")
		.carousel-inner(role="listbox")
			.item.active
				.banner_image.banner_image_1
				.content
					.top_label
						div «Завод Агуша» –
						div питание только
						div для деток
					
					.cloud_text.adorable_table
						.adorable_cell
							div На «Заводе Агуша» детское питание изготавливают по уникальной рецептуре исключительно
							div для малышей
		
		.content.indicators_content
			ol.carousel-indicators
				li.active(data-target="#production_carousel" data-slide-to="0")

.white_title.arrowed
	.content
		.label.adorable_table
			.adorable_cell Как производят агушу

.items_container
	.content
		.column.item.item_1
			.title.adorable_table
				.adorable_cell Молоко экстра-класса
			
			.number.adorable_table
				.adorable_cell 1
			.text Получаем с молочных ферм, в подавляющем большинстве с «Агроэкологии» Полтавской области и «Песковского» Черниговской области
		
		.column.item.item_2
			.title.adorable_table
				.adorable_cell Контроль качества
			
			.number.adorable_table
				.adorable_cell 2
			
			.text Тщательно проверяем молоко в собственной лаборатории, технически оснащенной и отвечающей современным требованиям
		
		.column.item.item_3
			.title.adorable_table
				.adorable_cell Охлаждение
			
			.number.adorable_table
				.adorable_cell 3
		
		.column.item.item_6
			.title.adorable_table
				.adorable_cell Пастеризация
			
			.number.adorable_table
				.adorable_cell 6
			
			.text + 98 С
			
		.column.item.item_5
			.title.adorable_table
				.adorable_cell Гомогенизация
			
			.number.adorable_table
				.adorable_cell 5
			
			.text Придаем молоку однородности для предотвращения отделения сливок
		
		.column.item.item_4
			.title.adorable_table
				.adorable_cell Бактофуга
			
			.number.adorable_table
				.adorable_cell 4
			
			.text С помощью новейшего оборудования механическим способом удаляем вредные бактерии и споры
		
		.column.item.item_7
			.title.adorable_table
				.adorable_cell Деаэрация
			
			.number.adorable_table
				.adorable_cell 7
			
			.text Удаляем растворенный воздух и мелкие пузырьки из молока
		
		.column.item.item_8
			.title.adorable_table
				.adorable_cell Полезные бактерии
			
			.number.adorable_table
				.adorable_cell 8
			
			.text Добавляем в молоко «живые» закваски, содержащие полезные бактерии
		
		.column.item.item_9
			.title.adorable_table
				.adorable_cell Ягоды и фрукты
			
			.number.adorable_table
				.adorable_cell 9
			
			.text Используем только качественное фруктовое пюре компании «Аграна», г. Винница
		
		.column.item.item_12
			.title.adorable_table
				.adorable_cell Отправка
			
			.number.adorable_table
				.adorable_cell 12
			
			.text Перед отправкой продукции в магазин тщательно проверяем ее качество в лаборатории
		
		.column.item.item_11
			.title.adorable_table
				.adorable_cell Расфасовка
			
			.number.adorable_table
				.adorable_cell 11
			
			.text Всю продукцию фасуем уже охлажденной в продезинфици- рованные бутылочки и стаканчики и маркируем.
		
		.column.item.item_10
			.title.adorable_table
				.adorable_cell Упаковка
			
			.number.adorable_table
				.adorable_cell 10
			
			.text Мы производим упаковку на современном оборудовании с высоким уровнем гигиены

.child

.video
	.player_bg
		.close
		
		.title.adorable_table
			.adorable_cell ЛУЧШЕЕ ДЛЯ МАЛЫША - “АГУША”
		
		.player
			object(frameborder="0", width="100%", height="100%", data="http:///www.youtube.com/embed/uygKYwqfzKM", wmode="transparent", allowscriptaccess="always", allowfullscreen="true")