.content
	include ../helpers/breadcrumbs
	
	.topper_title Про наш завод

.item_container
	.item
		.content
			.title
				| Открылся 
				br
				| в апреле 2012 года
			
			.text
				| «Заводу Агуша» всего 2 годика. Он открылся в апреле 2012 года, в живописном местечке со вкусным названием – в городе Вишневое Киевской области.
		
		.image
			img(src = '/img/user/production/opened_2012.png')
	
	.item
		.content
			.title
				| «Высокие
				br
				| технологии»
			
			.text
				| «Агуша» - одно из самых современных и высокотехнологичных производств детского питания в Украине. Мощности нашего предприятия позволяют перерабатывать 50 тонн молока в сутки и быть уверенными в каждом грамме выпускаемой продукции.
		
		.image
			img(src = '/img/user/production/high_tech.png')
	
	.item
		.content
			.title
				| Детское-предетское питание с
				br
				| витаминами и пребиотиками
			
			.text
				| Мы производим исключительно детские продукты: питьевой йогурт, творожок, кефир и молочко. Производство полностью «автономное», и никак не связано с изготовлением «взрослых» продуктов.
				br
				| Продукты производятся по особой рецептуре, которая разработана для детей раннего возраста и предусматривает обогащение витаминами и пребиотиком.
		
		.image
			img(src = '/img/user/production/vitamin.png')
	
	.item
		.content
			.title
				| Наши поставщики
			
			.text
				| Все наши поставщики прошли сертификацию МОЗ Украины как производители сырья и продуктов, разрешенных для детского питания.
				br
				| Один из наших поставщиков свежего молока - фермерское хозяйство «Агроэкология», на полях которого применяются только органические удобрения, а все коровки имеют ветеринарные удостоверения.
				br
				| Фруктовые наполнители поставляет украино-австрийское предприятие «Аграна Фрут Укарина». Они выращивают фрукты и ягоды в экологически чистой среде.
		
		.image
			img(src = '/img/user/production/suppliers.png')
	
	.item
		.content
			.title
				| Соответствует всем нормам
			
			.text
				| «Завод Агуша» соответствует всем нормам украинского законодательства, включая Закон о детском питании от 6 января 2011 года, а также имеет сертификацию европейского и мирового образца ISO, HAССP. Даже не смотря на ультрафильтрацию и очистку молока суперсовременной бактофугой, каждая партия продукции подвергается тщательной проверке более 15 (!) раз.
		
		.image
			img(src = '/img/user/production/norm.png')
	
	.item
		.content
			.title
				| Удобство
				br
				| и безопасность
			
			.text
				| Главные требования к упаковке – удобство и безопасность. Каждая упаковка обрабатывается озонированной водой, а разлив осуществляется под избыточным давлением стерильного воздуха.
		
		.image
			img(src = '/img/user/production/safety.png')

.footer
	.top
		.content
			.left
				.item
					a.new_module(href = '/encyclopedia') Энциклопедия
				
				.item
					a.new_module Узнать у специалиста
				
				.item
					a.new_module Акции
				
				.item
					a.new_module О проекте
			
			.right
				.item
					a.new_module(href = '/products') Каталог продукции
				
				.item
					a.new_module(href = '/production') О производстве
				
				.item
					a.new_module Запись на экскурсию
				
				.item
					a.new_module Контакты
			
			.last
				.last_left
					.item
						a.new_module(href = '/help') FAQ
					
					.item
						a.new_module Правила поведения на сайте
				
				.last_right
					.item
						a.new_module Обратная связь
					
					.item
						a.new_module Соглашение
	
	.bottom
		.copyright
			.content
				.c_2014
					.adorable_table
						.adorable_cell © 2014 Вимм-Билль-Данн
				
				.use_link
					.adorable_table
						.adorable_cell
							| ИСПОЛЬЗОВАНИЕ МАТЕРИАЛОВ С ДАННОГО САЙТА
							br
							| БЕЗ ССЫЛКИ НА ИСТОЧНИК ЗАПРЕЩЕНО