extends ../layout

block append header
	link(href="/css/user/production/production.css" rel="stylesheet")
	meta(property="og:title" content = "О Заводе")
	meta(property="og:description" content = "На «Заводе Агуша» детское питание изготавливают по уникальной рецептуре исключительно для малышей!")
	meta(property="og:image" content = base_url + "/img/user/production/og_image.jpg")

block content
	.module.server.production#production
		include content

block append scripts
	