extends ../layout

block append header
	link(href="/css/user/production/production.css" rel="stylesheet")

block content
	.module.server.production#production
		include content

block append scripts
	