@import "../../../js/plugins/bourbon/dist/_bourbon.scss";
@import "../../customMixins.scss";

.af-wrap {
	background: lighten(blue, 20%);
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: -100%;

	// @include transform(translateY(-100%));
	@include transition(all 0.5s ease-out);

	&.visible {
		overflow: visible !important;
		top: 0 !important;
		// @include transform(translateY(0));

		.af-container {
			overflow: auto !important;
		}
	}
}

.af-container {
	height: 100%;
	overflow: hidden;
}

.af-label {
	border-bottom-left-radius: 20px;
	background: lighten(blue, 20%);
	position: absolute;
	text-align: right;
	padding: 2px 5px;
	font-size: 16px;
	cursor: pointer;
	color: white;
	width: 15%;
	top: 0;
	right: 0;
	&:hover {
		font-weight: bold;
	}
	&.visible {
		@include transition(all 0.5s ease-out);
		right: -15%;
	}
}

.af-header {
	height: 12%;
}

.t-reset-all {
	cursor: pointer;
	position: absolute;
	top: 4%;
	left: 2%;
}

.t-af-close {
	position: absolute;
	top: 4.5%;
	right: 2%;
	cursor: pointer;
}

.afh-title {
	width: 60%;
	margin-left: 20%;
	text-align: center;
	@include vertical-align;
	font-size: 20px;
}

.af-body {
	background-color: #999999;
}

.af-item {
	border-radius: 1px solid #000;
	&.current:after {
		position: absolute;
		right: 0;
		top: 0;
		background: red;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		font-family: FontAwesome;
		line-height: 1;
		content: "\f00c";
	}
}

.af-image {
	height: 80%;
	background: {
		position: center;
		repeat: no-repeat;
		size: contain;
	}
}

.af-title {
	padding-top: 8px;
	height: 20px;
	text-align: center;
}