- var gender = ['', 'мальчик', 'девочка']

mixin springregistration_winner_child(g, key, length)
	span #{gender[g]}
	if (key + 1) != length
		span , 

mixin springregistration_winner(w)
	.winner_item
		.winner_visible
			.winner_topper
				.winner_image(class = (user && user._id == w._id ? 'crown' : ''))
					img(src = (w.image && w.image.medium ? w.image.medium : '/img/user/helpers/stub/medium.png'))
				
				.winner_desc
					.adorable_table
						.adorable_cell.left
							.winner_name #{w.profile.first_name} #{w.profile.middle_name} #{w.profile.last_name}
							
							if w.children && w.children.length
								.children
									span Детки: 
									- each c, key in w.children
										mixin springregistration_winner_child(c.gender, key, w.children.length)
			
			.social
				.adorable_table
					.adorable_cell.left
						.share Поделитесь с друзьями отличной новостью
						.icons
							a.icon.fb(href="http://www.facebook.com/sharer.php?u=http://agusha.com.ua/springregistration&t=Ура, мой малыш получил подарок от «Агуша»!" target="_blank")
							a.icon.vk(href="http://vkontakte.ru/share.php?url=http://agusha.com.ua/springregistration" target="_blank")
							.icon.ok
		
		.winner_bottom
			.adorable_table
				.adorable_cell.left
					div Поздравляем, вы выиграли
					div чудесный подарок!

.topper_container
	.content
		include ../helpers/breadcrumbs
		
		.form_container
			.top_label Акция «Весенняя регистрация» завершена!
			
			.bottom_label
				div Мы разыграли вкусные и полезные подарки для малышей
				div среди пользователей, которые зарегистрировались
				div на нашем сайте с 10.04 по 20.05. Вот как это было:
			
			.video_part
				.stream.adorable_container
					.adorable
						object.youtube(frameborder="0" width="100%" height="100%" data="http://www.youtube.com/embed/FhasV_Woy_M" wmode="transparent" allowscriptaccess="always" allowfullscreen="true")

.action_container
	.content
		.action_content
			.winners_topper.adorable_table
				.adorable_cell
					.top_label Поздравляем наших победителей!
					
					.bottom_label
						div 200 счастливчиков были выбраны случайным образом среди всех пользователей, которые зарегистрировались
						div на сайте agusha.com.ua с 10.04 по 20.05. Ищите свое имя в списке победителей, следите за новыми розыгрышами,
						div и пускай ваш малыш радует вас каждый день!
			
			.items_container
				- each w, key in winners[0].data
					mixin springregistration_winner(w)