extends ../layout

block append header
	link(href="/css/user/springregistration/springregistration.css" rel="stylesheet")

block content
	.module.server.springregistration
		include content

block append scripts
	script#counter_mustache(type="text/mustache")
		- var server = false
		mixin counter(server)