extends ../layout

block meta
	meta(name="description" content = "Ура, мой малыш получил подарок от «Агуша»! Заходите на сайт, и пусть вашему карапузу тоже повезет!")
	meta(name="og:title" content = "Ура, мой малыш получил подарок от «Агуша»!")
	meta(name="og:description" content = "Заходите на сайт, и пусть вашему карапузу тоже повезет!")
	meta(name="og:image" content = "http://agusha.com.ua/img/user/springregistration/fb_200x200.jpg")

block append header
	link(href="/css/user/springregistration/springregistration.css" rel="stylesheet")

block content
	.module.server.springregistration
		include content