extends ../layout

block append header
	link(href="/css/user/registration/registration.css" rel="stylesheet")

block content
	.module.server#registration
		.content.adorable_table
			.adorable_cell
				h1 Вы уже активировали свою запись