.content.adorable_table
	.adorable_cell
		.registration_inline
			.reg_box.column(title="")
				.reg_box_inside.not_registered.adorable_table.active
					.adorable_cell
						.reg_top
							a.login(href="/login") Войти
							span   /  
							a.register.active(href="/registration") Зарегистрироваться
						
						.login_label
							div Введите свой e-mail и пароль для доступа ко всем 
							div полезностям и интересностям «Агуша»!
						
						form.registration_form
							input.name.firstName(type="text", name="firstName", can-value='firstName' placeholder="Ваше имя")
							
							input.email(type="email", name="email", can-value='email' placeholder="E-Mail")
							input.password(type="password", name="password", can-value='password' placeholder="Пароль")
							
							button.done Регистрация
						
						.social
							.half.text
								.adorable_table
									.adorable_cell
										| Или быстро и просто зарегистрируйтесь через соцсети!
							
							.half
								.adorable_table
									.adorable_cell
										a(href="/registration/fb")
											.social_block.social_inline.facebook
										a(href="/registration/vk")
											.social_block.social_inline.vkontakte
										a(href="/registration/ok")
											.social_block.social_inline.odnoklasniki
						
						.get_text Регистрируйтесь и получайте
				
				.reg_box_inside.registered.adorable_table
					.adorable_cell
						.title Регистрация прошла успешно!
						
						.center_text Наш чудесный сайт может помочь вам получать ту информацию которая наиболее актуальна для вашего малыша! Отбирая для вас статьи в соответствии с возрастом вашей крохи.
						
						.bottom_text Для этого в настройках профиля укажите пол и возраст ребенка.
			
			.pinball.left
						
			.pinball.right
			
			img.coin(src="/img/user/registration/25_points.png")
			
			.moneybox
				img(src="/img/user/registration/moneybox.png")
			
			.message
				.adorable_table
					.adorable_cell Что то пошло не так. Пожалуйста, обратитесь к администратору.