.content.adorable_table
	.adorable_cell
		.registration_inline
			.reg_box.column
				.reg_box_inside.not_registered.adorable_table.active
					.adorable_cell
						.reg_top
							a.login(href="/login") Вход
							span /
							a.register.active(href="/registration") Регистрация
						
						form.registration_form
							input.email(type="email", name="email", can-value='email' placeholder="E-Mail")
							input.password(type="password", name="password", can-value='password' placeholder="Пароль")
							
							button.done Готово
						
						.social
							.social_text
								.adorable_table
									.adorable_cell
										| Быстрая регистрация через соцсети
							
							.social_block.social_inline.facebook
							.social_block.social_inline.vkontakte
							.social_block.social_inline.odnoklasniki
						
						.get_text
							div Регистрируйтесь
							div и получайте
					
				.reg_box_inside.registered.adorable_table
					.adorable_cell
						.title Регистрация прошла успешно!
						
						.center_text Наш чудесный сайт может помочь вам получать ту информацию которая наиболее актуальна для вашего малыша! Отбирая для вас статьи в соответствии с возрастом вашей крохи.
						
						.bottom_text Для этого в настройках профиля укажите пол и возраст ребенка.
						
						.button_container
							button К настройкам
						
							
			
			img.coin(src="/img/user/registration/coin.png")
			
			.moneybox
				img(src="/img/user/registration/moneybox.png")
			
			.message
				.adorable_table
					.adorable_cell Ваш e-mail уже есть в базе! Возможно Вы уже зарегистрированны?