<div class="popUpWrap{{#if visible}} visible{{/if}}">
    <div class="popUpBody">
        <div class="contentWrap">
            <div class="close"></div>
            <div class="title">{{{title}}}</div>
            <div class="text">{{{text}}}</div>
        </div>
    </div>
</div>
