extends ../layout
include helpers

block append header
	link(href="/css/user/news/news.css" rel="stylesheet")

block content
	.module.server.news
		include content

block append scripts
	script.
		var app = {
			articles: !{JSON.stringify(articles)}
		};
	script#news_mustache(type="text/mustache")
		| {{#unless articles.length}}
		| {{#isnt filter 0}}
		h1.emptyFilter= 'Извините, ваш фильтр настроен слишком строго!'
		| {{/isnt}}
		| {{/unless}}
		| {{#each articles}}
		mixin article()
		| {{/each}}
