@import '../dynamic/dynamic';
@import '../helpers/reg_box';

#login {
	@include box_shadow(0 0 0 4px #2385b2);
	height: 100%;
    width: 100%;
	background-color: #2385b2;
	
	.reg_box {
		margin: 0 0 30px;
	}
	
	.child {
		text-align: center;
	}
}