extends ../layout

block append header
	link(href="/css/user/product/product.css" rel="stylesheet")

block content
	.module.server.product(id = 'product-' + (product.alias ? product.alias : product._id))
		include content

block append scripts
	