#footer
	.footer
		.top
			.content
				.left
					.item
						a.new_module(href = '/encyclopedia') Энциклопедия
					
					.item
						a.new_module(href = '/specialist') Узнать у специалиста
					
					// .item
						a.new_module Акции
					
					.item
						a.new_module(href = '/production') О проекте
					
					.item
						a.new_module(href = '/partners') Наши партнеры
				
				.right
					.item
						a.new_module(href = '/products') Каталог продукции
					
					.item
						a.new_module(href = '/production') О производстве
					
					.item
						| Запись на экскурсию
					
					.item
						a.new_module(href = '/contacts') Контакты
				
				.last
					.last_left
						.item
							a.new_module(href = '/help/faq') FAQ
						
						.item
							a.new_module(href = '/help/rules') Правила поведения на сайте
					
					.last_right
						.item
							a.new_module(href = '/help/feedback') Обратная связь
						
						.item
							a.new_module(href = '/help/agreement') Соглашение
		
		.bottom
			.copyright
				.content
					.c_2014
						.adorable_table
							.adorable_cell © 2014 Вимм-Билль-Данн
					
					.use_link
						.adorable_table
							.adorable_cell
								| ИСПОЛЬЗОВАНИЕ МАТЕРИАЛОВ ДАННОГО САЙТА
								br
								| БЕЗ ССЫЛКИ НА ИСТОЧНИК ЗАПРЕЩЕНО