doctype html
html(xmlns:fb="http://ogp.me/ns/fb#")
	head
		meta(charset="UTF-8")
		title Агуша
		link(href='/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
		block header
	
	body(style="overflow: hidden;")
		#fb-root
		#preloader(style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: #f2efed; z-index: 999999;")
			img(src="/img/preloader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;")
		
		#main_container
			.left_menu.left_resizable

			.left_inner_menu.left_resizable
			
			#center_container
				#modules
					block content
					include footer

			.right_menu.right_resizable

			.mainPopupWrapper(style="display: none")
				.mainPopupBackground.triggerClosePopup
				.mainPopupContent
					.closeMainPopup.triggerClosePopup
					h1
					p.content

		
		#left_menu.left_menu.left_resizable
			include left_menu
		
		#left_inner_menu.left_inner_menu.left_resizable
			include left_inner_menu
		
		#right_menu_small
			include helpers/menus/right_menu_small
		
		#right_menu.right_menu
			include helpers/menus/right_menu
		
		//- script(src="/js/plugins/steal/steal.js", config-path="/js/app/user/config.js", main="js/app/user/core/")
		script(src="/js/plugins/steal/steal.js", data-env="production", main="core")
		
		block scripts
			include route
			include codes