.left_menu
#left_menu.left_menu
	.left_content
		.close
		
		.top.active
			.small_logo
				a.new_module(href="/")
					img(src="/img/user/core/small_logo.png")
				
			.logo
				img.glow(src="/img/user/core/logo_glow.png")
				a.new_module(href="/")
					img#logo(src="/img/user/core/logo.png")
		
		.counter
			.count
				- var likes = [5, 0, 9, 8, 4]
				- each l, key in likes
					.number
						.line
							.symbol #{l}
			
			.counter_label мам уже одобрили!
		
		.center
			.adorable_cell
				.item.search_item
					input#search_input(placeholder="Поиск")
				
				a.item.adorable_table.encyclopedia.new_module(href="/encyclopedia")
					.icon
					.label
				
				.item.adorable_table.specialist
					.icon
					.label
				
				a.item.adorable_table.action.new_module(href="/products")
					.icon
					.label
				
				a.item.adorable_table.about.new_module(href="/help")
					.icon
					.label
		
		.bottom
			.social
				.social_block.facebook
				.social_block.vkontakte
				.social_block.odnoklassniki
				.small_social_block
				
			.copyright