.topper
	.adorable_table
		.adorable_cell
			.top_label Про агушу
			.label Пара слов о нас

.center
	.adorable_cell
		a.item.adorable_table.new_module(href="/products")
			.adorable_cell Каталог продукции
		
		a.item.adorable_table.new_module(href="/production")
			.adorable_cell О производстве
		
		a.item.adorable_table.new_module(href="/download")
			.adorable_cell Меню малыша
		
		a.item.adorable_table.new_module(href="/contacts")
			.adorable_cell Контакты
		
		//- .item.adorable_table
			.adorable_cell Запись на экскурсию