.left_content
	.close
	
	.top.module_tab.module_tab_main
		.small_logo
			a.new_module(href="/")
				img(src="/img/user/core/small_logo.png")
			
		.logo
			a.new_module(href="/")
				img#logo(src="/img/user/core/logo_2.png")
	
	.counter
		.count
			- each l, key in user_count
				.number
					.line
						.symbol #{l}
			
			.counter_tooltip
				.adorable_table
					.adorable_cell Количество зарегистрированных пользователей на сайте ТМ "Агуша"
		
		//- .counter_label Мам уже с нами
	
	.left_menu_line
	
	.center
		.adorable_cell
			form.search_form.item.search_item
				input#search_input.search_input(placeholder="Поиск")
				.search_icon
			
			a.item.adorable_table.encyclopedia.module_tab.module_tab_encyclopedia.new_module(href="/encyclopedia")
				.icon
				.label

			a.item.adorable_table.specialist.module_tab.module_tab_specialist.new_module(href="/specialist")
				.icon
				.label
			
			//- .item.adorable_table.action
				.icon
				.label
			
			a.item.adorable_table.moneybox.module_tab.module_tab_moneybox.new_module(href="/moneybox")
				.icon
				.label
			
			//- a.item.adorable_table.action.module_tab.module_tab_springregistration.new_module(href="/springregistration")
				.icon
				.label
			
			.item.adorable_table.about.module_tab.module_tab_production.module_tab_products
				.icon
				.label
	
	.bottom
		.social
			a.social_block.facebook(href="https://www.facebook.com/agusha.ukraine", target="_blank")
			a.social_block.vkontakte(href="https://vk.com/agusha.ukraine", target="_blank")
			a.social_block.odnoklassniki(href="http://ok.ru/agusha.ukraine", target="_blank")
			.small_social_block
		
		//- .copyright