
.topper
	.subTopper
		include helpers/menus/right_menu_small

.points
	.you_have
		div У ВАС
		div 0 б.
	
	.moneybox
		img(src="/img/user/core/moneybox.png")
	
	.for_gifts
		div на
		div подарки

//- .topper
//- 	.subTopper
//- 		+topper_small(user)

//- .points
//- 	.you_have
//- 		div У ВАС
//- 		div 0 б.
	
//- 	.moneybox
//- 		img(src="/img/user/core/moneybox.png")
	
//- 	.for_gifts
//- 		div на
//- 		div подарки
