#register_corner
	img.lock(src="/img/user/core/lock.png")
	.labels.adorable_table
		.adorable_cell
			.label
				a.new_module(href="/registration") Регистрация
			.label
				a.new_module(href="/login") Вход

#right_menu
	