@charset "UTF-8";
@import '../../normalize/normalize';
@import '../dynamic/dynamic';
@import '../helpers/donut';
@import '../helpers/popup';
@import '../helpers/cropper';
@import '../../bourbon/bourbon';
@import "placeholders";

@mixin number_pseudo {
	@include pseudo;
	background-color: #78c6eb;
	bottom: 0;
	height: 5px;
	margin: auto;
	overflow: hidden;
	top: 0;
	width: 1px;
}

@mixin min_max_height {
	max-height: $max-height;
	min-height: $min-height;
	height: 100%;
}

html, body {
	min-height: $min-height;
	min-width: $min-width;
	height: 100%;
}

body {
	font-size: 14px;
	background-color: $bg;
	color: $base;
	font-family: 'PT_Sans_Regular';
}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin-top: 0;
}

h3 {
	margin-top: 0;
}

a {
	color: inherit;
}

table tr {
	border: none;
	padding: 0;
	margin: 0;
}

#main_container {
	@include min_max_height;
	display: table;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.right_menu {
	@include transition(width 0.3s ease-in-out);
	display: table-cell;
	width: 0;
	vertical-align: top;

	&.active {
		width: 230px;
	}

	.logout {
		cursor: pointer;
	}
}

#right_menu_small {
	vertical-align: top;
	z-index: 10;
	position: fixed;
	top: 0;
	right: 0;
	text-align: center;

	.right_menu_small_inside {
		background-color: $white;
		border-bottom-left-radius: 33px;

		&.unauthorized {
			@include transition(width 0.3s ease-in-out);
			@include box_shadow(0px 1px 4px 0px rgba(0, 0, 0, 0.12));
			width: 140px;
			height: 70px;
			line-height: 18px;
			color: $red2;

			&:hover {
				width: 160px;
			}

			&:before {
				@include pseudo;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 20px;
				width: 13px;
				height: 15px;
				background: url('/img/user/core/unauthorized_lock.png') no-repeat;
			}

			.adorable_cell {
				padding: 0 0 0 50px;
			}

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&.authorized {
			padding-bottom: 22px;
			border-bottom-right-radius: 33px;
			width: 70px;
		}
	}

	.topper {
		border-bottom: 1px solid #e5e5e5;
	}

	.top {
		height: 70px;
		position: relative;
		cursor: pointer;

		&:before, img {
			@include absolute_centered;
			@include rounded;
			width: 45px;
			height: 45px;
		}

		&:before {
			@include pseudo;
			background: url('/img/user/core/left_menu_top.png') center no-repeat;
		}
	}

	.message {
		height: 70px;
		position: relative;
		background: url('/img/user/core/message.png') center no-repeat;

		.circle {
			position: absolute;
			width: 20px;
			height: 20px;
			right: 12px;
			top: 14px;
			background-color: #f06565;
			font-size: 10px;
			color: $white;
		}
	}

	.points {
		color: #7f7f7f;

		.you_have {
			margin-top: 17px;
			font-size: 12px;
			font-family: 'PT_Sans_Bold';
		}

		.moneybox {
			margin-top: 8px;
		}

		.for_gifts {
			margin-top: 8px;
			font-family: 'PT_Sans_Italic';
			font-size: 12px;
		}
	}
}

#right_menu {
	@include transition(right 0.3s ease-in-out);
	@include min_max_height;
	background-color: $blue;
	vertical-align: top;
	z-index: 10;
	position: fixed;
	top: 0;
	right: -230px;
	text-align: center;
	color: $white;
	width: 230px;
	overflow: hidden;

	&.active {
		right: 0;
		overflow: visible;

		.topper {
			&:before {
				left: -10px;
			}
		}
	}

	.topper {
		background-color: $darkblue;
		padding: 41px 0 14px;

		&:before {
			@include transition(left 0.3s ease-in-out);
			background: url("/img/user/core/right_avatar_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			content: "";
			height: 45px;
			position: absolute;
			left: 0;
			top: 83px;
			width: 10px;
			display: none;
		}

		&.active {
			&:before {
				display: block;
			}
		}
	}

	.close {
		position: absolute;
		background: url('/img/user/core/close.png') no-repeat;
		width: 13px;
		height: 12px;
		top: 29px;
		left: 29px;
		cursor: pointer;
	}

	.settings {
		position: absolute;
		background: url('/img/user/core/settings.png') no-repeat;
		width: 19px;
		height: 19px;
		top: 26px;
		right: 25px;
		cursor: pointer;
	}

	.percentage {
		position: absolute;
		top: 97px;
		right: 189px;
		font-size: 10px;
	}

	#profile_circle {
		width: 128px;
		height: 128px;
	}

	.avatar {
		width: 128px;
		height: 128px;
		position: relative;
		margin: 0 auto;
		margin-top: -146px;
		top: 14px;


		img {
			@include absolute_centered;
			height: 102px;
			width: 102px;
		}
	}

	.name {
		font-family: 'PT_Sans_Bold';
		margin-top: 14px;
		text-transform: capitalize;
	}

	.children {
		margin: 25px 0 0;
	}

	.child {
		height: 41px;

		&:not(:first-child) {
			margin-top: 9px;
		}

		.image {
			width: 94px;
			float: left;
			text-align: right;
			height: 100%;
		}

		img {
			height: 41px;
			width: 41px;
		}

		.desc {
			@include border_boxed;
			padding: 0 0 0 20px;
			width: 136px;
			float: left;
			height: 100%;
			font-size: 12px;

			.adorable_cell {
				text-align: left;
			}
		}
	}

	.child_name {
		font-family: 'PT_Sans_Bold';
		text-transform: capitalize;
	}

	.item {
		@include border_boxed;
		position: relative;
		margin: 18px 0;
		text-transform: uppercase;
		padding: 0 18px;
		text-align: left;
		line-height: 17px;
		text-decoration: inherit;

		&.profile {
			.icon {
				&:before {
					height: 32px;
					width: 34px;
					background: url('/img/user/core/settings_icon.png') no-repeat;
				}
			}

			.label {
				&:before {
					content: 'Настройки';
				}
			}
		}

		&.messages {
			.label {
				&:before {
					content: 'Сообщения';
				}
			}
		}

		&.subscribes {
			.icon {
				&:before {
					background-position: -40px 0;
				}
			}

			.label {
				&:before {
					content: 'Мои подписки';
				}
			}
		}

		&.moneybox {
			.icon {
				&:before {
					background-position: -80px 0;
				}
			}

			.label {
				&:before {
					content: 'Копилка';
				}
			}
		}

		&.action {
			.icon {
				&:before {
					background-position: -80px 0;
				}
			}

			.label {
				&:before {
					content: 'Акции';
				}
			}
		}

		&.help {
			.icon {
				&:before {
					background-position: -120px 0;
				}
			}

			.label {
				&:before {
					content: 'Помощь';
				}
			}
		}

		&.adorable_table {
			height: auto;
			cursor: pointer;

			&:hover, &.active {
				&:before {
					@include pseudo;
					background: url('/img/user/core/item_bg.png') no-repeat;
					width: 100%;
					height: 56px;
					top: -8px;
					left: 0;
				}

				&:after {
					@include pseudo;
					background: url('/img/user/core/active_right_arrow.png') no-repeat;
					left: -10px;
					top: -8px;
					width: 10px;
					height: 50px;
				}

				&.profile {
					.icon:before {
						background-position: 0 -33px;
					}
				}

				&.messages {
					.icon:before {
						background-position: 0 -27px;
					}
				}

				&.subscribes {
					.icon:before {
						background-position: -40px -27px;
					}
				}

				&.moneybox {
					.icon:before {
						background-position: -80px -27px;
					}
				}

				&.help {
					.icon:before {
						background-position: -120px -27px;
					}
				}

				.icon {
					&:before {
						background-color: #5bbae6;
					}
				}
			}
		}
	}

	.icon {
		width: 50px;
		display: table-cell;
		height: 34px;

		&:before {
			@include pseudo;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 27px;
			width: 40px;
			background: url('/img/user/core/right_menu_icons.png') no-repeat;
			background-color: $blue;
			z-index: 1;
		}
	}

	.label {
		@include transition(letter-spacing 0.3s ease-in-out);
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width: 144px;
		letter-spacing: 0;
	}

	.count {
		@include border_radius(9px);
		position: absolute;
		right: 12px;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: $darkblue;
		line-height: 20px;
		font-size: 12px;
		padding: 0 9px;
		z-index: 5;
		height: 20px;
	}

	.right_footer {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 58px;
		width: 100%;
		background-color: $darkblue;
		border-top: 1px solid $blackblue;
		font-size: 12px;
		color: $darkbluefont;
		z-index: 30;

		&:hover {
			background-color: #2ba2da;
			color: $white;

			.lock {
				background-position: -13px 0;
			}
		}

		&:active {
			background-color: #2998cd;
			color: $white;

			.lock {
				background-position: -13px 0;
			}
		}

		.adorable_cell {
			text-align: left;
		}

		.lock {
			@include my_inline_block;
			width: 12px;
			height: 14px;
			background: url('/img/user/core/right_menu_lock.png');
		}

		.lock, span {
			margin-left: 30px;
			vertical-align: middle;
		}
	}
}

.left_menu {
	@include transition(width 0.3s ease-in-out);
	display: table-cell;
	width: 230px;
	vertical-align: top;

	&.small {
		width: 70px;
	}
}

#left_menu {
	@include min_max_height;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $blue;
	color: $white;
	z-index: 11;

	&.small {
		.close {
			background-position: 0 0;

			&:hover {
				background-position: -13px 0;
			}

			&:active {
				background-position: -26px 0;
			}
		}

		.small_logo {
			opacity: 1;
		}

		.logo {
			@include transition(opacity 0.3s ease-in-out);
			opacity: 0;
		}

		.glow {
			width: 27px;
			opacity: 0;
		}

		.counter {
			opacity: 0;
			cursor: default;
		}

		.count {
			opacity: 0;
		}

		.counter_label {
			opacity: 0;
		}

		.number {
			width: 14px;
		}

		.line {
			&:before {
				width: 12px;
			}
		}

		.counter_label {
			letter-spacing: -7px;
		}

		.search_item {
			.search_icon {
				background-image: url('/img/user/core/search_small.png');
				background-color: $blue;
			}
		}

		#search_input {
			width: 0;
			opacity: 0;
			padding: 0 10px;
		}

		.item {
			width: 70px;
			padding: 0 0 0 18px;

			.label {
				width: 2px;
				letter-spacing: -8px;

				&:before {
					content: '\00a0' !important; /* &nbsp; */
				}
			}

			&.adorable_table {
				&:hover, &.active {
					&:before {
						background: url('/img/user/core/small_item_bg.png');
					}
				}
			}
		}

		.social_block  {
			width: 22px;
			cursor: pointer;
		}

		.small_social_block {
			opacity: 1;
			z-index: 3;
		}

		.copyright {
			&:before {
				content: '© 2014' !important;
				width: 37px;
			}
		}
	}

	.left_content {
		@include min_max_height;
		display: table;
	}

	.close {
		position: absolute;
		top: 30px;
		left: 30px;
		width: 12px;
		height: 12px;
		background: url('/img/user/core/left_menu_close.png') no-repeat;
		background-position: 0 -13px;
		cursor: pointer;
		z-index: 11;

		&:hover {
			background-position: -13px -13px;
		}

		&:active {
			background-position: -26px -13px;
		}
	}

	.top {
		height: 225px;
		display: table-row;

		&.active {
			&:before {
				@include pseudo;
				top: 60px;
				right: -10px;
				width: 10px;
				height: 45px;
				background: url('/img/user/core/active_logo.png') no-repeat;
			}
		}
	}

	.small_logo {
		@include transition(opacity 0.3s ease-in-out);
		@include absolute_horizontal_centered;
		top: 70px;
		opacity: 0;
		width: 57px;
		left: 3px;
		height: 25px;

		.new_module {
			display: block;
			position: relative;
			z-index: 1;
		}

		img {
			@include box_shadow(0 0 0 rgba(0, 0, 0, 0));
			width: 57px;
			height: 25px;
		}
	}

	.logo {
		@include transition(opacity 0.3s ease-in-out 0.3s);
		width: 175px;
		height: 170px;
		position: absolute;
		top: 29px;
		left: 38px;
		opacity: 1;
	}

	.glow {
		@include transition(opacity 0.3s ease-in-out, width 0.3s ease-in-out);
		margin: -30px 0 0 -30px;
		opacity: 1;
		width: 206px;
	}

	.counter {
		@include transition(opacity 0.3s ease-in-out);
		display: table-row;
		white-space: nowrap;
		opacity: 1;
	}

	.left_menu_line {
		height: 2px;
		background: url('/img/user/core/left_menu_line.png') repeat-x;
		margin: 40px 0 12px;
	}

	.count {
		@include transition(opacity 0.3s ease-in-out);
		text-align: center;
		opacity: 1;
		position: relative;

		&:hover {
			.counter_tooltip {
				display: block;
			}
		}
	}

	.number {
		@include border_boxed;
		@include border_radius(1px);
		@include my_inline_block;
		@include transition(width 0.3s ease-in-out);
		position: relative;
		width: 27px;
		height: 41px;
		font-family: 'Oswald_Regular';
		font-size: 30px;
		line-height: 39px;
		border: 1px solid #76c6eb;

		&:after {
			@include number_pseudo;
			right: 0;
		}

		&:before {
			@include number_pseudo;
			left: 0;
		}
	}

	.line {
		&:before {
			@include transition(width 0.3s ease-in-out);
			@include pseudo;
			background-color: #78c6eb;
			bottom: 0;
			height: 1px;
			left: 0;
			margin: auto;
			right: 0;
			top: 0;
			width: 26px;
		}
	}

	.symbol {
		position: relative;
	}

	.counter_label {
		@include transition(letter-spacing 0.3s ease-in-out, opacity 0.3s ease-in-out);
		margin-top: 1px;
		text-align: center;
		color: $lightbluefont;
		font-size: 20px;
		line-height: 20px;
		font-family: 'PT_Sans_Narrow_Bold';
		position: relative;
		letter-spacing: 0;
		text-transform: uppercase;
		opacity: 1;
	}

	.counter_tooltip {
		@include border_radius(5px);
		@include box_shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.22));
		position: absolute;
		height: 77px;
		width: 267px;
		background-color: $white;
		font-size: 14px;
		font-family: 'PT_Sans_Italic';
		top: -18px;
		right: -250px;
		color: $blue;
		display: none;

		&:before {
			@include pseudo;
			background: url('/img/user/core/counter_tooltip_arrow.png') no-repeat;
			width: 14px;
			height: 44px;
			top: 0;
			bottom: 0;
			margin: auto;
			left: -13px;
		}

		.adorable_cell {
			text-align: left;
			padding: 0 18px;
		}
	}

	.center {
		display: table-row;
	}

	.item {
		@include border_boxed;
		position: relative;
		margin: 18px 0;
		text-transform: uppercase;
		padding: 0 18px;
		text-align: left;
		line-height: 17px;
		text-decoration: inherit;

		&.encyclopedia {
			.label {
				&:before {
					content: 'Энциклопедия';
				}
			}
		}

		&.specialist {
			.icon {
				&:before {
					background-position: -37px 0;
				}
			}

			.label {
				&:before {
					content: 'Узнать у специалиста';
				}
			}
		}

		&.action {
			.icon {
				&:before {
					background-position: -74px 0;
				}
			}

			.label {
				&:before {
					content: 'Акции';
				}
			}
		}

		&.moneybox {
			.icon {
				&:before {
					height: 27px;
					width: 40px;
					background: url('/img/user/core/right_menu_icons.png') no-repeat;
					background-position: -80px 0;
				}
			}

			.label {
				&:before {
					content: 'Копилка';
				}
			}
		}

		&.about {
			.icon {
				&:before {
					background-position: -111px 0;
				}
			}

			.label {
				&:before {
					content: 'Агуша';
				}
			}
		}

		&.adorable_table {
			height: auto;
			cursor: pointer;

			&:hover, &.active {
				&:before {
					@include pseudo;
					background: url('/img/user/core/item_bg.png') no-repeat;
					width: 100%;
					height: 56px;
					top: -8px;
					left: 0;
				}

				&:after {
					@include pseudo;
					background: url('/img/user/core/active_arrow.png') no-repeat;
					right: -10px;
					top: -8px;
					width: 10px;
					height: 50px;
				}

				&.encyclopedia {
					.icon:before {
						background-position: 0 -34px;
					}
				}

				&.specialist {
					.icon:before {
						background-position: -37px -34px;
					}
				}

				&.action {
					.icon:before {
						background-position: -74px -34px;
					}
				}

				&.moneybox {
					.icon:before {
						background-position: -80px -27px;
					}
				}

				&.about {
					.icon:before {
						background-position: -111px -34px;
					}
				}

				.icon {
					&:before {
						background-color: #5bbae6;
					}
				}
			}
		}
	}

	.icon {
		width: 50px;
		display: table-cell;
		height: 34px;

		&:before {
			@include pseudo;
			height: 100%;
			width: 37px;
			background: url('/img/user/core/menu_icons.png') no-repeat;
			background-color: $blue;
			z-index: 1;
		}
	}

	.label {
		@include transition(letter-spacing 0.3s ease-in-out);
		display: table-cell;
		vertical-align: middle;
		position: relative;
		width: 144px;
		letter-spacing: 0;
	}

	.search_item {
		height: 35px;

		.search_icon {
			@include border_radius(5px);
			@include transition(background-color 0.3s ease-in-out);
			background: url('/img/user/core/search.png') center no-repeat;
			background-color: $darkblue;
			position: absolute;
			top: 0;
			left: 18px;
			width: 35px;
			height: 100%;
			z-index: 10;
			cursor: pointer;
		}
	}

	.bottom {
		display: table-row;
		height: 70px;
		background-color: $darkblue;
	}

	.social {
		@include border_boxed;
		border-top: 1px solid $blackblue;
		height: 70px;
		white-space: nowrap;
		position: relative;
	}

	.social_block, .small_social_block {
		cursor: pointer;

		&:hover {
			background-color: #2ba2d9;
		}

		&:active {
			background-color: $darkblue;
		}
	}

	.social_block {
		@include my_inline_block;
		@include transition(width 0.3s ease-in-out);
		width: 76px;
		height: 100%;
		position: relative;
		z-index: 2;

		&:not(:first-child) {
			border-left: 1px solid $blackblue;
		}

		&:after {
			@include pseudo;
			@include absolute_centered;
			width: 23px;
			height: 21px;
			background: url('/img/user/core/social.png') no-repeat;
		}
	}

	.small_social_block {
		@include transition(opacity 0.3s ease-in-out);
		background-color: $darkblue;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: 1;

		&:after {
			@include pseudo;
			@include absolute_centered;
			width: 23px;
			height: 21px;
			background: url('/img/user/core/social.png') no-repeat;
			background-position: -69px 0px;
		}

		&:hover, &:active {
			&:after {
				background-position: -69px -22px;
			}
		}
	}

	.facebook {
		&:after {
			background-position: 0 -22px;
		}

		&:hover, &:active {
			&:after {
				background-position: 0 0;
			}
		}
	}

	.vkontakte {
		&:after {
			background-position: -23px -22px;
		}

		&:hover, &:active {
			&:after {
				background-position: -23px 0;
			}
		}
	}

	.odnoklassniki {
		&:after {
			background-position: -46px -22px;
		}

		&:hover, &:active {
			&:after {
				background-position: -46px 0;
			}
		}
	}

	.copyright {
		height: 58px;
		color: $darkbluefont;
		font-size: 10.67px;
		position: relative;
		overflow: hidden;

		&:before {
			@include pseudo;
			@include absolute_centered;
			content: '© 2014 Вимм-Билль-Данн' !important;
			width: 129px;
			height: 11px;
		}
	}
}

#logo {
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#search_input {
	@include transition(width 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out);
	width: 194px;
	height: 35px;
	background-color: $darkblue;
	color: $white;
	font-size: 12px;
	padding: 0 10px 0 35px;
	position: relative;
	opacity: 1;

	&:hover {
		@include box_shadow(0 0 0 2px #5ebce7);
	}

	&:active {
		@include box_shadow(0 0 0 2px transparent);

		+ .search_icon {
			background-image: url("/img/user/core/search_small.png");
		}
	}
}

.left_inner_menu {
	@include min_max_height;
	@include transition(width 0.3s ease-in-out, margin-left 0.3s ease-in-out, left 0.3s ease-in-out);
	display: table-cell;

	width: 0;
	display: table-cell;

	&.show {
		width: 160px;
	}
}

#left_inner_menu {
	position: fixed;
	width: 160px;
	z-index: 10;
	top: 0;
	left: 230px;
	margin-left: -170px;
	color: $white;
	background: black;
	
	&.show {
		margin-left: 0 !important;
		
		.item {
			overflow-x: visible;
		}
	}

	&.small {
		left: 70px
	}

	.topper {
		@include border_boxed;
		display: table-row;
		height: 160px;
		background-color: $titleblue;

		.adorable_cell {
			padding: 25px;
		}
	}

	.top_label {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.label {
		font-size: 24px;
		font-family: 'PT_Sans_Narrow_Bold';
		text-transform: uppercase;
	}

	.center {
		display: table-row;
		background-color: #126da7;
	}

	.item {
		height: 50px;
		text-transform: uppercase;
		width: 100%;
		position: relative;
		text-decoration: none;
		overflow-x: hidden;

		&:hover {
			background-color: $titleblue;

			&:before {
				@include pseudo;
				width: 158px;
				height: 6px;
				bottom: -6px;
				left: 0;
				background: url('/img/user/core/left_inner_shadow.png');
			}

			&:after {
				@include pseudo;
				width: 10px;
				height: 45px;
				background: url('/img/user/core/inner_item_active.png');
				top: 0;
				bottom: 0;
				margin: auto;
				right: -10px;
			}
		}

		.adorable_cell {
			text-align: left;
			padding: 0 20px;
		}
	}
	
	.item_row {
		height: 20%;
		position: relative;
		display: block;
		
		&:before {
			@include pseudo;
			width: 11px;
			height: 100%;
			right: -10px;
			display: none;
		}
		
		&:after {
			@include pseudo;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.5);
		}
		
		&:hover, &.active {
			&:after {
				display: none;
			}
		}
		
		&.active {
			&:before {
				display: block;
			}
		}
	}
	
	.module_tab_products {
		background: url('/img/user/core/left_inner_menu_products.jpg') no-repeat;
		@include background_cover;
		
		&:before {
			background: url('/img/user/core/left_inner_menu_products_arrow.png') no-repeat left;
			@include background_contain;
		}
		
		.item_label {
			color: $darkgrey;
		}
	}
	
	.module_tab_news {
		background: url('/img/user/core/left_inner_menu_news.jpg') no-repeat;
		@include background_cover;
		
		&:before {
			background: url('/img/user/core/left_inner_menu_news_arrow.png') no-repeat left;
			@include background_contain;
		}
	}
	
	.module_tab_production {
		background: url('/img/user/core/left_inner_menu_production.jpg') no-repeat;
		@include background_cover;
		
		&:before {
			background: url('/img/user/core/left_inner_menu_production_arrow.png') no-repeat left;
			@include background_contain;
		}
		
		.item_label {
			color: $darkgrey;
		}
	}
	
	.module_tab_download {
		background: url('/img/user/core/left_inner_menu_download.jpg') no-repeat;
		@include background_cover;
		
		&:before {
			background: url('/img/user/core/left_inner_menu_download_arrow.png') no-repeat left;
			@include background_contain;
		}
	}
	
	.module_tab_contacts {
		background: url('/img/user/core/left_inner_menu_contacts.jpg') no-repeat;
		@include background_cover;
		
		&:before {
			background: url('/img/user/core/left_inner_menu_contacts_arrow.png') no-repeat left;
			@include background_contain;
		}
	}
	
	.item_label {
		position: absolute;
		width: 100%;
		font-size: 16px;
		font-family: 'PT_Sans_Narrow_Bold';
		line-height: 18px;
		bottom: 6.25%;
		left: 0;
		text-transform: uppercase;
		height: 36px;
	}
}

#center_container {
	display: table-cell;
	text-align: center;
	vertical-align: top;
	height: 100%;
}

#modules {
	height: 100%;
	position: relative;
	overflow: visible;
	z-index: 9;

	.content {
		height: 100%;
	}
}

#register_corner {
	position: fixed;
	right: 0;
	top: 0;
	width: 175px;
	height: 72px;
	background: url('/img/user/core/register_bg.png') no-repeat;
	z-index: 10;

	.lock {
		position: absolute;
		top: 25px;
		left: 50px;
	}

	.adorable_cell {
		text-align: left;
	}

	.labels {
		position: absolute;
		top: 0;
		right: 0;
		width: 90px;
		height: 70px;
		font-size: 12px;
		color: $greyfont;
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
	}
}

.module {
	@include clearfix;
	@include box-sizing(border-box);
	padding-bottom: 211px !important;
	display: none;
	margin: 0 auto;
	min-height: 100%;

	.content {
		position: relative;
		z-index: 10;
		margin: 0 auto;
	}

	&.active {
		display: block;
	}
}

.module_preload {
	background-color: $bg;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

	img {
		@include absolute_centered;
	}
}

.top_label {
	text-transform: uppercase;
	font-size: 16px;
}

.column {
	@include column;
}

.clearfix {
	@include clearfix;
}

#footer {
	clear: both;
	margin-top: -211px;

	.footer {
		width: 100%;
		height: 210px;
		border-top: 1px solid $brown;
		color: darken($brownfont, 20%);
		background-color: #efebe9;

		.content {
			display: inline-block;
			vertical-align: top;
			text-align: left;
			height: auto;

			@media only screen and (max-width: 1180px) {
				width: 580px;
			}

			@media only screen and (min-width: 1180px) {
				width: 900px;
			}
		}

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.top {
			padding-bottom: 20px;
			line-height: 25px;
		}

		.bottom {
			border-top: 1px solid $brown;
			height: 58px;
			position: relative;
		}

		.copyright {
			height: 100%;
			color: $darkbrown;
			text-transform: uppercase;

			.content {
				height: 100%;
			}
		}

		.left {
			width: 280px;
			margin-right: 20px;
			float: left;
			padding-top: 25px;
		}

		.right {
			width: 280px;
			float: left;
			padding-top: 25px;
		}

		.last {
			float: left;
			margin-left: 20px;
			width: 280px;
			padding-top: 25px;
			clear: none;
			@media only screen and (max-width: 1180px) {
				clear: both;
				width: 100%;
				margin-left: 0;
			}
		}

		.last_left {
			width: 280px;
			float: left;
			margin-right: 20px;
		}

		.last_right {
			width: 280px;
			float: left;
		}

		.c_2014 {
			width: 180px;
			height: 100%;
			float: left;
			font-size: 12px;

			.adorable_cell {
				text-align: left;
			}
		}

		.use_link {
			width: 400px;
			height: 100%;
			float: right;
			font-size: 10px;

			.adorable_cell {
				text-align: right;
				padding-right: 100px;
			}
		}
	}
}

.comments {

	.comments_container .item {
		display: none;
	}

	.comments_container.allVisible .item {
		display: block;
	}

	.comments_container .item:nth-last-child(-n+10) {
		display: block;
	}

	.comments_all {
		&:hover {
			cursor: pointer;
		}
	}
}

.hidden {
	display: none;
}

.cropper-container {
	border-radius: 20px;
}

.cropper-viewer {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden !important;
	outline: none !important;
	border-radius: 50%;
}

.cropper-canvas {
	border-radius: 20px !important;
}

/*.cropper-dashed {
	display: none !important;
}*/

.cropper-face {
	opacity: 1 !important;
}

.cropper-face {
	top: -1px !important;
	left: -1px !important;
	cursor: move;
	background-color: #fff !important;
	background: none !important;
	border: 1px dashed #797670;
	border-radius: 50%;
}

.point-nw, .point-ne, .point-sw, .point-se {
	display: none !important;
}

.cropper-line {
	display: none !important;
}

/*.cropper-point {
	display: none !important;
}*/

.scrollToTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 52px;
	@extend %bg-image-cover;
	background-image: url('/img/user/main/scrollToTop.png');
	opacity: 0.85;
	@include transition(opacity 150ms ease-in-out 0s);

	&:hover {
		cursor: pointer;
		opacity: 1;
	}
}

.mainPopupWrapper {
	position: fixed;
	line-height: 1.6;
	z-index: 12;

	.mainPopupBackground {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(35,133,178,0.9);

		&:hover {
			cursor: pointer;
		}
	}

	.mainPopupContent {
		position: fixed;
		left: 50%;
		top: 50%;
		margin-left: rem(-160);
		@include transform(translateY(-50%));
		background: #f2efed;
		border-radius: 20px;
		width: rem(320);
		padding: rem(55);
		color: #666666;
		text-align: center;

		.closeMainPopup {
			position: absolute;
			top: 17px;
			right: 17px;
			height: 30px;
			width: 30px;
			background: url("/img/user/helpers/popUp/close.png");
			cursor: pointer;
			opacity: 1;
		}

		h1 {
			font-size: 24px;
		}
		p {
			font-size: 16px;
			line-height: 23px;
		}
	}
}

.need_help {
	@include transition(0.3s ease-in-out);
	border-top-left-radius: 33px;
	position: fixed;
	background-color: $blue2;
	height: 105px;
	right: 0;
	bottom: 0;
	width: 70px;
	z-index: 9;
	color: white;

	&:hover {
		text-decoration: underline;
		height: 125px;
	}

	&:before {
		@include pseudo;
		@include absolute_horizontal_centered;
		width: 34px;
		height: 34px;
		top: 18px;
		background: url('/img/user/core/need_help.png') no-repeat;
	}

	.label {
		margin-top: 57px;
		text-align: center;
		line-height: 16px;
	}
}
