@import '../dynamic/dynamic';

@mixin bold {
	font-family: 'PT_Sans_Bold';
	letter-spacing: 0.5px;
}

@font-face {
    font-family: 'novito_nova_thin';
    src: url('/css/fonts/Novito_Nova_Thin.eot');
    src: url('/css/fonts/Novito_Nova_Thin.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Novito_Nova_Thin.woff') format('woff'),
         url('/css/fonts/Novito_Nova_Thin.ttf') format('truetype'),
         url('/css/fonts/Novito_Nova_Thin.svg#novito_nova_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Regular';
    src: url('/css/fonts/pt_sans.eot');
    src: url('/css/fonts/pt_sans.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/pt_sans.woff') format('woff'),
         url('/css/fonts/pt_sans.ttf') format('truetype'),
         url('/css/fonts/pt_sans.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Italic';
    src: url('/css/fonts/pt_sans_italic.eot');
    src: url('/css/fonts/pt_sans_italic.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/pt_sans_italic.woff') format('woff'),
         url('/css/fonts/pt_sans_italic.ttf') format('truetype'),
         url('/css/fonts/pt_sans_italic.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Bold';
    src: url('/css/fonts/pt_sans_bold.eot');
    src: url('/css/fonts/pt_sans_bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/pt_sans_bold.woff') format('woff'),
         url('/css/fonts/pt_sans_bold.ttf') format('truetype'),
         url('/css/fonts/pt_sans_bold.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT_Sans_Narrow_Bold';
    src: url('/css/fonts/pt_sans_narrow_bold.eot');
    src: url('/css/fonts/pt_sans_narrow_bold.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/pt_sans_narrow_bold.woff') format('woff'),
         url('/css/fonts/pt_sans_narrow_bold.ttf') format('truetype'),
         url('/css/fonts/pt_sans_narrow_bold.svg#pt_sans_narrow_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novito';
    src: url('/css/fonts/novito.eot');
    src: url('/css/fonts/novito.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/novito.woff') format('woff'),
         url('/css/fonts/novito.ttf') format('truetype'),
         url('/css/fonts/novito.svg#novito') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'novito_nova_regular';
    src: url('/css/fonts/novito_nova_regular.eot');
    src: url('/css/fonts/novito_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/novito_nova_regular.woff') format('woff'),
         url('/css/fonts/novito_nova_regular.ttf') format('truetype'),
         url('/css/fonts/novito_nova_regular.svg#novito_nova_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.novito {
	font-family: 'novito';
}

.novito_nova {
	font-family: "novito_nova_thin";
	word-spacing: -3.5px;
	letter-spacing: 0.5px;
}

.novito_nova_regular {
	font-family: "novito_nova_regular";
}