@import '../dynamic/dynamic';

::-webkit-input-placeholder {
    opacity: 1 !important;
	font-family: 'PT_Sans_Regular';
}

:-moz-placeholder {
    opacity: 1 !important;
	font-family: 'PT_Sans_Regular';
}

::-moz-placeholder {
    opacity: 1 !important;
	font-family: 'PT_Sans_Regular';
}

:-ms-input-placeholder {  
   opacity: 1 !important;
   font-family: 'PT_Sans_Regular';
}

button {
	@include border_radius(99999em);
	@include bold;
	border: none;
	outline-style: none;
	background-color: white;
	text-transform: uppercase;
	font-family: 'PT_Sans_Bold' !important;
	font-size: 16px;
	padding: 8px 30px;
	
	&:hover {
		opacity: 0.8;
	}
}

input {
	@include border_radius(5px);
	@include border_boxed;
	border: none;
	height: 50px;
	line-height: 50px !important;
	width: 100%;
	text-transform: uppercase;
	font-size: 100%;
	outline-style: none;
	padding: 0 10px;
	color: #999999;
	font-family: 'PT_Sans_Bold' !important;
	
	&.error {
		@include box_shadow(inset 0 0 0 3px #fd7b6a !important);
		background: $white !important;
	}
}