.bg

include ../encyclopedia/helpers

.content.userTitle(style = (user ? 'display: none' : ''))
	include ../helpers/breadcrumbs
	
	.topper_title Привет, <span class="username">#{breadcrumbs[0].title}</span>

	.tabs
		.tabs_flex
			.tab.tab_selector.my_strip(data-tab="my_strip")
				.tab_selector_inside
					.title Моя лента
			.tab.tab_selector.news.active(data-tab="news")
				.tab_selector_inside
					.title Что нового?

	.tab_contents
		.tab_content.tab_selector.my_strip
			.itemsWrap
				.feed_container

		.tab_content.tab_selector.news.active
			.content.itemsWrap
				.items_container
					- each a, i in articles.documents
						mixin article(a, i)
			if (articles.nextAnchorId)
				.loadMore
					img(src="/img/user/main/icon_book.gif")
