@import '../dynamic/dynamic';
@import '../helpers/reg_box';

#registration {
	height: 100%;
    width: 100%;
	background-color: #2385b2;
	
	.registration_inline {
		@include inline_block;
		height: 644px;
		position: relative;
		
		&.drop {
			.coin {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				
				bottom: 45px;
				opacity: 0;
			}
		}
		
		&.bounce {
			.moneybox {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	
	.reg_box {
		background: url('/img/user/registration/reg_moneybox_bg.png') no-repeat;
		height: 442px;
		overflow: hidden;
		
		> .adorable_table {
			> .adorable_cell {
				padding: 37px 39px;
			}
		}
		
		.reg_top {
			padding-bottom: 14px;
		}
		
		input {
			height: 39px;
			margin-top: 10px;
		}
	}
	
	.reg_box_inside {
		@include transition(opacity 0.3s ease-in-out);
		position: absolute;
		top: 0;
		left: 280px;
		width: 280px;
		height: 100%;
		opacity: 0;
		
		&.active {
			left: 0;
			opacity: 1;
		}
		
		&.registered  {
			> .adorable_cell {
				padding: 48px 22px 22px;
			}
			
			.title {
				font-size: 16px;
				font-family: 'PT_Sans_Bold';
				text-transform: uppercase;
			}
			
			.center_text {
				margin-top: 40px;
			}
			
			.bottom_text {
				margin-top: 22px;
			}
			
			button {
				@include box_shadow(0 2px 0 #379fd2);
				margin: 34px 0 48px;
				background-color: $lightblue;
				color: $white;
			}
		}
	}
	
	.coin {
		-webkit-transition: -webkit-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		-moz-transition: -moz-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		-o-transition: -o-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		-ms-transition: -ms-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		transition: transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		
		@include box_shadow(0 0 0 transparent);
		height: 73px;
		width: 77px;
		position: absolute;
		bottom: 193px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 5;
		opacity: 1;
	}
	
	.done {
		background-color: #61D1FF;
		color: #FFFFFF;
		margin-top: 20px;
		padding: 7px 30px;
	}
	
	.social {
		padding-top: 19px;
	}
	
	.social_text {
		margin-bottom: 6px;
	}
	
	.get_text {
		margin: 10px 0 43px;
		font-size: 16px;
		text-transform: uppercase;
		font-family: 'PT_Sans_Bold';
	}
	
	.moneybox {
		-webkit-transition: -webkit-transform 0.2s ease-in-out;
		-moz-transition: -moz-transform 0.2s ease-in-out;
		-o-transition: -o-transform 0.2s ease-in-out;
		-ms-transition: -ms-transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out;
					
		margin-top: 30px;
		position: relative;
		height: 147px;
		
		&:after {
			@include pseudo;
			background: url('/img/user/registration/moneybox_bottom.png') bottom no-repeat;
			width: 210px;
			height: 116px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 10;
		}
	}
	
	.message {
		position: absolute;
		width: 201px;
		height: 89px;
		top: 66px;
		background: url('/img/user/registration/message_bg.png') no-repeat;
		right: -221px;
		
		.adorable_cell {
			padding: 20px 20px 20px 35px;
			color: $white;
			font-size: 12px;
			font-family: 'PT_Sans_Italic';
		}
	}
}