@import '../dynamic/dynamic';
@import '../helpers/reg_box';

#registration {
	@include box_shadow(0 0 0 4px #2385b2);
	height: 100%;
    width: 100%;
	background-color: #2385b2;
	
	.reg_box {
		margin: 0 0 30px;
		background: url('/img/user/registration/reg_box_bg.png') no-repeat;
		width: 580px;
	}
	
	input {
		margin: 20px 10px 0;
	}
	
	.done {
		background-color: #61D1FF;
		color: #FFFFFF;
		margin-top: 32px;
	}
	
	.child {
		text-align: center;
	}
}