@import '../dynamic/dynamic';
@import '../helpers/reg_box';

#registration {
	height: 100%;
    width: 100%;
	background-color: #2385b2;
	
	.registration_inline {
		height: 644px;
		position: relative;
		width: 550px;
		margin: 0 auto;
		
		&.drop {
			.coin {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				
				bottom: 45px;
				opacity: 0;
			}
			
			.pinball {
				bottom: 172px;
				
				&.left {
					left: 177px;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				
				&.right {
					right: 177px;
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
		
		&.bounce {
			.moneybox {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
	
	.reg_box {
		background: url('/img/user/registration/reg_box_bg_3.png') no-repeat;
		height: 423px;
		overflow: hidden;
		width: 530px;
		
		> .adorable_table {
			> .adorable_cell {
				padding: 0 39px;
			}
		}
		
		input {
			margin-top: 15px;
			height: 39px;
			
			&.password, &.email {
				margin-top: 10px;
			}
		}
	}
	
	.reg_top {
		font-family: 'PT_Sans_Narrow_Bold';
		font-size: 24px;
		line-height: 24px;
	}
	
	.reg_box_inside {
		@include transition(opacity 0.3s ease-in-out);
		position: absolute;
		top: 0;
		left: 530px;
		width: 530px;
		height: 100%;
		opacity: 0;
		
		&.active {
			left: 0;
			opacity: 1;
		}
		
		&.registered  {
			> .adorable_cell {
				padding: 48px 22px 22px;
			}
			
			.title {
				font-size: 16px;
				font-family: 'PT_Sans_Bold';
				text-transform: uppercase;
			}
			
			.center_text {
				margin-top: 40px;
			}
			
			.bottom_text {
				margin-top: 22px;
			}
			
			button {
				@include box_shadow(0 2px 0 #379fd2);
				margin: 34px 0 48px;
				background-color: $lightblue;
				color: $white;
			}
		}
	}
	
	.coin {
		-webkit-transition: -webkit-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		-moz-transition: -moz-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		-o-transition: -o-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		-ms-transition: -ms-transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		transition: transform 0.9s ease-in-out, bottom 0.9s ease-in-out, opacity 0.1s ease-in-out 0.9s;
		
		@include box_shadow(0 0 0 transparent);
		height: 68px;
		width: 70px;
		position: absolute;
		bottom: 176px;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 5;
		opacity: 1;
	}
	
	.pinball {
		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		-moz-transition: -moz-transform 0.3s ease-in-out;
		-o-transition: -o-transform 0.3s ease-in-out;
		-ms-transition: -ms-transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		position: absolute;
		width: 58px;
		height: 41px;
		bottom: 183px;
		z-index: 1;
		
		&.left {
			background: url('/img/user/registration/pinball_left.png') no-repeat;
			left: 190px;
		}
		
		&.right {
			background: url('/img/user/registration/pinball_right.png') no-repeat;
			right: 190px;
		}
	}
	
	.login_label {
		margin-top: 20px;
	}
	
	.name {
		width: 414px;
	}
	
	.password {
		margin-left: 10px;
	}
	
	.done {
		background-color: #61D1FF;
		color: #FFFFFF;
		padding: 0 30px;
		width: 153px;
		height: 40px;
		margin-top: 20px;
	}
	
	.social {
		padding-top: 19px;
		
		.text {
			.adorable_cell {
				text-align: right;
			}
		}
	}
	
	.social_text {
		margin-bottom: 6px;
	}
	
	.get_text {
		padding: 17px 0 0;
		font-size: 16px;
		line-height: 16px;
		text-transform: uppercase;
		font-family: 'PT_Sans_Narrow_Bold';
		color: $lightblue;
		clear: both;
	}
	
	.moneybox {
		-webkit-transition: -webkit-transform 0.2s ease-in-out;
		-moz-transition: -moz-transform 0.2s ease-in-out;
		-o-transition: -o-transform 0.2s ease-in-out;
		-ms-transition: -ms-transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out;
					
		margin-top: 37px;
		position: relative;
		height: 147px;
		
		&:after {
			@include pseudo;
			background: url('/img/user/registration/moneybox_bottom.png') bottom no-repeat;
			width: 210px;
			height: 116px;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 10;
		}
	}
	
	.message {
		position: absolute;
		width: 201px;
		height: 89px;
		top: 66px;
		background: url('/img/user/registration/message_bg.png') no-repeat;
		right: -221px;
		display: none;
		
		.adorable_cell {
			padding: 20px 20px 20px 35px;
			color: $white;
			font-size: 12px;
			font-family: 'PT_Sans_Italic';
		}
	}
}