.article_bottom
	.interesting_title
		.half.left
			.adorable_table
				.adorable_cell
					| Вам будет интересно
		
		.half.right
			.adorable_table
				.adorable_cell
					span 3 / 5

	.interesting_content

		- each similarArticle, similarArticleKey in similarArticles

			.item.column
				.item_topper.adorable_table
					.adorable_cell
						.top_label #{similarArticle.theme.name}
						.label #{similarArticle.title}
				
				.item_body(style="background-image: url('/img/uploads/#{similarArticle.image}')")
				
				.item_footer.adorable_table
					.adorable_cell 396 мам одобряют

	include interesting

	.comments
		.comments_topper
			.comments_title Коментарии
			.comments_all Все 12
		
		.comments_container
			.item
				.comment_table
					.icon
						img(src='/img/user/article/comment_icon.png')
					.image
						.avatar.rounded
							img.rounded(src='/img/avatar_100x100.jpg')
					.text
						.time 15 сен.
						.name Ирина
						div У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали.
					.rating
						div
							img.plus(src='/img/user/article/plus.png')
							.number 19
							img.minus(src='/img/user/article/minus.png')
			
			.item
				.comment_table
					.icon
						img(src='/img/user/article/comment_icon.png')
					.image
						.avatar.rounded
							img.rounded(src='/img/avatar_100x100.jpg')
					.text
						.time 15 сен.
						.name Ирина
						div У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали.
					.rating
						div
							img.plus(src='/img/user/article/plus.png')
							.number 19
							img.minus(src='/img/user/article/minus.png')

	.comment_box
		.comment_table
			.image
				.avatar.rounded
					img.rounded(src='/img/avatar_100x100.jpg')
			
			.form_container
				form.comment_form
					textarea(name="text", placeholder="А что Вы думаете по этому поводу?")
					.bottom.adorable_table
						.adorable_cell
							button.comment_button Высказаться
							img.clip(src="/img/user/article/clip.png")
							span.attach Прикрепить фото

	.login_box
		.info.column.double
			.adorable_table
				.adorable_cell
					.warning Добавлять комментарии могут только авторизированные пользователи
					.explanation
						| Есть что сказать? Авторизируйся и используй 
						span.italic все приимущества
						|  своего профиля!
					
					.links
						a.login(href="/login", class="new_module") Вход
						span /
						a.register(href="/registration", class="new_module") Регистрация