.reg_box.column
	.adorable_table
		.adorable_cell
			.reg_top
				a.login.active(href="/login") Вход
				span /
				a.register(href="/registration") Регистрация
			
			form(class='login_form')
				
				input.email(type="email", name="email", placeholder="E-Mail")
				input.password(type="password", name="password", placeholder="Пароль")
				
				.forgot Забыли пароль?
				
				button.done Готово
			
			.social
				.social_block.social_inline.facebook
				.social_block.social_inline.twitter
				.social_block.social_inline.vkontakte
