.reg_box.column
	.adorable_table
		.adorable_cell
			.reg_top
				a.login.active(href="/login") Вход
				span /
				a.register(href="/registration") Регистрация
			
			form.login_form
				
				input.email(type="email", name="email", can-value="email" placeholder="E-Mail")
				input.password(type="password", name="password", can-value="password" placeholder="Пароль")
				
				.forgot Забыли пароль?
				
				button.done Готово
			
			.social
				.social_block.social_inline.facebook
				.social_block.social_inline.vkontakte
				.social_block.social_inline.odnoklasniki