.interesting_title
	.half.left
		.adorable_table
			.adorable_cell
				| Вам будет интересно
	
	.half.right
		.adorable_table
			.adorable_cell
				img.left_arrow(src="/img/user/article/left_arrow.png")
				span 3 / 5
				img.right_arrow(src="/img/user/article/right_arrow.png")

.interesting_content
	
	- each similarArticle, similarArticleKey in similarArticles

		.item.column
			.item_topper.adorable_table
				.adorable_cell
					.top_label #{similarArticle.theme.name}
					.label #{similarArticle.title}
			
			.item_body(style="background-image: url('/img/uploads/#{similarArticle.image.background}')")
			
			.item_footer.adorable_table
				.adorable_cell 396 мам одобряют