.reg_box.column
	.adorable_table
		.adorable_cell
			.reg_top
				a.login(href="/login") Вход
				span /
				a.register.active(href="/registration") Регистрация
			
			form.registration_form
				input.first_name(type="text", name="firstname", can-value='firstname' placeholder="Имя")
				input.last_name(type="text", name="lastname", can-value='lastname' placeholder="Фамилия")
				
				input.email(type="email", name="email", can-value='email' placeholder="E-Mail")
				input.password(type="password", name="password", can-value='password' placeholder="Пароль")
				
				button.done Готово
			
			.social
				.social_text.social_inline
					.adorable_table
						.adorable_cell
							| Быстрый вход через
							br
							| одну из соц сетей
				
				.social_block.social_inline.facebook
				.social_block.social_inline.twitter
				.social_block.social_inline.vkontakte