@import "../../js/plugins/bourbon/dist/_bourbon.scss";
@import "../customMixins.scss";

#encyclopedia-article .panel-body {
	background-color: #f2eeeb;
}

.editArticle, .removeArticle {
	display: none;
	position: absolute;
	top: 2%;
	z-index: 5;
}

.editArticle {
	left: 2%;
}

.removeArticle {
	right: 2%;
}

.article-box {
	width: 250px;
	margin: 0 8px 8px;
	height: 340px;
	position: relative;
	display: inline-block;
	background-color: white;
	cursor: pointer;
	@include transition(box-shadow .3s ease-out 0s);
	&:hover {
		box-shadow:0px 0px 15px 5px #0066cc;
		.editArticle, .removeArticle {
			display: block !important;
		}
	}
}

.article-top, .article-bottom {
	position: absolute;
	left: 0;
	width: 100%;
	height: 43%;
	text-align: center;
	background-size: cover;
}

.article-top {
	top: 0;
	&.no-image {
		background-color: #69d48e;
	}
}

.article-bottom {
	top: 43%;
}

.article-title {
	@include vertical-align;
	font-size: 130%;
	text-align: center;
}

.article-cellar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 14%;
	width: 100%;
	border-top: 1px solid #e4e0dd;
	div {
		width: 33%;
		float: left;
		@include vertical-align;
		text-align: center;
	}
}