// html, body, .wrapper, aside, .moduleWrap {
//     height: 100%;
// }

// html, body {
// 	overflow: hidden;
// }

// body > .wrapper {
// 	overflow-y: auto;
// }

// aside {
// 	margin-bottom: -50px;
// 	height: 80%;
// 	height: calc(-50px + 100%);
// }

.moduleWrap {
    position: relative;
}

.note-editor {
	background: white;
}


#export-form {
  width: 60%;
}

#export-form label {
  margin-left: 10px;
}
// body > .header {
// 	width: 100%;
// }
