html, body, .wrapper, aside, .moduleWrap {
    height: 100%;
}

body {
	overflow: hidden;
}

aside {
	margin-bottom: -50px;
	height: 80%;
	height: calc(-50px + 100%);
}

.moduleWrap {
    position: relative;
}

.note-editor {
	background: white;
}

body > .header {
	width: 100%;
}