<div class="popUpWrap{{#if visible}} visible{{/if}} {{classes}}">
    <div class="popUpBody">
        <div class="contentWrap">
            <div class="close"></div>
            <div class="title">{{{title}}}</div>
            <div class="text">
            	<div class="childUserPic">
            		<div class="photoArea">
                        <img class="photoCircle" src="{{child.image.large}}" />
                    </div>
                    <div class="buttons">
                        <div class="button upload" {{uploader 'child'}}>Загрузить</div>
                        <div class="button remove">Удалить</div>
                    </div>   
            	</div>
            	<div class="childMetaInfo">
            		<input type="text" can-value="child.name" placeholder="Имя детеныша" class="deletable">
            		<div class="buttons">
            			<input type="radio" can-value="child.gender" class="childGender" value="1" name="child_gender" id="child_male">
            			<label for="child_male">
    						мальчик
            			</label>
            			<input type="radio" can-value="child.gender" class="childGender" value="2" name="child_gender" id="child_female">
            			<label for="child_female">
            				девочка
            			</label>
            		</div>
            		<div class="childBirthDate">

                        <div class="customSelect customDay inactive" data-target="customDay">
                            <p class="content"><span class="value">День</span> <span class="triangleDown">▾</span></p>
                            <div class="customSelectList">
                                {{#each dates.days}}
                                    <p class="customSelectListItem" data-value="{{.}}">{{.}}</p>
                                {{/each}}
                            </div>
                        </div>

                        <div class="customSelect customMonth inactive" data-target="customMonth">
                            <p class="content"><span class="value">Мес.</span> <span class="triangleDown">▾</span></p>
                            <div class="customSelectList">
                                {{#each dates.months}}
                                    <p class="customSelectListItem" data-value="{{@index}}">{{.}}</p>
                                {{/each}}
                            </div>
                        </div>

                        <div class="customSelect customYear inactive" data-target="customYear">
                            <p class="content"><span class="value">Год.</span> <span class="triangleDown">▾</span></p>
                            <div class="customSelectList">
                                {{#each dates.years}}
                                    <p class="customSelectListItem" data-value="{{.}}">{{.}}</p>
                                {{/each}}
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div style="display: none">

                            <select class="birth_day customDay" can-value="child.birth.day">
                                <option disabled="disabled" selected>День</option>
                                {{#each dates.days}}
                                    <option value="{{.}}">{{.}}</option>
                                {{/each}}
                            </select>

                            <select can-value="child.birth.month" class="birth_month customMonth">
                                <option disabled="disabled" selected>Мес.</option>
                                {{#each dates.months}}
                                    <option value={{@index}}>{{.}}</option>
                                {{/each}}
                            </select>
                            <select can-value="child.birth.year" class="birth_year customYear">
                                <option disabled="disabled" selected>Год</option>
                                {{#each dates.years}}
                                    <option value="{{.}}">{{.}}</option>
                                {{/each}}
                            </select>

                        </div>

            		</div>
            	</div>
            </div>
            <div class="bottomButton">
	            <button class="button ok">Сохранить</button>
            </div>
        </div>
    </div>
</div>
