<div class="popUpWrap{{#if visible}} visible{{/if}} {{classes}}">
    <div class="popUpBody">
        <div class="contentWrap">
            <div class="close"></div>
            <div class="title">{{{title}}}</div>
            <div class="text">
            	<div class="childUserPic">
            		<div class="photoArea">
            			<div class="photoCircle"></div>
            		</div>
            	</div>
            	<div class="childMetaInfo">
            		<input type="Ванечка" can-value="child.name" placeholder="Имя детеныша" class="deletable">
            		<div class="buttons">
            			<input type="radio" can-value="child.gender" class="childGender" value="1" name="child_gender" id="child_male" {{#genderChecked 'male'}}checked{{/genderChecked}}>
            			<label for="child_male">
    						мальчик
            			</label>
            			<input type="radio" can-value="child.gender" class="childGender" value="2" name="child_gender" id="child_female" {{#genderChecked 'female'}}checked{{/genderChecked}}>
            			<label for="child_female">
            				девочка
            			</label>
            		</div>
            		<div class="childBirthDate">
            			<input type="text" name="birth_day" can-value="child.birth.day" placeholder="день" class="childBirthInput" />
            			<input type="text" name="birth_month" can-value="child.birth.month" placeholder="мес." class="childBirthInput" />
            			<input type="text" name="birth_year" can-value="child.birth.year" placeholder="год" class="childBirthInput" />
            		</div>
            	</div>
            </div>
            <div class="bottomButton">
	            <button class="button ok">Сохранить</button>
            </div>
        </div>
    </div>
</div>

