.content
	.whats_up
	
	.topper
		.top_label
			| НОВЫЙ
			br
			| ЙОГУРТ со злаками
		
		.label.novito_nova
			| ПОЛЬЗА МОЛОКА
			br
			| И ЗЛАКОВ В ОДНОЙ
			br
			| БУТЫЛОЧКЕ
		
		button.banner_button Это вкусно?
	
	include ../helpers/reg_box