include ../helpers/counter

.carousel_container(style= (user ? 'display: none;' : ''))
	#main_carousel.carousel.slide(data-ride="carousel")
		.carousel-inner(role="listbox")
			if duration.diff > 0
				.item.duration.active
					.banner_image.banner_image_spring_registration
					.content
						.action_box
							.we_have_action А у нас акция!
							
							.action_title Весенняя регистрация
							
							.action_desc
								div
									span Спешите зарегистрироваться на сайте 
									span.orange до 20.05
								div и станьте участником розыгрыша полезных и вкусных
								div подарков для вашего малыша от «Агуша»!
							
							.counter_block
								- var server = true
								mixin counter(server)
							
							.button_block.adorable_table
								.adorable_cell
									a.new_module.ga_event(data-event="SpringRegistrationBanner" href="/springregistration")
										button.action_button Участвовать в розыгрыше 
			
			//- .item(class = (duration.diff > 0 ? '' : 'active'))
				.banner_image.banner_image_moneybox_2
				.content
					.top_label
						div Копилка:
						.small_part
							div.small_label Второй розыгрыш подарков
							div.small_label для вашего малыша
							div.small_label
								span уже 
								span.bold_small_label 6 апреля
					
					a.new_module(href="/moneybox")
						button.carousel_button.orange Узнать больше
			
			//- .item
				.banner_image.banner_image_new_year
				.content
					.top_label
						div «Агуша»
						div поздравляет мам
						div и малышей
						div с Новым годом
						div и Рождеством!
			
			//- .item
				.banner_image.banner_image_8_marta
				.content
					.top_label.pink
						div Дорогие
						div мамочки!
						div С праздником
						div весны -
						div женским днем
						div 8 марта!
			
			//- .item
				.banner_image.banner_image_moneybox
				.content
					.top_label
						div Уже 2 марта состоится
						div первый розыгрыш
						div замечательных
						div подарков для малышей
					
					a.new_module(href="/moneybox")
						button.carousel_button.blue Подробнее
			
			.item(class = (duration.diff > 0 ? '' : 'active'))
				.banner_image.banner_image_1
				.content
					.top_label
						div Большая
						div энциклопедия
						div для мам
					
					a.new_module(href="/encyclopedia")
						button.carousel_button Узнать больше
			
			.item
				.banner_image.banner_image_2
				.content
					.top_label.green
						div На вопросы
						div отвечает
						div специалист
					
					a.new_module(href="/specialist")
						button.carousel_button.green Задать вопрос
			
			.item
				.banner_image.banner_image_3
				.content
					.top_label
						div Самое
						div натуральное
						div для вашего
						div малыша!
					
					a.new_module(href="/products")
						button.carousel_button.blue Подробнее
			
			//- .item
				.banner_image.banner_image_4
				.content
					.top_label.purple
						div Акция!
						div Мой малыш
						div меня удивляет
					
					button.carousel_button.purple Принять участие
		
		ol.carousel-indicators
			li.active(data-target="#main_carousel" data-slide-to="0")
			li(data-target="#main_carousel" data-slide-to="1")
			li(data-target="#main_carousel" data-slide-to="2")
			if duration.diff > 0
				li(data-target="#main_carousel" data-slide-to="3")
			//- li(data-target="#main_carousel" data-slide-to="4")
		
		.content.arrows_content
			a.left.carousel-control(href="#main_carousel" role="button" data-slide="prev")
			a.right.carousel-control(href="#main_carousel" role="button" data-slide="next")
		
		.registration_content.content
			.registration_block.adorable_table
				.adorable_cell
					.topper_label Еще не зарегистрировались на нашем сайте?
					.bottom_label Спешите получить доступ ко всем полезностям и интересностям!
					
					a.new_module(href="/registration")
						button.registration_button Зарегистрироваться

.mainModuleWrap
	//- img.apsBg(src="/img/user/main/topper_background.jpg")
	//- .content.bannerWrap(style = (user ? 'display: none' : ''))
		.whats_up
		
		.topper
			.top_label
				| НОВЫЙ
				br
				| ЙОГУРТ со злаками
			
			.label.novito_nova
				| ПОЛЬЗА МОЛОКА
				br
				| И ЗЛАКОВ В ОДНОЙ
				br
				| БУТЫЛОЧКЕ
			
			button.banner_button Это вкусно?
		
		include ../helpers/auth_box

	include ../registered/content
	
	- if (!user)
		.content.itemsWrap.commonFeed
			.items_container
				- each a, i in articles.documents
					mixin article(a, i)
			if (articles.nextAnchorId)
				.loadMore
					img(src="/img/user/main/icon_book.gif")
