.carousel_container(style= (user ? 'display: none;' : ''))
	#main_carousel.carousel.slide(data-ride="carousel")
		.carousel-inner(role="listbox")
			.item.active
				.banner_image.banner_image_1
				.content
					.top_label
						div Большая
						div энциклопедия
						div для мам
					
					a.new_module(href="/encyclopedia")
						button.carousel_button Узнать больше
			
			.item
				.banner_image.banner_image_2
				.content
					.top_label.green
						div На вопросы
						div отвечает
						div специалист
					
					a.new_module(href="/specialist")
						button.carousel_button.green Задать вопрос
			
			.item
				.banner_image.banner_image_3
				.content
					.top_label
						div Самое
						div натуральное
						div для вашего
						div малыша!
					
					a.new_module(href="/products")
						button.carousel_button.blue Подробнее
			
			.item
				.banner_image.banner_image_4
				.content
					.top_label.purple
						div Акция!
						div Мой малыш
						div меня удивляет
					
					button.carousel_button.purple Принять участие
		
		ol.carousel-indicators
			li.active(data-target="#main_carousel" data-slide-to="0")
			li(data-target="#main_carousel" data-slide-to="1")
			li(data-target="#main_carousel" data-slide-to="2")
			li(data-target="#main_carousel" data-slide-to="3")
		
		.content
			a.left.carousel-control(href="#main_carousel" role="button" data-slide="prev")
			a.right.carousel-control(href="#main_carousel" role="button" data-slide="next")
		
		.registration_content.content
			.registration_block.adorable_table
				.adorable_cell
					.topper_label Еще не зарегистрировались на нашем сайте?
					.bottom_label Спешите получить доступ ко всем полезностям и интересностям!
					
					a.new_module(href="/registration")
						button.registration_button Зарегистрироваться

.mainModuleWrap
	// img.apsBg(src="/img/user/main/topper_background.jpg")
	// .content.bannerWrap(style = (user ? 'display: none' : ''))
		.whats_up
		
		.topper
			.top_label
				| НОВЫЙ
				br
				| ЙОГУРТ со злаками
			
			.label.novito_nova
				| ПОЛЬЗА МОЛОКА
				br
				| И ЗЛАКОВ В ОДНОЙ
				br
				| БУТЫЛОЧКЕ
			
			button.banner_button Это вкусно?
		
		include ../helpers/auth_box

	include ../registered/content
	
	- if (!user)
		.content.itemsWrap.commonFeed
			.items_container
				- each a, i in articles.documents
					mixin article(a, i)
		if (articles.nextAnchorId)
			.loadMore
				img(src="/img/user/main/icon_book.gif")
