extends ../layout
include helpers

block append header
	link(href="/css/user/main/main.css" rel="stylesheet")
	meta(property="og:title" content = "Быть родителем интересно!")
	meta(property="og:description" content = "Особенно если знаешь, как правильно воспитывать, кормить, пеленать, развлекать и ухаживать за маленькой непоседой. У вас тоже есть детки? Тогда вам сюда!")
	meta(property="og:image" content = base_url + "/img/user/core/logo_2.png")

block content
	.module.server#main
		include content

block prepend scripts
	script.
		var app = {
			articles: !{JSON.stringify(articles)},
			themeSubs: !{JSON.stringify(themeSubs)},
			consultations: !{JSON.stringify(consultations)}
		};
	script#encyclopedia_mustache(type="text/mustache")
		| {{#each articles}}
		mixin article()
		| {{/each}}
	script#feed_mustache(type="text/mustache")
		mixin feed()