.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_title Ваши сообщения
	
	.messages_container
		.search_container
			.left
				input.search_contacts(type='text', placeholder='Поиск по списку контактов')
			
			.right
				button.message_button Написать сообщение
		
		.conversations_container
			.left.items_container
			
			.right
				.items_container
				
				.item.form_container.messageForm
					.item_table
						.avatar_column
							.avatar.crown
								img.rounded(src="#{userImage}")
						
						.content_column
							.textarea_container
								textarea(name="text")
							
							button.message_button Отправить
							
							.attach.adorable_table
								.adorable_cell
									img(src="/img/user/messages/clip.png")
									span Прикрепить файл