.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_title Title
	
	.title
		.label.adorable_table
			.adorable_cell
				| Зачем беременным
				br
				| йога?
		
		.middle
			.column.feedback
				.adorable_table
					.adorable_cell
						img.like(src="/img/user/article/heart.png")
						span.count 8
						span.approve
							| мамочек
							br
							| одобряют
						
						img.comment(src="/img/user/article/comment.png")
						span.count 37
			
			.column
				.adorable_table
					.adorable_cell
						.rounded.avatar
							img.rounded(src='/img/avatar_100x100.jpg')
						
			
			.column.social
				.adorable_table
					.adorable_cell
						.social_button
							.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
						
						.social_button
							a(href="https://twitter.com/share" class="twitter-share-button") Tweet
						
						.social_button
							div(id="vk_top_article_" + params.alias)
						
						.social_button
							div(id="ok_top_article_" + params.alias)
						
						.social_button
							.g-plusone(data-size="medium")
		
		.bottom
			.top_label Ирина Потапенко
			.bottom_label Детки: мальчик и девочка
	
	.article_content
		.left.column.double
			.left_content
				.date
					.adorable_table
						.adorable_cell
							span.day_month_year 26 сентября 2014
							span.time 11:52 am
				
				.title Польза йоги для будущих мам
				
				.text What you see is what you get
				
				.social
					.social_button
						.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
					
					.social_button
						a(href="https://twitter.com/share" class="twitter-share-button") Tweet
					
					.social_button
						div(id="vk_bottom_article_" + params.alias)
					
					.social_button
						div(id="ok_bottom_article_" + params.alias)
					
					.social_button
						.g-plusone(data-size="medium")
				
				.copyright © 2014 Копипаст редакции
			
			.footer
				.half.left
					.adorable_table
						.adorable_cell
							img.comment(src="/img/user/article/comment.png")
							span.count 37 
							span.slash / 
							span.post_comment Комментировать
							
				.half.right
					.adorable_table
						.adorable_cell
							img.like(src="/img/user/article/heart.png")
							span.count 8 
							span.slash / 
							span.post_like Одобрить
		
		.right.column
			.question.adorable_table
				.adorable_cell
					.title Появился вопрос?
					.subtitle Задай его специалисту!
					.avatar
						img.rounded(src='/img/avatar_100x100.jpg')
					.name Ирина Матвиенко
					.info Кандидат медицинских наук, старший научный сотрудник отделения медицинских проблем здорового ребенка и преморбидных состояний.
					button.ask_button Задать вопрос
			
			.author
				.topper
					.avatar
						img.rounded(src='/img/avatar_100x100.jpg')
					
					.info
						.label Автор
						.name Ирина Потапенко
						.level
							span.league Мама профи
							img.star(src="/img/user/article/star.png")
							img.star(src="/img/user/article/star.png")
							img.star(src="/img/user/article/star.png")
							img.star(src="/img/user/article/star.png")
							img.star(src="/img/user/article/star.png")
						.children Детки: мальчик и девочка
				
				.center
					div Тема:
					div Планирование беременности
					div Возраст: 
					div Беременность / Планирование / До 1 годика
					div Теги:
					.tags
						.tag если вы
						.tag занимались йогой
						.tag раньше
						.tag скорее всего польза
						.tag йогических
						.tag упражнений
						.tag для будущих мам
						.tag вызывает у вас
						.tag сомнений
	
	include ../helpers/article_bottom