.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_title Title
	
	.title
		.label.adorable_table
			.adorable_cell
				| Зачем беременным
				br
				| йога?
		
		.middle
			.column
				
			
			.column
				
			
			.column
				
			