@import '../../bourbon/bourbon';
@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import 'CSS:../../../js/plugins/select2/select2';
@import '../helpers/select2';
@import '../helpers/cards';

$ageFilterWidth: 160px;

.module.encyclopedia {
	position: relative;
	width: 100%;
	background: url('/img/user/core/pat.png') repeat;

	.mCSB_inside > .mCSB_container {
		margin-right: 9px;
	}

	.filter {
		@include position(fixed, 0 null null null);
		width: $ageFilterWidth;
		z-index: 12;
		background-color: #2384b1;
	}

	.age_filter {
		@include position(absolute, 0 null null 0);
		@include box_shadow(-10px 0 0 $blue);
		float: left;
		width: $ageFilterWidth;
		color: $white;
		z-index: 9;

		.topper {
			background-color: #38c9f2;
			height: 160px;

			.adorable_cell {
				padding: 20px;
			}
		}

		.top_label {
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		.label {
			font-size: 40px;
			line-height: 35px;
		}
	}

	.ages_container {
		padding: 5px 0;
	}

	.age_block {
		margin: 15px 0;
		font-size: 12px;
		cursor: pointer;
		position: relative;

		&.active {
			&:before {
				@include pseudo;
				right: -10px;
				height: 45px;
				width: 10px;
				top: 0;
				bottom: 0;
				margin: auto;
				background: url('/img/user/encyclopedia/age_arrow.png') no-repeat;
			}

			.image {
				&:after {
					@include pseudo;
					width: 20px;
					height: 22px;
					background: url('/img/user/encyclopedia/active.png') no-repeat;
					top: -1px;
					right: -10px;
				}
			}

			img {
				&.normal {
					display: none;
				}

				&.hover {
					display: block;
				}
			}
		}

		&:hover {
			img {
				&.normal {
					display: none;
				}

				&.hover {
					display: block;
				}
			}
		}

		.image {
			@include my_inline_block;
			height: 43px;
			width: 43px;
			position: relative;
		}

		img {
			@include absolute_centered;
			max-width: 100%;
			height: 100%;

			&.normal {
				display: block;
			}

			&.hover {
				display: none;
			}
		}
	}

	.theme_filter {
		@include position(absolute, 0 null 0 $ageFilterWidth);
		width: 480px;
		height: 100%;
		background-color: $blue;
		color: $white;
		z-index: 5;
		display: none;

		&.active {
			display: block;
		}

		.close {
			position: absolute;
			width: 34px;
			height: 36px;
			top: 52px;
			right: -17px;
			background: url('/img/user/encyclopedia/close.png');
			cursor: pointer;
			z-index: 15;
		}

		.filterContent {
			position: relative;
			width: 100%;
			height: 100%;
		}

		.topper {
			height: 160px;
			width: 100%;
			background-color: $blue;

			.adorable_cell {
				padding: 0 130px
			}
		}

		.label {
			font-size: 40px;
			line-height: 35px;
		}

		.center {
			width: 100%;
			position: relative;
			z-index: 5;
			padding: 0;

			.adorable_cell {
				vertical-align: bottom;
			}
		}

		.bookshelf {
			@include my_inline_block;
			width: 100%;
			overflow: hidden;

			&:after {
				content: '';
				display: block;
				background: url('/img/user/encyclopedia/bookShelf.png');
				width: 465px;
				height: 86px;
				margin: 0 auto;
			}
		}

		.book {
			color: #595959;
			text-transform: uppercase;
			width: 421px;
			font-size: 18px;
			font-family: 'PT_Sans_Narrow_Bold';
			letter-spacing: 1px;
			position: relative;
			cursor: pointer;

			&:hover {
				z-index: 10;
				.title {
					color: #fff;
				}
				.count {
					color: #fff;
				}
			}

			&:after {
				@include pseudo;
				width: 35px;
				height: 100%;
				top: 0;
				right: 0;
				background-color: #2b9ed5;
			}

			&.active {
				z-index: 10;

				.cover {
					&:after {
						@include pseudo;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 19px;
						width: 22px;
						height: 22px;
						background: url('/img/user/encyclopedia/active.png') no-repeat;
					}
				}
			}

			&:first-child {
				.cover {
					&:before {
						@include pseudo;
						width: 35px;
						height: 45px;
						bottom: 0;
						right: -35px;
						background: url('/img/user/encyclopedia/top_book_shadow.png') no-repeat;
					}
				}
			}

			&:not(:first-child) {
				@include box_shadow(35px 0 0 0 #2b9ed5);
			}

			.title {
				@include my_inline_block;
				white-space: nowrap;
				width: 326px;
				overflow: hidden;
			}

			.adorable_cell {
				vertical-align: middle;
				text-align: left;
			}

			@mixin book_shadow {
				@include pseudo;
				bottom: -14px;
				height: 14px;
				z-index: 5;
			}

			@mixin book_shadow_left {
				@include book_shadow;
				left: 19px;
				width: 398px;
				background: url('/img/user/encyclopedia/shadow_left.png') no-repeat;
			}

			@mixin book_shadow_right {
				@include book_shadow;
				width: 377px;
				background: url('/img/user/encyclopedia/shadow_right.png') no-repeat;
			}

			/* -1 */ /* -4, -14, -24, ... */
			&:hover:last-child, &:hover:nth-last-child(10n+4) {
				.cover {
					background: url('/img/user/encyclopedia/book_last_child_h.png') no-repeat;
				}
			}
			&:last-child, &:nth-last-child(10n+4) {
				height: 53px;
				margin-left: 24px;

				.cover {
					background: url('/img/user/encyclopedia/book_last_child.png') no-repeat;
				}
			}

			/* -4, -14, -24, ... */
			&:nth-last-child(10n+4) {
				&:before {
					@include book_shadow_left;
				}
			}

			/* -2, -7, -12, ... */ /* -3, -8, -13, ... */
			&:hover:nth-last-child(5n+2), &:hover:nth-last-child(5n+3) {
				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_2_h.png') no-repeat;
				}
			}
			&:nth-last-child(5n+2), &:nth-last-child(5n+3) {
				margin-left: 34px;
				height: 45px;

				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_2.png') no-repeat;
				}
			}

			/* -2, -7, -12, ... */
			&:nth-last-child(5n+2) {
				&:before {
					@include book_shadow_right;
					right: 33px;
				}
			}

			/* -5, -10, -15, ... */ /* -9, -14, -19, ... */
			&:hover:nth-last-child(5n+5), &:hover:nth-last-child(5n+9)  {
				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_5_h.png') no-repeat;
				}
			}
			&:nth-last-child(5n+5), &:nth-last-child(5n+9)  {
				margin-left: 24px;
				height: 53px;

				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_5.png') no-repeat;
				}
			}

			/* -5, -10, -15, ... */
			&:nth-last-child(5n+5)  {
				&:before {
					@include book_shadow_right;
					right: 22px;
				}
			}

			/* -9, -14, -19, ... */
			&:nth-last-child(5n+9)  {
				&:before {
					@include book_shadow_left;
				}
			}

			/* -6, -11, -16, ... */
			&:hover:nth-last-child(5n+6)  {
				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_2_h.png') no-repeat;
				}
			}
			&:nth-last-child(5n+6)  {
				margin-left: 24px;
				height: 45px;

				&:before {
					@include book_shadow_left;
				}

				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_2.png') no-repeat;
				}
			}
		}

		.cover {
			@include border_boxed;
			height: 100%;
			padding: 0 80px 0 15px;
			position: relative;
			z-index: 1;
		}

		.count {
			position: absolute;
			width: 66px;
			right: -51px;
			top: 0;
			height: 100%;
			font-size: 14px;
			font-family: 'PT_Sans_Regular';

			.adorable_cell {
				text-align: center;
			}
		}

		.footer {
			height: 130px;
			background-color: $darkblue;
			width: 100%;
			position: relative;
			z-index: 10;
		}

		.filter_button {
			@include bold;
			font-size: 14px;
			padding: 15px 49px;
			background-color: #ff9486;
			color: white;
			z-index: 5;
			position: relative;

			&:hover {
				opacity: 1;
				@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22));
			}
		}
	}

	.center {
		padding: 0 0 0 160px;
		text-align: center;
	}

	.content {
		margin: 0 auto;
		height: auto;
		text-align: left;

		@include respond-to(small) {
			width: 620px;
		}

		@include respond-to(medium) {
			width: 920px;
		}

		@include respond-to(large) {
			width: 1220px;
		}
	}

	.content > .topper_title {
		color: $blue;
		height: auto;
		padding-bottom: 10px;
	}

	.items_filter {
		height: 70px;
		margin: 0 20px;
		background-color: $white;
	}

	.author_select {
		width: 150px;
		@include box_shadow(1px 0 0 0 #e5e5e5);
		margin-right: 1px !important;
	}

	.order_select {
		width: 225px;
		@include box_shadow(1px 0 0 0 #e5e5e5);
	}

	.select2-choice {
		color: #4c4c4c;
	}

	.select2-chosen {
		padding: 0 47px 0 30px;
	}

	.select2-arrow {
		right: 20px !important;
		width: 7px;
		height: 4px;

		background: url('/img/user/encyclopedia/select2_arrow.png') no-repeat !important;
	}

	.select2-dropdown-open {
		font-family: 'PT_Sans_Bold';

		.select2-arrow {
			background-position: -7px 0 !important;
		}
	}

	.subscribe {
		float: right;
		height: 100%;
		width: 280px;

		button {
			@include box_shadow(0 0 0 1px #38c9f2);
			font-size: 14px;
			color: #38c9f2;
			padding: 8px 15px;

			img {
				vertical-align: middle;
				margin-right: 11px;
			}

			span {
				vertical-align: middle;
			}
		}
	}

	.items_container {
		padding: 10px;
		overflow: visible;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		@include prefixer(border-radius, 0, webkit moz spec);
	}

	.mCSB_scrollTools .mCSB_draggerRail {
		width: 3px;
		background: #d8d7d5;
	}

	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 3px;
		background: #989795;
	}

}

.encyclopedia_select2_result {
	@include border_boxed;
	padding: 0 30px;
	color: #4c4c4c;

	.adorable_cell {
		text-align: left;
	}

	.count {
		float: right;
	}
}
