@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import 'CSS:../../../js/plugins/select2/select2';
@import '../helpers/select2';

#encyclopedia {
	text-align: left;
	width: 100%;
	
	.age_filter {
		@include box_shadow(-1px 0 0 $blue);
		display: table;
		float: left;
		width: 160px;
		height: 100%;
		background-color: #2384b1;
		color: $white;
		
		.topper {
			display: table-row;
			background-color: #38c9f2;
			height: 160px;
			
			.adorable_cell {
				padding: 20px;
			}
		}
		
		.top_label {
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		
		.label {
			font-size: 40px;
			line-height: 35px;
		}
	}
	
	.ages_container {
		display: table-row;
		padding: 5px 0;
	}
	
		
	.ages_inside {
		position: relative;
	}
	
	.ages_absolute {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	.age_block {
		margin: 15px 0;
		font-size: 12px;
		cursor: pointer;
		position: relative;
		
		&.active {
			&:before {
				@include pseudo;
				right: -10px;
				height: 45px;
				width: 10px;
				top: 0;
				bottom: 0;
				margin: auto;
				background: url('/img/user/encyclopedia/age_arrow.png') no-repeat;
			}
			
			.image {
				&:after {
					@include pseudo;
					width: 20px;
					height: 22px;
					background: url('/img/user/encyclopedia/active.png') no-repeat;
					top: -1px;
					right: -10px;
				}
			}
			
			img {
				&.normal {
					display: none;
				}
				
				&.hover {
					display: block;
				}
			}
		}
		
		.image {
			@include inline_block;
			height: 43px;
			width: 43px;
			position: relative;
		}
		
		img {
			@include absolute_centered;
			max-width: 100%;
			height: 100%;
			
			&.normal {
				display: block;
			}
			
			&.hover {
				display: none;
			}
		}
	}
	
	.theme_filter {
		float: left;
		width: 480px;
		height: 100%;
		background-color: $blue;
		color: $white;
		display: table;
		overflow: hidden;
		
		.topper {
			display: table-row;
			height: 160px;
			width: 100%;
			
			.adorable_cell {
				padding: 0 130px
			}
		}
		
		.label {
			font-size: 40px;
			line-height: 35px;
		}
		
		.center {
			display: table-row;
			width: 100%;
			position: relative;
			z-index: 5;
			
			.adorable_cell {
				vertical-align: bottom;
			}
		}
		
		.book {
			color: #595959;
			text-transform: uppercase;
			width: 421px;
			font-size: 18px;
			font-family: 'PT_Sans_Narrow_Bold';
			letter-spacing: 1px;
			position: relative;
			cursor: pointer;
			
			&:after {
				@include pseudo;
				width: 35px;
				height: 100%;
				top: 0;
				right: 0;
				background-color: #2b9ed5;
			}
			
			&.active {
				z-index: 10;
				
				.cover {
					&:after {
						@include pseudo;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 19px;
						width: 22px;
						height: 22px;
						background: url('/img/user/encyclopedia/active.png') no-repeat;
					}
				}
			}
			
			&:first-child {
				.cover {
					&:before {
						@include pseudo;
						width: 35px;
						height: 45px;
						bottom: 0;
						right: -35px;
						background: url('/img/user/encyclopedia/top_book_shadow.png') no-repeat;
					}
				}
			}
			
			&:not(:first-child) {
				@include box_shadow(35px 0 0 0 #2b9ed5);
			}
			
			.title {
				@include inline_block;
				white-space: nowrap;
				width: 326px;
				overflow: hidden;
			}
			
			.adorable_cell {
				vertical-align: middle;
				text-align: left;
			}
			
			@mixin book_shadow {
				@include pseudo;
				bottom: -14px;
				height: 14px;
				z-index: 5;
			}
			
			@mixin book_shadow_left {
				@include book_shadow;
				left: 19px;
				width: 398px;
				background: url('/img/user/encyclopedia/shadow_left.png') no-repeat;
			}
			
			@mixin book_shadow_right {
				@include book_shadow;
				width: 377px;
				background: url('/img/user/encyclopedia/shadow_right.png') no-repeat;
			}
			
			/* -1 */ /* -4, -14, -24, ... */
			&:last-child, &:nth-last-child(10n+4) {
				height: 53px;
				margin-left: 24px;
				
				.cover {
					background: url('/img/user/encyclopedia/book_last_child.png') no-repeat;
				}
			}
			
			/* -4, -14, -24, ... */
			&:nth-last-child(10n+4) {
				&:before {
					@include book_shadow_left;
				}
			}
			
			/* -2, -7, -12, ... */ /* -3, -8, -13, ... */
			&:nth-last-child(5n+2), &:nth-last-child(5n+3) {
				margin-left: 34px;
				height: 45px;
				
				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_2.png') no-repeat;
				}
			}
			
			/* -2, -7, -12, ... */
			&:nth-last-child(5n+2) {
				&:before {
					@include book_shadow_right;
					right: 33px;
				}
			}
			
			/* -5, -10, -15, ... */ /* -9, -14, -19, ... */
			&:nth-last-child(5n+5), &:nth-last-child(5n+9)  {
				margin-left: 24px;
				height: 53px;
				
				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_5.png') no-repeat;
				}
			}
			
			/* -5, -10, -15, ... */
			&:nth-last-child(5n+5)  {
				&:before {
					@include book_shadow_right;
					right: 22px;
				}
			}
			
			/* -9, -14, -19, ... */
			&:nth-last-child(5n+9)  {
				&:before {
					@include book_shadow_left;
				}
			}
			
			/* -6, -11, -16, ... */
			&:nth-last-child(5n+6)  {
				margin-left: 24px;
				height: 45px;
				
				&:before {
					@include book_shadow_left;
				}
				
				.cover {
					background: url('/img/user/encyclopedia/book_nth_last_child_5n_2.png') no-repeat;
				}
			}
		}
		
		.cover {
			@include border_boxed;
			height: 100%;
			padding: 0 80px 0 15px;
			position: relative;
			z-index: 1;
		}
		
		.count {
			position: absolute;
			width: 66px;
			right: -51px;
			top: 0;
			height: 100%;
			font-size: 14px;
			font-family: 'PT_Sans_Regular';
			
			.adorable_cell {
				text-align: center;
			}
		}
		
		.footer {
			display: table-row;
			height: 130px;
			background-color: $darkblue;
			width: 100%;
			position: relative;
			z-index: 10;
		}
		
		.filter_button {
			@include bold;
			font-size: 14px;
			padding: 15px 49px;
			background-color: #ff9486;
			color: white;
			z-index: 5;
			position: relative;
			
			&:hover {
				opacity: 1;
				@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22));
			}
		}
	}
	
	.themes_inside {
		position: relative;
		height: 100%;
	}
	
	.themes_absolute {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
	}
	
	.center {
		text-align: center;
	}
	
	.content {
		@include inline_block;
		width: 920px;
		height: auto;
		text-align: left;
	}
	
	.topper_title {
		color: $blue;
		height: 80px;
	}
	
	.items_filter {
		height: 70px;
		margin: 0 20px;
		background-color: $white;
	}
	
	.author_select {
		width: 150px;
		@include box_shadow(1px 0 0 0 #e5e5e5);
		margin-right: 1px !important;
	}
	
	.order_select {
		width: 225px;
		@include box_shadow(1px 0 0 0 #e5e5e5);
	}
	
	.select2-choice {
		color: #4c4c4c;
	}
	
	.select2-chosen {
		padding: 0 30px;
	}
	
	.select2-dropdown-open {
		font-family: 'PT_Sans_Bold';
	}
	
	.subscribe {
		float: right;
		height: 100%;
		width: 280px;
		
		button {
			@include box_shadow(0 0 0 1px #38c9f2);
			font-size: 14px;
			color: #38c9f2;
			padding: 8px 15px;
			
			img {
				vertical-align: middle;
				margin-right: 11px;
			}
			
			span {
				vertical-align: middle;
			}
		}
	}
	
	.items_container {
		padding: 10px;
		overflow: visible;
	}
}

.encyclopedia_select2_result {
	@include border_boxed;
	padding: 0 30px;
	color: #4c4c4c;
	
	.adorable_cell {
		text-align: left;
	}
	
	.count {
		float: right;
	}
}