.content
	include ../helpers/breadcrumbs
	
	.topper_title Контакты
	
	.contacts_container
		.left
			.top_label
				div «Завод Агуша»
				div Киевская область
			
			.contact_label.address Адрес:
			.contact_text
				.address
					| г. Вишневое, 
					br
					| ул. Промышленная, 7
			
			.contact_label.mail E-mail:
			.contact_text
				.mail contact@agusha.com.ua
			
			.contact_label.phone Горячая линия:
			.contact_text
				.phone 0 800 307 302
				.phone_notice Звонки по Украине бесплатные
		
		.right#contacts_map