include ../encyclopedia/helpers

.content
	include ../helpers/breadcrumbs
	
	form.search_form.input_container
		input.search_input(type="text", placeholder="Поиск", value = params.phrase)
		.search_padding
			img(src="/img/user/search/search.png")
	
	.blocks_container
		.tab_block.articles_block
			.title
				.adorable_table
					.adorable_cell
						span В статьях (#{articles.length})
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				- each a, i in articles
					mixin article(a, i)
		
		.tab_block.consultations_block
			.title
				.adorable_table
					.adorable_cell
						span В вопросах специалисту (#{consultations.length})
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				- each c, i in consultations
					mixin article(c, i)
		
		.tab_block
			.title
				.adorable_table
					.adorable_cell
						span В новостях (0)
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				
		
		.tab_block
			.title
				.adorable_table
					.adorable_cell
						span В акциях (0)
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				