.content
	include ../helpers/breadcrumbs
	
	.input_container
		input.search_input(type="text", placeholder="Поиск", value = params.phrase)
		.search_padding
			img(src="/img/user/search/search.png")
	
	.blocks_container
		.tab_block
			.title
				.adorable_table
					.adorable_cell
						span В статьях (0)
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				
		
		.tab_block
			.title
				.adorable_table
					.adorable_cell
						span В вопросах специалисту (0)
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				
		
		.tab_block
			.title
				.adorable_table
					.adorable_cell
						span В новостях (0)
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				
		
		.tab_block
			.title
				.adorable_table
					.adorable_cell
						span В акциях (0)
						.right.adorable_table
							.adorable_cell
								.hide
									span Скрыть
									img(src="/img/user/search/hide.png")
								
								.show
									span Развернуть
									img(src="/img/user/search/show.png")
			
			.items_container
				