<div class="item">
    <div class="date">{{getDate date}}</div>
    <div class="item_table">
        <div class="avatar_column">
            <div class="avatar"><img src="{{user.image.small}}" class="rounded"></div>
        </div>
        <div class="content_column">
            <div class="info">
                <div class="name">{{user.profile.first_name}} {{user.profile.last_name}}</div>
            </div>
            <div class="text">{{{answer}}}</div>
        </div>
    </div>
</div>