@charset "UTF-8";

@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import 'CSS:../../../js/plugins/select2/select2';
@import '../helpers/select2';
@import '../helpers/video';

@media all, (min-width: $min-width) and (max-width: $extend) {
	.module.products  {
		.content {
			width: 920px;
		}
	}
}

@media all and (min-width: $extend_plus_one) {
	.module.products  {
		.content {
			width: 1220px;
		}
	}
}

.module.products {
	text-align: left;
	background: url('/img/user/core/pat.png') repeat;
	width: 100%;
	
	.topper_title {
		height: 80px;
	}
	
	.filters {
		@include box_shadow(inset 0 0 0 1px $white);
		margin: 0 20px;
		height: 70px;
		white-space: nowrap;
		word-wrap: break-word;
	}
	
	.category_container {
		@include my_inline_block;
		vertical-align: top;
		height: 100%;
		margin: 0 0 0 27px;
	}

	.category_block {
		margin: 0 3px;
		display: inline-block;
		vertical-align: top;
		height: 100%;
		position: relative;
	}

	.choose_category {
		cursor: pointer;
		padding: 8px 27px;

		&:hover {
			@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22));
			background-color: $titleblue;
			color: white;
		}

		&.active {
			@include box_shadow(inset 0 0 0 1px #cccccc);

			&:hover {
				@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22));
			}
		}
	}

	.about_block {
		height: 100%;
		width: 100%;
		display: none;
		font-family: 'PT_Sans_Italic';
		font-size: 18px;
		color: $darkgrey;

		&.active {
			display: block;
		}
	}

	.about_text {
		@include border_boxed;
		position: relative;
		z-index: 5;
		width: 800px;
		padding: 20px 50px;
		
		.top_label {
			font-family: 'PT_Sans_Italic';
			text-transform: none;
			color: #898274;
		}
		
		.title_label {
			font-size: 40px;
			line-height: 40px;
			text-transform: uppercase;
			color: $titleblue;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-top: 8px;
		}
		
		.text {
			display: none;
			font-size: 16px;
			color: $titlegrey;
			margin-top: 20px;
			margin-bottom: 12px;
		}
	}
	
	.open_close {
		margin-top: 8px;
		display: inline-block;
		cursor: pointer;
	}
	
	.open_close_icon {
		display: inline-block;
		vertical-align: middle;
		width: 18px;
		height: 18px;
		background: url('/img/user/products/open_close_icon.png') no-repeat;
	}
	
	.open_close_label {
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		color: #898274;
		font-family: 'PT_Sans_Bold';
		text-transform: uppercase;
		margin-left: 10px;
		
		&:before {
			content: 'Раскрыть';
		}
	}

	.show {
		@include rounded;
		@include border_boxed;
		left: 26px;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 120px;
		height: 30px;
		background-color: rgba(255, 255, 255, 0.5);
		cursor: pointer;
		padding: 0 9px;
		font-size: 12px;
		font-family: 'PT_Sans_Bold';
		text-transform: uppercase;

		.adorable_cell {
			text-align: left;
		}

		img, span {
			vertical-align: middle;
		}

		img {
			margin-right: 10px;
		}
	}

	.how_to_feed {
		clear: both;
		text-align: center;
		height: 264px;
		padding-top: 30px;
		cursor: pointer;
	}
}

#about_ages {
	@include border_boxed;
	margin: 20px 20px 0;
	min-height: 140px;
	position: relative;
	display: none;
	background-color: $white;

	&.active {
		display: block;
	}
	
	&.opened {
		.about_text {
			.text {
				display: block;
			}
		}
		
		.open_close_icon {
			background-position: -19px 0;
		}
		
		.open_close_label {
			&:before {
				content: 'Скрыть';
			}
		}
	}
	
	.about_bg_right {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		z-index: 1;
	}
}

.products_age_select {
	width: 170px;
	height: 100%;

	&:before {
		@include pseudo;
		top: 0;
		bottom: 0;
		right: -10px;
		width: 10px;
		height: 45px;
		background: url('/img/user/products/filter_arrow.png') no-repeat;
		margin: auto;
		z-index: 1;
	}
}

.products_age_select, #select2-drop {
	.select2-result {
		&:hover {
			.right {
				color: #404040;
			}
			
			.icon {
				&.normal {
					display: none;
				}

				&.hover {
					display: block;
				}
			}
		}
	}
	
	.select2-chosen {
		.right {
			color: #404040;
		}
		
		.left {
			.icon {
				&.normal {
					display: none;
				}
				
				&.hover {
					display: block;
				}
			}
		}
	}
	
	.part {
		float: left;
		height: 70px;
	}
	
	.left {
		width: 70px;
		position: relative;
		
		.icon {
			@include absolute_centered;
			max-width: 48px;
			max-height: 48px;

			&.normal {
				display: block;
			}

			&.hover {
				display: none;
			}
		}
	}

	.right {
		width: 80px;
		color: #b2b2b2;
		
		.adorable_cell {
			text-align: left;
			padding: 0 0 0 10px;
		}
	}
}

#products_container {
    padding: 10px;
	overflow: visible;
	
	.product_block {
		height: 465px;
		float: left;
		margin: 10px;
		position: relative;
		width: 280px;
		cursor: pointer;
		color: $grey;
		background-color: $white;
		display: block;
		
		.image {
			@include absolute_horizontal_centered;
			height: 225px;
			width: 160px;
			top: 0;

			img {
				@include absolute_centered;
				max-height: 100%;
				max-width: 100%;
			}
		}

		.title {
			position: absolute;
			top: 225px;
			background-color: $el_bg;
			height: 80px;

			.adorable_cell {
				padding: 0 20px;
			}

			span {
				color: $titleblue;
				font-size: 15px;
				text-transform: uppercase;
				font-family: 'PT_Sans_Bold';
			}
		}

		.desc {
			position: absolute;
			top: 305px;
			background-color: $el_bg;
			height: 80px;

			.adorable_cell {
				padding: 0 20px;
			}

			span {
				font-size: 13px;
				vertical-align: top;
			}
		}

		.info {
			width: 100%;
			position: absolute;
			top: 385px;
			background-color: $el_bg;
			height: 80px;

			.top {
				font-size: 16px;
				color: $titleblue;
				font-family: 'PT_Sans_Bold';
			}

			.bottom {
				font-size: 13px;
			}

			&:before {
				@include pseudo;
				@include absolute_centered;
				height: 48px;
				width: 1px;
				background-color: $grey;
			}
		}

		&:hover {
			@include box_shadow(0 0 0 20px $white, 0px 2px 6px 20px rgba(0, 0, 0, 0.22));
			z-index: 1;

			.image {
				top: 134px;
				width: 225px;
				left: 0;

				img {
					max-height: 225px;
					max-width: 225px;
				}
			}

			.title {
				top: 0;
				background-color: $white;
			}

			.desc {
				display: none;
			}

			.info {
				background: $white;
			}
		}
	}
}
