@import '../dynamic/dynamic';
@import '../helpers/reg_box';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import '../helpers/tabs';

@media all, (min-width: $min-width) and (max-width: $extend) {
	#main {
		width: 920px;
	}
}

@media all and (min-width: $extend_plus_one) {
	#main {
		width: 1220px;
	}
}

#main {
	&:before {
		@include pseudo;
		@include absolute_horizontal_centered;
		top: 0;
		left: -1px;
		background: url('/img/user/main/topper_background.jpg') center no-repeat;
		width: 100.1%;
		height: 100%;
		z-index: 5;
	}
	
	.whats_up {
		@include absolute_horizontal_centered;
		bottom: 58px;
		width: 122px;
		height: 120px;
		background: url('/img/user/main/whats_up.png') center no-repeat;
	}
	
	.topper {
		height: 100%;
		color: $bluefont;
		position: relative;
		
		.top_label {
			padding-top: 50px;
		}
		
		.label {
			font-size: 70px;
			line-height: 70px;
			padding-top: 15px;
		}
		
		.banner_button {
			@include box_shadow(0 2px 0 #b4daeb);
			margin-top: 20px;
			font-size: 18px;
			padding: 12px 30px;
			color: $bluefont;
		}
	}
	
	.reg_box {
		position: absolute;
		right: 0;
		top: 120px;
	}
}

.module.registered {
	text-align: center;
	width: 100%;
	
	.bg {
		position: absolute;
		width: 100%;
		height: 210px;

		&:before {
			@include pseudo;
			width: 100%;
			height: 210px;
			background-color: #efeae5;
			top: 0;
			left: 0;
		}

		&:after {
			@include pseudo;
			width: 100%;
			height: 100%;
			background: url('/img/user/main/topper_tile.png') repeat-x center top;
			top: 0;
			left: 0;
		}
	}
	
	.content {
		@include inline_block;
		text-align: left;
		width: 920px;
		
		&:before {
			@include pseudo;
			width: 251px;
			height: 216px;
			right: 29px;
			top: 27px;
			background: url('/img/user/main/lamp.png') no-repeat;
		}
	}
	
	.topper_title {
		color: $blue;
		height: 80px;
	}
}