@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import '../helpers/tabs';
@import '../helpers/cards';
@import 'CSS:../../../js/plugins/select2/select2';
@import '../helpers/select2';
@import '../helpers/carousel';
@import '../../bourbon/bourbon';

@media all and (min-width: $min-width) and (max-width: $extend) {
	.module.main {
		.content {
			width: 920px;
		}
	}

	.module .mainModuleWrap {
		width: 920px;
	}
}

@media all and (min-width: $extend_plus_one) {
	.module.main {
		.content {
			width: 1220px;
		}
		
		.carousel-control.left {
			left: -635px;
		}
		
		.carousel-control.right {
			right: -635px;
			background-position: -29px 0;
		}
	}

	.module .mainModuleWrap {
		width: 1220px;
	}
}

#modules .main .content.itemsWrap {
	@include border_boxed;
	height: auto;
	padding: 0 10px 10px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.module.main {
	width: 100%;
	position: relative;

	.content {
		display: block;

		&.itemsWrap {
			@include respond-to(small) {
				width: 620px;
			}

			@include respond-to(medium) {
				width: 920px;
			}

			@include respond-to(large) {
				width: 1220px;
			}
		}
	}

	.carousel_container {
		width: 100%;
		height: 768px;
		position: relative;

		&:before {
			@include pseudo;
			width: 69px;
			height: 126px;
			left: 0;
			bottom: 132px;
			background: url('/img/user/main/protruding.png') no-repeat;
			z-index: 35;
		}

		.content {
			@include border_boxed;
			@include absolute_horizontal_centered;
			padding: 0 20px;
			top: 0;
		}
		
		.arrows_content {
			z-index: 35;
			width: 0;
			padding: 0;
		}

		.item {
			&.duration {
				z-index: 30;
			}
			
			.content {
				padding: 68px 20px 0;
				text-align: left;
				z-index: 20;
			}
		}

		.top_label {
			font-size: 60px;
			line-height: 60px;
			font-family: 'PT_Sans_Narrow_Bold';
			color: $blue;
			
			&.green {
				color: $green;
			}

			&.purple {
				color: #9574cd;
			}

			&.lightblue {
				color: #13abea;
			}
			
			&.pink {
				color: #db6ba3;
			}
			
			.small_part {
				margin-top: 20px;
				text-transform: none;
			}
			
			.small_label {
				font-size: 40px;
				line-height: 40px;
				font-family: 'PT_Sans_Narrow';
			}
			
			.bold_small_label {
				font-size: 48px;
				line-height: 48px;
				font-family: 'PT_Sans_Narrow_Bold';
			}
		}
		
		.action_box {
			@include border_radius(8px);
			position: absolute;
			top: 70px;
			left: 20px;
			width: 440px;
			background-color: white;
			text-align: center;
			color: $grey2;
		}
		
		.we_have_action {
			font-size: 24px;
			font-family: 'PT_Sans_Bold';
			color: $titlegrey;
			margin-top: 27px;
			text-transform: uppercase;
		}
		
		.action_title {
			font-family: 'PT_Sans_Narrow_Bold';
			font-size: 50px;
			color: $red_title;
			margin-top: 14px;
			text-transform: uppercase;
			line-height: 50px;
		}
		
		.action_desc {
			font-size: 20px;
			margin-top: 14px;
			letter-spacing: -1.5px;
		}
		
		.orange {
			font-family: 'PT_Sans_Bold';
			color: $orange2;
		}
		
		.counter_block {
			@include box_shadow(inset 0 1px 0 $grey3, inset 0 -1px 0 $grey3);
			margin-top: 13px;
			padding-bottom: 12px;
		}
		
		.left_label {
			font-size: 16px;
			font-family: 'PT_Sans_Italic';
			padding-top: 16px;
		}
		
		.counter {
			padding: 14px 20px 12px;
		}
		
		.number {
			@include my_inline_block;
			@include border_radius(7px);
			width: 55px;
			height: 75px;
			background: url('/img/user/action/number_bg.png') repeat-x;
			font-family: 'PT_Sans_Narrow';
			font-size: 70px;
			color: white;
			text-align: center;
			
			&:first-child {
				margin: 0 10px 0 0;
			}
		}
		
		.number_label {
			@include my_inline_block;
			margin-top: 3px;
			font-size: 16px;
			font-family: 'PT_Sans_Italic';
			text-align: center;
			width: 120px;
		}
		
		.button_block {
			height: 124px;
		}
		
		.action_button {
			background-color: $red_title;
			color: white;
			width: 337px;
			height: 64px;
		}
		
		.carousel_button {
			background-color: $white;
			color: #2998cd;
			font-size: 18px;
			padding: 15px 0;
			margin-top: 47px;
			width: 203px;

			&.green {
				background-color: $green;
				color: $white;
			}

			&.purple {
				background-color: #9574cd;
				color: $white;
			}

			&.lightblue {
				background-color: #13abea;
				color: $white;
			}

			&.blue {
				background-color: $blue;
				color: $white;
			}
			
			&.orange {
				background-color: $orange;
				color: $white;
			}
		}
	}

	.banner_image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		
		&.banner_image_spring_registration {
			background: url('/img/user/main/spring_registration_banner.jpg') no-repeat center;
		}
		
		&.banner_image_new_year {
			background: url('/img/user/main/new_year_banner.jpg') no-repeat center;
		}
		
		&.banner_image_8_marta {
			background: url('/img/user/main/banner_8_marta.jpg') no-repeat center;
		}
		
		&.banner_image_moneybox {
			background: url('/img/user/main/banner_moneybox.jpg') no-repeat center;
		}
		
		&.banner_image_moneybox_2 {
			background: url('/img/user/main/banner_moneybox_2.jpg') no-repeat center;
		}

		&.banner_image_1 {
			background: url('/img/user/main/banner_1.jpg') no-repeat center;
		}

		&.banner_image_2 {
			background: url('/img/user/main/banner_2.jpg') no-repeat center;
		}

		&.banner_image_3 {
			background: url('/img/user/main/banner_3.jpg') no-repeat center;
		}
		&.banner_image_4 {
			background: url('/img/user/main/banner_4.jpg') no-repeat center;
		}
	}

	.registration_content {
		height: 217px !important;
		top: auto !important;
		bottom: 114px;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 25;
	}

	.registration_block {
		@include border_radius(23px);
		height: 100%;
		width: 280px;
		background-color: rgba(255, 255, 255, 0.8);
		color: $titlegrey;

		&:before {
			@include pseudo;
			width: 13px;
			height: 13px;
			left: -13px;
			top: 64px;
			background: url('/img/user/main/registration_box_pointer.png') no-repeat;
		}

		.adorable_cell {
			padding: 20px;
		}

		.topper_label {
			font-size: 18px;
			line-height: 18px;
			font-family: 'PT_Sans_Bold';
			letter-spacing: -0.5px;
		}

		.bottom_label {
			margin-top: 15px;
		}

		.registration_button {
			height: 40px;
			width: 209px;
			color: $white;
			background-color: #faab8c;
			margin-top: 25px;
			padding: 0;
		}
	}

	.emtyFeed {
		min-height: 650px;
		padding-top: 100px;
	}

	.tab_content.my_strip {
		min-height: 650px;
	}
}

.module .mainModuleWrap {
	text-align: center;
	display: inline-block;
	margin: 0 auto;

	.apsBg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 5;
	}

	.bannerWrap {
		min-height: 624px;
		margin: 0 20px;
	}

	.whats_up {
		@include absolute_horizontal_centered;
		bottom: 58px;
		width: 122px;
		height: 120px;
		background: url('/img/user/main/whats_up.png') center no-repeat;
	}

	.content > .topper {
		height: 100%;
		color: $bluefont;
		position: relative;

		.top_label {
			padding-top: 50px;
		}

		.label {
			font-size: 70px;
			line-height: 70px;
			padding-top: 15px;
		}

		.banner_button {
			@include box_shadow(0 2px 0 #b4daeb);
			margin-top: 20px;
			font-size: 18px;
			padding: 12px 30px;
			color: $bluefont;
		}
	}

	.reg_box {
		position: absolute;
		right: 0;
		top: 120px;
	}

	.itemsWrap {
		padding-top: 10px;
		position: relative;
		top: 0;
	}

	.items_container:after {
		content: '';
		display: table;
		clear: both;
	}

	.loadMore {
		padding: 50px;

		img {
			display: block;
			margin: 0 auto;
			cursor: pointer;
		}
	}
}

.module .mainModuleWrap.logedIn {
	text-align: center;
	width: 100% !important;

	.content {
		display: inline-block;
	}

	.tab_content {
		display: none;

		&.active {
			display: block;
		}
	}

	.apsBg {
		display: none;
	}

	.content.userTitle {
		position: relative;
		z-index: 11;
	}

	.itemsWrap {
		position: relative;
		top: 0;
	}

	&:before {
		display: none;
	}

	& > .bg {
		position: absolute;
		width: 100%;
		height: 210px;

		&:before {
			@include pseudo;
			width: 100%;
			height: 210px;
			background-color: #efeae5;
			top: 0;
			left: 0;
		}

		&:after {
			@include pseudo;
			width: 100%;
			height: 100%;
			background: url('/img/user/main/topper_tile.png') repeat-x center top;
			top: 0;
			left: 0;
		}
	}

	.content {
		text-align: left;

		@include respond-to(small) {
			width: 620px;
		}

		@include respond-to(medium) {
			width: 920px;
		}

		@include respond-to(large) {
			width: 1220px;
		}

		&.userTitle:before {
			@include pseudo;
			width: 251px;
			height: 216px;
			right: 29px;
			top: 27px;
			background: url('/img/user/main/lamp.png') no-repeat;
			z-index: 15;
		}
	}

	.userTitle > .topper_title {
		color: $blue;
		height: 80px;
	}

	.filters {
		margin: 20px 0 20px -10px;
		background-color: $white;
		height: 70px;

		.icons {
			float: right;
			height: 100%;
		}

		.icon {
			@include my_inline_block;
			width: 39px;
			@include box_shadow(-1px 0 0 0 #e5e5e5);
			margin-left: 1px !important;
			height: 100%;
		}
	}

	.feed_select {
		width: 225px;
		height: 70px !important;
		@include box_shadow(1px 0 0 0 #e5e5e5);
		margin-right: 1px !important;
	}

	.order_select {
		width: 150px;
		height: 70px !important;
		@include box_shadow(1px 0 0 0 #e5e5e5);
	}

	.select2-choice {
		color: #4c4c4c;
	}

	.select2-chosen {
		padding: 0 47px 0 30px;
	}

	.select2-arrow {
		right: 20px !important;
		width: 7px;
		height: 4px;

		background: url('/img/user/encyclopedia/select2_arrow.png') no-repeat !important;
	}

	.select2-dropdown-open {
		font-family: 'PT_Sans_Bold';

		.select2-arrow {
			background-position: -7px 0 !important;
		}
	}

	.feedWrap {
		@include clearfix;
	}
}

.main_select2_result {
	@include border_boxed;
	padding: 0 30px;
	color: #4c4c4c;

	.adorable_cell {
		text-align: left;
	}

	.count {
		float: right;
	}
}
