@import '../dynamic/dynamic';
@import '../helpers/reg_box';

@media all, (min-width: $min-width) and (max-width: $extend) {
	#main {
		width: 920px;
	}
}

@media all and (min-width: $extend_plus_one) {
	#main {
		width: 1220px;
	}
}

#main {
	&:before {
		@include pseudo;
		@include absolute_horizontal_centered;
		top: 0;
		left: -1px;
		background: url('/img/user/main/topper_background.jpg') center no-repeat;
		width: 100.1%;
		height: 100%;
		z-index: 5;
	}
	
	.whats_up {
		@include absolute_horizontal_centered;
		bottom: 58px;
		width: 122px;
		height: 120px;
		background: url('/img/user/main/whats_up.png') center no-repeat;
	}
	
	.topper {
		height: 100%;
		color: $bluefont;
		position: relative;
		
		.top_label {
			padding-top: 50px;
		}
		
		.label {
			font-size: 70px;
			line-height: 70px;
			padding-top: 15px;
		}
		
		.banner_button {
			@include box_shadow(0 2px 0 #b4daeb);
			margin-top: 20px;
			font-size: 18px;
			padding: 12px 30px;
			color: $bluefont;
		}
	}
	
	.reg_box {
		position: absolute;
		right: 0;
		top: 120px;
	}
}