/* colors */

$white: #ffffff;
$bg: #f2efed;
$blue: #2da7e0;
$darkblue: #2998cc;
$blackblue: #2381ad;
$base: #808080;
$darkbluefont: #217ca6;
$lightbluefont: #c8edff;
$greyfont: #7e7e7e;
$bluefont: #36a8de;
$lightblue: #61d1ff;
$titleblue: #2381bd;
$el_bg: #f7f7f7;
$grey: #666666;
$darkgrey: #333333;

/* base */

$min-height: 624px;
$max-height: 768px;

$min-width: 1180px;

$extend: 1500px;
$extend_plus_one: 1501px;