/* colors */

$white: #ffffff;
$bg: #f2efed;
$blue: #2da7e0;
$blue2: #29abe2;
$darkblue: #2998cc;
$blackblue: #2381ad;
$base: #808080;
$darkbluefont: #217ca6;
$lightbluefont: #c8edff;
$greyfont: #7e7e7e;
$bluefont: #36a8de;
$lightblue: #61d1ff;
$titleblue: #2381bd;
$el_bg: #f7f7f7;
$grey: #666666;
$titlegrey: #4c4c4c;
$grey2: #474747;
$grey3: #e6e6e6;
$grey4: #999999;
$darkgrey: #333333;
$brown: #d7ccc8;
$brownfont: #bcaaa4;
$darkbrown: #a1887f;
$green: #69d48e;
$darkgreen: #307849;
$red: #c73d42;
$red2: #f06565;
$purple: #9474cc;
$purplefont: #b39ddb;
$orange: #ff5a42;
$orange2: #ff8220;
$red_title: #f73a15;

/* base */

$min-height: 624px;
$max-height: 1280px;

$min-width: 1180px;

$extend: 1500px;
$extend_plus_one: 1501px;