upload {
  display: block;
  margin-bottom: 15px; }
  upload .uploadedWrap {
    margin-top: 10px; }
  upload .uploaded {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 150px;
    margin-right: 10px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ddd;
    border: none; }
    upload .uploaded.small {
      width: 120px;
      height: 120px; }
  upload label {
    cursor: pointer; }
  upload form {
    display: none; }