@import '../../settings';
@import '../helpers/socialSprite';
@import '../../../js/plugins/bourbon/dist/_bourbon';
@import '../../customMixins';

$barColor: #e3ddd2;
// $overlayColor: #f2efed;
$backColor: #f2efed;

@mixin x-user-select ($value: none) {
	-webkit-user-select: $value;
	   -moz-user-select: $value;
	    -ms-user-select: $value;
	        user-select: $value;
}

@mixin x-transition ($values...) {
	-webkit-transition: $values;
	        transition: $values;
}

/* Base for label styling for radio button */

#profile {
	background: url('/img/user/core/pat.png') repeat;
}

span.deleteicon {
	position: relative;

	input:focus+span, span:hover {
		display: block;
	}

	span {
		position: absolute;
		display: none;
		top: 3px;
		right: 20px;
		width: 18px;
		height: 18px;
		background: url(/img/user/helpers/input/clearButton.png) center center no-repeat;
		cursor: pointer;
	}

	input {
		padding-right: 20px;
	}
}

#country {
	width: 280px;
	margin-bottom: 20px;
	text-align: left;
}

.userInputs {
	@include gridle(6);
	margin-top: 30px;
	float: none;
	padding: 0px;

	.column {
		@include gridle(3);
		margin: 0px;
		// display: inline-block;
		// width: 360px;
		float: none;
		padding: 0px;
		display: inline-block;
		width: 290px;
		
		&.middle {
			margin: 0 auto;
			@include gridle(6);
			padding: 0px;
			width: 100%;

			// input {
			// 	width: 100%;
			// }

			.inner {
				@include gridle(6);
				padding: 0px;
				float: none;
			}			
		}

		&.right {
		// 	// float: left;

			.inner {
				// float: left;
				// margin-right: 74px;
				display: block;
				float: right;
			}
		}

		&.left {
			.inner {
				// float: right;
				// margin-left: 74px;
			}
			// float: right;
		}

		.inner {
			width: 280px;
			
			.input_row {
				margin-bottom: 20px;
				// width: 100%;
				// float: left;

				input {
					width: 280px
				}
			}

			
		}
	}
}

.childMetaInfo {
	[type="radio"] {
		&:not(:checked), &:checked {
			position: absolute;
			left: -9999px;
		}
		&:not(:checked) + label, &:checked + label {
			position: relative;
			padding-top: 10px;
			padding-left: 47px;
			top: 14px;
			margin-right: 50px;
			cursor: pointer;
			@include x-user-select();
		}
		&:not(:checked) + label:before, &:checked + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			width: 37px;
			height: 37px;
			// border: 1px solid #aaa;
			background: #fff;
			border-radius: 14px;
			// box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}

		&:checked + label:after {
			background: url(/img/user/profile/checkbox.png);
		}

		&:not(:checked) + label:after, &:checked + label:after {
			content: '';
			position: absolute;
			width: 16px;
			height: 14px;
			top: 13px;
			left: 10px;
			color: #ccc6bd;
			transition: all .2s;
			@include x-user-select();
		}
		&:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}
		&:checked + label:after {
			opacity: 1;
			transform: scale(1);
		}
		&:disabled {
			&:not(:checked) + label:before {
				box-shadow: none;
				border-color: #bbb;
				background-color: #ddd;
			}
			&:checked + label {
				&:before {
					box-shadow: none;
					border-color: #bbb;
					background-color: #ddd;
				}
				&:after {
					color: #999;
				}
			}
			+ label {
				color: #aaa;
			}
		}
	}

	input {
		line-height: normal !important;
		// @include transition (box-shadow .2s linear);

		&:focus, &:hover {
			box-shadow: black 0px 4px 11px -5px;
		}
	}
}

#profile {
	height: auto !important;
	
	// @include gridle ( 6 );
	padding: 0px;
	width: 100%;
	@include gridle_container();

	[type="radio"] {
		&:not(:checked), &:checked {
			position: absolute;
			left: -9999px;
		}
		&:not(:checked) + label, &:checked + label {
			position: relative;
			padding-top: 10px;
			padding-left: 47px;
			top: 14px;
			margin-right: 50px;
			cursor: pointer;
			@include x-user-select();
		}
		&:not(:checked) + label:before, &:checked + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 2px;
			width: 37px;
			height: 37px;
			// border: 1px solid #aaa;
			background: #fff;
			border-radius: 14px;
			// box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}

		&:checked + label:after {
			background: url(/img/user/profile/checkbox.png);
		}

		&:not(:checked) + label:after, &:checked + label:after {
			content: '';
			position: absolute;
			width: 16px;
			height: 14px;
			top: 13px;
			left: 10px;
			color: #ccc6bd;
			transition: all .2s;
			@include x-user-select();
		}
		&:not(:checked) + label:after {
			opacity: 0;
			transform: scale(0);
		}
		&:checked + label:after {
			opacity: 1;
			transform: scale(1);
		}
		&:disabled {
			&:not(:checked) + label:before {
				box-shadow: none;
				border-color: #bbb;
				background-color: #ddd;
			}
			&:checked + label {
				&:before {
					box-shadow: none;
					border-color: #bbb;
					background-color: #ddd;
				}
				&:after {
					color: #999;
				}
			}
			+ label {
				color: #aaa;
			}
		}
	}

	input {
		line-height: normal !important;

		&:focus, &:hover {
			box-shadow: black 0px 4px 11px -5px;
		}
	}

	.question_bubble {
		display: inline-block;
		font-size: 15px;
		color: #898274;
		margin-left: 15px;
		position: relative;
		top: -3px;
		font-weight: bold;
		cursor: pointer;

		&:before {
			content: '';
			border: 2px solid #898274;
			border-radius: 100%;
			display: block;
			height: 19px;
			width: 20px;
			position: relative;
			top: 21px;
		}
	}

	.header {
		height: 170px;
		padding-top: 40px;
		background: url(/img/user/profile/breadcrumbs.jpg);
		background-size: cover;

		text-align: left;
		padding-left: 93px;

		h1 {
			text-transform: uppercase;
			font-size: 55px;
			color: #2da7e0;
			margin: 0px;
		}

		.bradName {
			text-transform: capitalize;
		}
	}

	.user_profile {
		max-width: 920px;
		padding-top: 20px;
		margin: 0 auto;

		.headWrap {
			margin: 0 auto;
		}

		.profileHead {
			@include gridle(4);
			@include gridle_push ( 1 ); 
			margin: 0 auto;
			margin-top: 45px;

			h3 {
				display: inline-block;
				text-transform: uppercase;
				font-size: 24px;
				color: #666666;
			}
		}

		.childBlock {
			@include gridle(4);
			margin: 0 auto;
			float: none;
			text-align: left;

			margin-top: 28px;

			.childItem {
				min-width: 160px;
				margin-right: 40px;
				margin-bottom: 35px;
				// display: inline-block;
				cursor: pointer;
				float: left;

				&:nth-child(3n+3) {
					margin-right: 0px;
				}

				.childPic {
					float: left;
					width: 80px;
					height: 80px;

					img {
						float: left;
						width: 80px;
						height: 80px;
						border-radius: 100px;
					}

					&:hover {
						&:before {
							width: 80px;
							height: 80px;
							background: #000;
							display: block;
							border-radius: 100px;
							opacity: 0.3;
							position: absolute;
							content: ' ';
						}

						&:after {
							content: ' ';
							position: absolute;
							background: url(/img/user/profile/edit-child.png) no-repeat center center;
							width: 80px;
							height: 80px;
							margin-left: -80px;
						}
					}
				}

				.childInfo {
					display: inline-block;
					float: left;
					line-height: 16px;

					margin-top: 20px;
					margin-left: 20px;

					.childName {
						float: left;
						font-weight: bold;
						text-transform: capitalize;
					}

					.childGender {
						font-size: 12px;
					}

					.childAge {
						font-size: 12px;
					}
				}
			}

			.addChild {
				display: inline-block;
				min-width: 160px;
				margin-bottom: 35px;
				cursor: pointer;

				.button {
					width: 80px;
					height: 80px;
					background: #e3ddd2;
					float: left;

					&:after {
						content: ' ';
						position: absolute;
						background: url(/img/user/profile/add_child.png) no-repeat center center;
						width: 80px;
						height: 80px;
						// margin-left: -80px;
					}
				}

				.text {
					float:left;
					margin-top: 20px;
					margin-left: 20px;
				}
			}
		}

		.profileFilling  {
			@include gridle(6);

			.title {
				@include gridle(2);
				@include gridle_push(2);
				margin: 0 auto;
				font-style: italic;
			}

			.bar {
				@include gridle(4);
				@include gridle_pull(1);

				display: block;
				overflow: hidden;
				height: 2px;
				margin: 13px 0;
				background: #e3ddd2;

				margin-top: 20px;
				padding:0px;

				.progress {
					width: 0%;
					display: block;
					min-width: 8px;
					height: 8px;
					background: #4296c9;
				}
			}
		}

		h3 {
			padding-top: 20px;
		}

		.buttons {
			@include gridle(1);
			.button {
				margin-top: 20px;
				width: 79px;
				// margin-right: 32px;
				cursor: pointer;

				&:before {
					content: '';
					position: relative;
					display: block;
					top: -20px;
					width: 47px;
					height: 47px;
					background: #e3ddd2;
					border-radius: 20px;
					margin: 0 auto;
					background: none;
				}
			}
		}

		.userMeta {
			@include gridle(6);
			margin-top: 70px;

			.userPic {
				@include gridle(2);
				@include gridle_push(1);
				padding-left: 0px;

				.pic {
					float: left;
					padding-left: 0px;
					@include gridle(3);

					img {
						width: 120px;
						height: 120px;
						border-radius: 100px;
						margin: 0 auto;
						padding: 0px;
						position: relative;
						float: left;
					}
				}

				.buttons {
					@include gridle(3);
					margin: 0px;
					float:left;
					margin-top: 43px;
					padding: 0px;

					.originalFileInput {
						display: none;
					}

					.button {
						width: 100%;
						margin: 0;
						text-align: left;

						&:before {
							top: -5px;
							margin: auto;
							float: left;
							background-color: none;
							height: 27px
						}

						&:first-child {
							float: left;
						}

						&:last-child {
							float: right;
						}

						&.upload {
							&:before {
								background-image: url(/img/user/profile/download_button.png);
								background-repeat: no-repeat;
								background-position: center center;
							}
						}

						&.remove {
							&:before {
								background-image: url(/img/user/profile/remove_button.png);
								background-repeat: no-repeat;
								background-position: center center;
							}
						}
					}
				}
			}

			.moneybox {
				@include gridle(2);
				float: none;
				display: inline-block;
				margin-left: 0px;

				.textLevel {
					float: left;

					.text {
						line-height: 23px;
						display: inline-block;
						text-align: left;
						float: left;

						font-weight: bold;
						color: black;
					}
				}

				.stars {
					position: relative;
					float: left;
					margin-left: 20px;
					margin-top: 5px;
				}

				.star {
					position: relative;
					width: 10px;
					height: 10px;
					background: url('/img/user/moneybox/star_icon.png') no-repeat;
					background-position: -10px 0;
					margin-top: 23px;
					margin-right: 5px;
					float: left;

					&.filled {
						background-position: 0 0;
					}
				}

				.levelIcon {
					display: inline-block;
					width: 100px;
					height: 100px;
					background-size: cover !important;
					right: -40px;
					top: -10px;
					position: relative;

					&.novice {
						width: 85px;
					}

					&.adept {
						top: -40px;
						width: 100px;
						height: 124px;
					}

					&.expert {
						top: -40px;
						height: 115px;
					}

					&.pro {
						top: -60px;
						height: 141px;
					}

				}

				.pointsLeft {
					float: left;
					position: relative;
					text-align: left;
					display: inline-block;
					margin-top: 18px;
					margin-bottom: 18px;
					font-size: 12px;
				}
			}
		}

		.profileInfo {
			@include gridle(4);
			margin: 0 auto;
			float: none;

			&.passwords {
				.input_row {
					display: inline-block;
				}
			}

			&.passwordInfo {
				margin-top: 15px;
			}

			.birth_date {
				input {
					width: 75px;
					margin-right: 23px;

					&:last-child {
						margin-right: 0px;
					}
				}
			}

			.address {
				input {
					width: 130px;

					&:first-child {
						float: left;
					}

					&:last-child {
						float: right;
					}
				}
			}

			.socialInfo {
				@include gridle(3);
				@include gridle_push(1.7);

				.question_bubble {
					top: -5px;
					float: left;
					margin-left: 0px;
				}

				.socialText {
					width: 100%;
					text-align: center;
				}
			}

			.social_buttons {
				@include gridle(4);
				padding: 0px;
				margin-left: 62px;
				margin-top: 0px;

				.button {
					margin-right: 22px;
					margin-top: 10px;
					float: left;
					width: 35px;
					height: 35px;
					display: inline-block;
					background: #fff;
					border-radius: 15px;
					background-repeat: no-repeat;

					&:last-child {
						margin-right: 0px;
					}


					&:before  {
						top: 0px;
						margin: 0px;
						width: 35px;
						height: 35px;
						border-radius: 14px;
					}

					&:after {
						content: '';

						background-color: #fff;
						display: inline-block;
						top: -24px;
						position: relative;
					}

					&.fb {
						background-color: #fff;

						&:after {
							@include sprite($fb-inactive);
						}

						&.active {
							&:before {
								background-color: #3c599b;
							}

							&:after {
								@include sprite($fb-active);
								background-color: #3c599b;
							}
						}

						&:hover {
							background-color: #3c599b;


							&:after{
								@include sprite($fb-active);
								background-color: #3c599b;
							}
						}
					}

					&.vk {
						background-color: #fff;	

						&:after {
							@include sprite($vk-inactive);
						}

						&.active {
							&:before {
								background-color: #45668e;
							}

							&:after {
								@include sprite($vk-active);
								background-color: #45668e;
							}
						}

						&:hover {
							background-color: #45668e;

							&:after {
								@include sprite($vk-active);
								background-color: #45668e;
							}
						}
					}

					&.ok {
						background-color: #fff;

						&:after {
							@include sprite($ok-inactive);
						}

						&.active {
							&:before {
								background-color: #ed812b;
							}

							&:after {
								@include sprite($ok-active);
								background-color: #ed812b;
							}
						}

						&:hover {
							background-color: #ed812b;

							&:after {
								@include sprite($ok-active);
								background-color: #ed812b;

							}
						}
					}

					
				}
			}

			.about {
				@include gridle(6);
				margin-bottom: 20px;

				textarea {
					width: 720px;
					height: 115px;
					float: left;
					// margin: 0 auto;
					background: white;
					margin-left: 72px;
				}
			}

			.password, .newPassword {
				width: 225px;
				border-radius: 5px 0px 0px 5px;
				float: left;
			}

			.middle input {
				@include gridle(6);
				width: 529px;
				margin: 0 auto;
				float: none;
			}

			.switcher {
				width: 55px;
				height: 50px;
				border-radius: 0px 5px 5px 0px;
				display: inline-block;
				// top: 20px;
				position: relative;
				background: url(/img/user/profile/password_close.png) #fff no-repeat center center;
				@include x-user-select();
				@include x-transition(background 0.3s ease-in);
				cursor: pointer;
				float: right;

				&.active {
					background: url(/img/user/profile/password_open.png) #fff no-repeat center center;
				}
			}
		}

		.iAgreeBlock {
			height: 40px;
			padding: 30px 26px;
			border: 1px solid #e3ddd2;
			border-radius: 5px;
			padding-top: 21px;

			.checkbox {
				float: left;
				height: 100%;
				margin-right: 20px;
				position: relative;

				input {
					display: none;

					+label {
						width: 25px;
						height: 25px;
						margin-top: 14px;

						cursor: pointer;
						position: absolute; /*otherwise ,,left: x px;" isn't working*/
						display: block;
						border-radius: 8px;
						background: white;


						-webkit-transition: all .5s ease;
						-moz-transition: all .5s ease;
						-o-transition: all .5s ease;
						-ms-transition: all .5s ease;
						transition: all .5s ease;
					}

					&:checked+label {
						background-color: #2da7e0;
					}

					&:checked+label:before {
						content: '';
						background: url(/img/user/profile/agree.png);
						width: 26px;
						height: 24px;
						display: inline-block;
						top: -5px;
						left: 4px;
						position: relative;
					}
				}
			}

			.text {
				text-align: left;
				line-height: 24px;
				color: #666666;
				margin-left: 53px;
			}
		}

		.buttonSave {
			width: 210px;
			margin: 0 auto;
			padding: 15px 0px;
			background: #e4ddd3;
			border: 1px solid #e4ddd3;

			color: #a6a095;
			border-radius: 50px;
			font-size: 18px;
			text-transform: uppercase;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 40px;
			cursor: pointer;
			display: block;

			&:hover {
				background: #f2eee6;
				border: 1px solid #e3ddd2;
				box-shadow: black 0px 4px 11px -5px;
			}

			&:active {
				background: #f2eee6;
				border: 1px solid #e3ddd2 !important;

				box-shadow: none !important;
			}
		}
	}
}

.customSelect {
	border-radius: 5px;
	box-sizing: border-box;
	border: none;
	text-transform: uppercase;
	font-size: 100%;
	outline-style: none;
	color: #999999;
	background-color: #fff;
	float: left;
	margin-right: 30px;
	font-family: 'PT_Sans_Regular';
	position: relative;
	width: 73px;

	.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: #000; background-color: #999999;
	}
	.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background-color: #999999; background-color: #999999;
	}

	&.customYear {
		margin-right: 0;
	}

	&:hover {
		cursor: pointer;
	}

	.content {
		padding: 15px 10px;

		.triangleDown {
			float: right;

		}
	}

	.customSelectList {
		display: none;
		position: absolute;
		top: 45px;
		left: 0;
		background: #ffffff;
		z-index: 1;
		min-width: 100%;
		height: 300px;
		overflow: auto;

		&.active {
			display: block;
		}

		.customSelectListItem {
			padding: 5px;
			text-align: left;

			&:hover {
				cursor: pointer;
				background: #e5e5e5;
				font-weight: bold;
			}
		}
	}
}

.popUpWrap {
	&.addChildPopUp {
		input[type="text"] {
			height: 60px;
			padding-top: 3px;
		}

		.customSelect {
			margin-right: 10px;
			width: 77px;
		}

		.contentWrap {
			@include gridle(6);
			max-width: 880px;
			float: none;
			padding: 30px 0px 50px 0px;
			
			.title {
				h1 {
					margin-top: 0px;
					text-transform: uppercase;
				}
			}

			.text {
				@include gridle(4);
				margin: 0 auto;
				float: none;
			}

			.childUserPic {
				@include gridle(3);

				.photoArea {
					width: 100%;
					height: 200px;
					border: 1px solid #fff;
					background: #e3ddd2;
					border-radius: 8px;

					.photoCircle {
						width: 118px;
						height: 118px;
						border: 2px dashed #797670;
						border-radius: 100px;
						margin: 0 auto;
						margin-top: 42px;
					}
				}
				
				.button {
					display: inline-block;
					float: left;
					cursor: pointer;

					&:before {
						width: 47px;
						height: 27px;
						display: inline-block;
						position: relative;
						top: 8px;
						content: '';
					}

					&.upload {
						&:before {
							background-image: url(/img/user/profile/download_button.png);
							background-repeat: no-repeat;
							background-position: center center;
						}
					}

					&.remove {
						&:before {
							background-image: url(/img/user/profile/remove_button.png);
							background-repeat: no-repeat;
							background-position: center center;
						}
					}
				}
			}

			.childMetaInfo {
				@include gridle(3);

				.buttons {
					height: 70px;
					margin-top: 20px;
				}

				.childGender[type="radio"] {
					display: none;

					+label {
						text-transform: uppercase;
						margin-right: 20px;

						&:before {
							content: '';
						}

						&:after {
							content: '';
						}
					}

					&:checked + label {
						font-weight: bold;
					}

					&:checked+label:before {
						background-color: #fff;
						border: 0px solid ccc6bd;
					}

					&:not(:checked)+label:before {
						background-color: #f2efed;
						border: 2px solid ccc6bd;
					}

					&:not(:checked), &:checked {
						+label:after {
							height: 25px;
						}

						+label[for="child_male"]:after {
							width: 15px;
						}

						+label[for="child_frmale"]:after {
							width: 16px;
						}
					}

					&:not(:checked)+label:after, &:checked+label:after {
						top: 8px;
						left: 11px;
					}

					&:checked + label:before {
						box-shadow: black 0px 4px 11px -5px;
					}

					&:not(:checked) + label[for="child_male"]:before {
						background: url(/img/user/profile/child_male_inactive.png) no-repeat center center;
					}

					&:checked + label[for="child_male"]:after {
						background: url(/img/user/profile/child_male_active.png);
					}

					&:not(:checked) + label[for="child_female"]:before {
						background: url(/img/user/profile/child_female_inactive.png) no-repeat center center;
					}

					&:checked + label[for="child_female"]:after {
						background: url(/img/user/profile/child_female_active.png);
					}
				}

				.childBirthDate {
					.childBirthInput {
						width: 75px;
						display: block;
						margin-right: 18px;
						float: left;
					}

					.childBirthInput:last-child {
						margin-right: 0px;
					}
				}
			}

			.bottomButton {
				margin-top: 60px;
				width: 100%;

				.button {
					background: #36a8de;
					color: white;
				}				
			}
		}
	}
}

// .tooltip {
// 	position: relative;
// 	width: 201px;
// 	height: 89px;
// 	background: url("/img/user/registration/message_bg.png") no-repeat;
// 	float: right;
// 	right: -120px;
// 	top: -60px;
	
// 	.adorable_cell {
// 		padding: 20px 20px 20px 35px;
// 		color: $white;
// 		font-size: 12px;
// 		font-family: 'PT_Sans_Italic';
// 	}
// }


/* "Invite friends" start */
.profileSocials {
	margin-bottom: 50px;
}

.profileInvite {
	color: white;
	width: 100%;
	height: 50px;
	cursor: pointer;
	position: relative;
	float: left;
	text-align: left;
	padding-left: 16px;
	border-radius: 6px;
	margin-top: 6px;
	.img {
		position: absolute;
		width: 10px;
		height: 10px;
		top: 16px;
		right: 16px;
	}
	&.vk {
		background-color: #4c75a3;
	}
	&.fb {
		background-color: #3c599b;
	}
}

	/* popup */

.pf-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
	background-color: rgba(76, 117, 163, 0.7);
}

.pf-container {
	@include vertical-align;
	border-radius: 20px;
	background: white;
	padding: 20px 0;
	width: 800px;
	margin: 0 auto;
	height: 70%;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.pf-close {
	color: white;
	border-radius: 50%;
	background-color: rgb(76, 117, 163);
	text-align: center;
	font-size: 16px;
	height: 22px;
	width: 22px;
	position: absolute;
	top: 14px;
	right: 14px;
	cursor: pointer;
}

.pf-title {
	width: 100%;
	height: 12%;
	color: black;
	font-size: 30px;
}

.pf-items {
	margin: 0 auto;
	width: 72%;
	height: 88%;
	overflow-y: auto;
	overflow-x: hidden;
}

.pf-friend {
	width: 22%;
	margin: 1% 1% 5% 1%;
	display: inline-block;
	text-align: center;
}

.pf-img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.pf-name {
	height: 36px;
	text-align: center;
}

.pf-send {
	background-color: #4c75a3;
	border-radius: 4px;
	margin-top: 8px;
	padding: 4px 0;
	font-size: 80%;
	width: 90%;
	&.sended {
		background-color: #D0D0D0 !important;
	}
}
/* "Invite friends" ending */

.bar {
	height: 37px;
	color: white;
	text-transform: uppercase;
	font-family: 'PT_Sans_Bold';
	@include gridle(6);
	float: right;
	padding: 0px;	

	.icon {
		// background: url('/img/user/moneybox/grey_bar.png') repeat-x;
		background: #e3ddd2;
		width: 29px;
		height: 8px;
		display: inline-block;
		float: left;

		&:first-child {
			border-top-left-radius: 9999em;
			border-bottom-left-radius: 9999em;
			overflow: hidden;
		}

		&:last-child {
			border-top-right-radius: 9999em;
			border-bottom-right-radius: 9999em;
			overflow: hidden;
		}

		&:not(:last-child) {
			border-right: 1px solid #f1eee9;
		}

		&.filled {
			background: url('/img/user/moneybox/blue_bar.png') repeat-x;

			&:not(:last-child) {
				border-right: 1px solid #96d3f0;
			}
		}
	}

	.partial {
		position: absolute;
		height: 100%;
		background: url('/img/user/moneybox/blue_bar.png') repeat-x;
		top: 0;
		left: 0;
	}

	.label {
		position: relative;
	}
}
