include helpers
.filter.show
	.age_filter
		.topper
			.adorable_table
				.adorable_cell
					.top_label Энциклопедия
					.label.novito_nova Выберите возраст
		
		.ages_container
	
			- each a, key in ages
				- var normal = '/img/' + (a.icon && a.icon.normal ? 'uploads/' + a.icon.normal : 'no_photo.png')
				- var hover = '/img/' + (a.icon && a.icon.hover ? 'uploads/' + a.icon.hover : 'no_photo.png')
				- var classname = ''
				
				if params.age && params.age == a.value
					- classname = 'active'
				
				.age_block(data-value = a.value, class = classname)
					.adorable_table
						.adorable_cell
							.image
								img.normal(src = normal)
								img.hover(src = hover)
									
							.title #{a.title}

	.theme_filter
		.close
		.filterContent
			.topper
				.adorable_table
					.adorable_cell
						.label.novito_nova Какая тема вам ближе?

			.center.bookshelfWrap
				.bookshelf
					- each t, key in themes
						mixin theme(t)

if params.age || params.theme
	.center
		.content
			include ../helpers/breadcrumbs
			
			.topper_title
				if params.theme
					- each t, key in themes
						if t._id == params.theme
							| #{t.name}
				else
					- each a, key in ages
						if a.value == params.age
							| #{a.title}
			
			.items_filter
				select.author_select
					- var countIt = function (type) {
						- if (type == 0) {
							- return articles.length;
						- }
						- var count = 0;
						- for (var i = 0, ln = articles.length; i < ln; i += 1) {
							- var a = articles[i];
							- if (a.type.name == type) {									
								- count += 1
							- }
						- } 
						- return count;
					- }
					
					option(data-count = countIt(0), value = 0) Все авторы
					option(data-count = countIt("Статья от редакции"), value = "Статья от редакции") От редакции
					option(data-count = countIt("Статья от специалиста"), value = "Статья от специалиста") Мнение специалиста
					option(data-count = countIt("Тема недели"), value = "Тема недели") Тема недели
				
				select.order_select
					option(value = 'date') Сначала новые
					option(value = '-date') Сначала старые
				
				.subscribe
					.adorable_table
						.adorable_cell
							button(class="subscribeIt" style=(subscription ? 'display: none;' : '') )
								img(src="/img/user/encyclopedia/pencil.png")
								span Подписаться на тему
							button(class="unSubscribeIt"  style=(subscription ? '' : 'display: none;') )
								img(src="/img/user/encyclopedia/pencil.png")
								span Отписаться от темы
			
			.items_container
				- each a, i in articles
					mixin article(a, i)
