mixin theme(t)
	- var classname = ''
	
	if t
		if params.theme && params.theme == t._id
			- classname = 'active'
	else
		- classname = '{{#if params.theme}}{{#if params.theme == _id}}active{{/if}}{{/if}}'
	
	.book(data-theme = (t ? t._id : '{{_id}}'), class = classname)
		.cover
			.adorable_table
				.adorable_cell
					.title #{t.name}
					.count
						.adorable_table
							.adorable_cell 0