extends ../layout

block append header
	link(href="/css/user/encyclopedia/encyclopedia.css" rel="stylesheet")

block content
	.module.server.encyclopedia#encyclopedia
		include content

block prepend scripts
	script.
		var app = {
			articles: !{JSON.stringify(articles)},
			ages: !{JSON.stringify(ages)},
			themes: !{JSON.stringify(themes)}
		};
	script#bookshelf_mustache(type="text/mustache")
		| {{#each themes}}
		mixin theme()
		| {{/each}}
	script#encyclopedia_mustache(type="text/mustache")
		| {{#each articles}}
		mixin article()
		| {{/each}}
