extends ../layout

block append header
	link(href="/css/user/encyclopedia/encyclopedia.css" rel="stylesheet")
	meta(property="og:title" content = "Энциклопедия")
	meta(property="og:description" content = "Было бы куда проще, если бы к малышам прилагалась специальная инструкция. Тогда мамы и папы точно бы знали, как правильно кормить, воспитывать и ухаживать за своими карапузами. В большой «Энциклопедии для мам» вы найдете ответы на все важные родительские вопросы!")
	meta(property="og:image" content = base_url + "/img/user/encyclopedia/og_image.jpg")

block content
	.module.server.encyclopedia#encyclopedia
		include content

block prepend scripts
	script.
		var app = {
			articles: !{JSON.stringify(articles)},
			ages: !{JSON.stringify(ages)},
			themes: !{JSON.stringify(themes)}
		};
	script#bookshelf_mustache(type="text/mustache")
		| {{#each themes}}
		mixin theme()
		| {{/each}}
	script#encyclopedia_mustache(type="text/mustache")
		| {{#unless articles.length}}
		| {{#isnt filter 0}}
		h1.emptyFilter= 'Извините, ваш фильтр настроен слишком строго!'
		| {{/isnt}}
		| {{/unless}}
		| {{#each articles}}
		mixin article()
		| {{/each}}
