.card.x2
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_title Пять сонных полотенец для малыша
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.x2
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_title Пять сонных полотенец для малыша
			.topper_text «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым. Кажется, что ребенок пренебрегает нашей заботой – всеми теми силами, что были... потрачены на добывание пищи и ее приготовление...
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Планирование беременности
			
			.topper_small_title Зачем беременным йога?
		
		.footer
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Планирование беременности
			
			.topper_small_title Зачем беременным йога?
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Планирование беременности
			
			.topper_small_title Зачем беременным йога?
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Планирование беременности
			
			.topper_small_title Зачем беременным йога?
		
		.footer
			.heart
				img(src="/img/user/helpers/cards/lamp.png")
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.double
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_double_title Пять сонных полотенец для малыша
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.double
	.inner
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_double_title Пять сонных полотенец для малыша
			.topper_text
				| «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым.
				br
				br
				| Кажется, что ребенок пренебрегает нашей заботой – всеми теми силами, что были... потрачены на добывание пищи и ее приготовление... ребенка, а это грозит пищевыми расстройствами в будущем... Понятно, что у наших мам просто не было выбора – сами-то они были воспитаны «детьми войны», на всю жизнь сохранившими сны о картошке с маслом. Но почему же мы продолжаем эту традицию «пищевой тирании»? 
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card
	.inner
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_small_title Пять сонных полотенец для малыша
			.topper_text
				| «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым.
		
		.footer.silver
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.author
	.inner
		.topper.cloud
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_small_title Курсы для беременных мамочек в Шевченковском районе Масквы!
			
		.user_content
			.avatar
				img.rounded(src='/img/avatar_100x100.jpg')
			.name Ирина Матвиенко
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.double.blue
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_double_title Пять сонных полотенец для малыша
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.x2.blue
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_title ПОДГОТОВКА К РОДАМ
			
			.topper_small_title
				div Как узнать, что роды начинаются?
				div Куда звонить?
				div Что брать с собой в роддом?
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.x2.blue
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_title ПОДГОТОВКА К РОДАМ
			
			.topper_small_title
				div Как узнать, что роды начинаются?
				div Куда звонить?
				div Что брать с собой в роддом?
			
			.topper_text «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым. Кажется, что ребенок пренебрегает нашей заботой – всеми теми силами, что были... потрачены на добывание пищи и ее приготовление...
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.blue
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Усыпление младенцев
			
			.topper_small_title ПОДГОТОВКА К РОДАМ
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.poll
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Есть ли жизнь у малышей?
			
			.topper_small_title.gold Как сделать так, чтобы малыш уснул?
			
			.topper_approve
				span.count 396
				span.approve
					div мамочек
					div ответили
		
		.button_content
			button.me_too Я тоже
		
		.footer
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.article
	.inner
		.topper.cloud
			.topper_label
				.adorable_table
					.adorable_cell Подготовка к родам
			
			.topper_small_title.green Почему мамам вредно думать, что они самые умные
		
		.user_content
			.avatar.medical_cap
				img.rounded(src='/img/avatar_100x100.jpg')
			.name врач-педиатр
			.name Ирина Матвиенко
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.article
	.inner
		.topper.cloud
			.topper_label
				.adorable_table
					.adorable_cell Воспитание по попе
			
			.topper_small_title Какая разница между зелеными и фиолетовыми прыщиками?
		
		.user_content
			.avatar
				img.rounded(src='/img/avatar_100x100.jpg')
			.name Юля Синичкина
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/helpers/cards/eye.png")
					span.count 396
					span.approve
						div мамочки
						div наблюдают
					
					img.sandglass(src="/img/user/helpers/cards/sandglass.png")

.card.x2.poll
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Опрос
			
			.topper_double_title.gold Как не спать, если малыш на полотенце?
			
			.topper_text «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым. Кажется, что ребенок пренебрегает нашей заботой – всеми теми силами, что были... потрачены на добывание пищи и ее приготовление...
			
			.topper_approve
				span.count 396
				span.approve
					div мамочек
					div ответили
		
		.button_content.gold
			button.me_too Я тоже
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896


.card.x2.promo
	.inner
		.topper.bg
			.topper_label
			
			.segoe_bold_title.purple Тысяча подарков
			.segoe_title.purple от ТМ «АГУША» 
			.segoe_bold_title.red Для самых шустрых родителей
		
			.topper_approve
				span.count 396
				span.approve
					div мамочки
					div участвуют
		
		.button_content.red
			button.me_too Хочу подарок!
		
		.promo_content
			img(src="/img/user/helpers/cards/promo_image.png")

.card.double.poll
	.inner
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Опрос
			
			.topper_double_title.gold Как не спать, если малыш на полотенце?
			
			.topper_approve
				span.count 396
				span.approve
					div мамочек
					div ответили
		
		.button_content.gold
			button.me_too Я тоже
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.double.article
	.inner
		.topper.cloud
			.topper_label
				.adorable_table
					.adorable_cell Опрос
			
			.topper_small_title Какая разница между маленькими зелеными и огромными фиолетовыми прыщиками?
		
		.user_content
			.item
				.avatar
					img.rounded(src='/img/avatar_100x100.jpg')
				.name Ирина Матвиенко
			
			.item
				.avatar.medical_cap
					img.rounded(src='/img/avatar_100x100.jpg')
				.name врач-педиатр
				.name Ирина Матвиенко
		
		.footer
			.heart
				img(src="/img/user/helpers/cards/lamp.png")
				img(src="/img/user/helpers/cards/red_eye.png")
				img(src="/img/user/helpers/cards/check.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.article
	.inner
		.topper.cloud
			.topper_label
				.adorable_table
					.adorable_cell Опрос
			
			.topper_small_title Есть ли разница между зелеными и зелеными прыщиками?
		
		.user_content
			.item
				.avatar
					img.rounded(src='/img/avatar_100x100.jpg')
				.name Ирина Матвиенко
		
		.footer
			.heart
				img(src="/img/user/helpers/cards/check.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.article
	.inner
		.topper.cloud
			.topper_label
				.adorable_table
					.adorable_cell Опрос
			
			.topper_small_title Есть ли разница между зелеными и зелеными прыщиками?
		
		.user_content
			.item
				.avatar.medical_cap
					img.rounded(src='/img/avatar_100x100.jpg')
				.name Ирина Матвиенко
		
		.footer
			.heart
				img(src="/img/user/helpers/cards/lamp.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.double.promo
	.inner
		.left
			.promo_content
				img(src="/img/user/helpers/cards/promo_image_double.png")
		
		.right
			.topper.bg
				.topper_label
				
				.segoe_bold_title.white Тысяча подарков
				.segoe_title.white от ТМ «АГУША» 
				.segoe_bold_title.pink Для самых шустрых родителей
				
				.topper_approve
					span.count 396
					span.approve
						div мамочки
						div участвуют
			
			.button_content.red
				button.me_too Хочу подарок!

.card.promo
	.inner
		.topper_label
		
		.promo_bg
			img(src="/img/user/helpers/cards/promo_image_double.png")
		
		.small_right
			.segoe_bold_title.white Тысяча подарков
			.segoe_title.white от ТМ «АГУША» 
			.segoe_bold_title.pink Для самых шустрых родителей
		
		.topper_approve
			span.count 396
			span.approve
				div мамочки
				div участвуют
		
		.button_content.red
			button.me_too Хочу подарок!

.card.product
	.inner.gradient
		.topper
			.topper_label
				.adorable_table
					.adorable_cell Новый продукт
			
			.topper_product_title Фруктовое пюре «ГРУША»
		
		.product_image
			img(src="/img/user/helpers/cards/product.png")

.card
	.inner.gradient
		img.background(src="/img/user/helpers/cards/news.png")
		
		.topper
			.topper_label
				.adorable_table
					.adorable_cell Новости завода
			
			.topper_product_title Только для детей

.card
	.inner.gradient
		img.background(src="/img/user/helpers/cards/bg.jpg")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell 12 октября 1869
			
			.topper_product_title Оказывается наши пакеты разного размера!

.card.double
	.inner.gradient
		img.background(src="/img/user/helpers/cards/milk_can.png")
		
		.topper_label
			.adorable_table
				.adorable_cell Новый продукт
		
		.topper_product_title Новые байки о бидонах и яблоках

.card.double
	.inner.gradient
		img.background(src="/img/user/helpers/cards/milk_can.png")
		
		.topper.bg
			.topper_label
				.adorable_table
					.adorable_cell Новый продукт
			
			.topper_product_title Новые байки о бидонах и яблоках
			
			.topper_text «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым. Кажется, что ребенок пренебрегает нашей заботой – всеми теми силами, что были... потрачены на добывание пищи и ее приготовление...

.card
	.inner.gradient
		.topper
			.topper_label
				.adorable_table
					.adorable_cell Новый продукт
			
			.topper_product_title Новые байки о бидонах и яблоках
			
			.topper_text «Пока не съешь все, из-за стола не выйдешь» – знакомые слова? Очень обидно, когда любовно приготовленный ужин остается на тарелке практически нетронутым. Кажется, что ребенок пренебрегает нашей заботой – всеми теми силами, что были...
		
		.footer
			.heart
				img(src="/img/user/article/heart.png")
			
			.counters.adorable_table
				.adorable_cell
					img.like(src="/img/user/article/heart.png")
					span.count 396
					span.approve
						| мамочек
						br
						| одобряют
					
					img.comment(src="/img/user/article/comment.png")
					span.count 1896

.card.double.product
	.inner.gradient
		.product_image
			img(src="/img/user/helpers/cards/product.png")
		
		.product_info
			.topper
				.topper_label
				
				.topper_product_title Фруктовое пюре «ГРУША»  
				
				.topper_text
					div Очень вкусное ням-ням и такое распрекрасное препюре, что даже пальчики, и не один, а как два пальца!
					br
					div Рекомендуем до беспамятства, да так, что уже сами не помним, что рекомендуем. Тримайтесь, хлопцы!
					br
					div Одеяла и падушке ждут рибят.