@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import '../helpers/tabs';

#help {
	width: 920px;
	text-align: left;
	
	&:before {
		@include pseudo;
		@include absolute_horizontal_centered;
		top: 0;
		left: 0;
		background: url('/img/user/help/topper_background.jpg') top no-repeat;
		width: 100%;
		height: 210px;
		z-index: 5;
	}
	
	.topper_title {
		color: $blue;
		height: 80px;
	}
	
	.tab_contents {
		padding: 20px 20px 40px 20px;
	}
	
	.tab_content {
		display: none;
		
		&.active {
			display: block;
		}
		
		&.rules {
			background-color: $white;
			margin-top: 30px;
			padding: 0 70px 35px 70px;
			
			.title {
				font-size: 18px;
				font-family: 'PT_Sans_Narrow_Bold';
				line-height: 18px;
				text-transform: uppercase;
				padding: 25px 0 20px;
				color: $titlegrey;
			}
			
			.text {
				margin-bottom: 20px;
			}
			
			.bold {
				color: #4d4d4d;
			}
			
			.warning {
				color: $red;
				margin-bottom: 30px;
			}
			
			.email {
				color: $darkblue;
				text-decoration: underline;
			}
		}
		
		&.contacts {
			background-color: $white;
			margin-top: 30px;
			height: 655px;
			
			.left {
				@include border_boxed;
				float: left;
				width: 300px;
				height: 655px;
				padding: 37px 20px 37px 40px;
				font-size: 18px;
			}
			
			.label {
				color: $darkblue;
				margin-bottom: 30px;
			}
			
			.contact_label {
				color: #b3a8a1;
				font-family: 'PT_Sans_Italic';
				padding: 0 0 0 35px;
				
				&.address {
					position: relative;
					
					&:before {
						@include pseudo;
						background: url('/img/user/help/home.png') center no-repeat;
						width: 22px;
						height: 18px;
						top: 3px;
						left: 0;
						bottom: 0;
					}
				}
				
				&.mail {
					position: relative;
					
					&:before {
						@include pseudo;
						background: url('/img/user/help/mail.png') center no-repeat;
						width: 22px;
						height: 17px;
						top: 3px;
						left: 0;
						bottom: 0;
					}
				}
				
				&.phone {
					position: relative;
					
					&:before {
						@include pseudo;
						background: url('/img/user/help/phone.png') center no-repeat;
						width: 20px;
						height: 19px;
						top: 3px;
						left: 0;
						bottom: 0;
					}
				}
			}
			
			.contact_text {
				padding: 0 0 0 35px;
				margin-bottom: 25px;
				
				.mail {
					color: $darkblue;
					text-decoration: underline;
				}
				
				.phone {
					color: $darkblue;
					font-size: 24px;
					line-height: 24px;
					letter-spacing: 1px;
					
					a {
						text-decoration: none;
						color: $base;
					}
				}
				
				.phone_notice {
					font-size: 13px;
				}
			}
			
			.right {
				float: right;
				height: 655px;
				width: 580px;
			}
		}
	}
	
	.tab_block {
		@include transition(margin 0.3s ease-in-out);
		position: relative;
		background: $white;
		margin: 1px 0;
		
		&.active {
			margin: 20px 0;
			
			.title {
				@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22));
				
				&:before {
					bottom: -17px;
				}
			}
			
			.text {
				display: block;
			}
		}
		
		.title {
			@include border_boxed;
			@include box_shadow(0 0 0 0 rgba(0, 0, 0, 0.22));
			@include transition(box-shadow 0.3s ease-in-out, -moz-box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out);
			height: 70px;
			font-family: 'PT_Sans_Narrow_Bold';
			font-size: 18px;
			text-transform: uppercase;
			color: #4c4c4c;
			cursor: pointer;
			position: relative;
			
			&:hover {
				.adorable_table {
					background-color: #fafafa;
				}
				
				&:before {
					background-position: -46px 0;
				}
			}
			
			&:before {
				@include pseudo;
				@include transition(bottom 0.3s ease-in-out);
				bottom: -0;
				left: 50px;
				width: 46px;
				height: 17px;
				background: url('/img/user/help/title_arrow.png') no-repeat;
			}
			
			.adorable_table {
				background-color: $white;
				z-index: 1;
			}
			
			.adorable_cell {
				padding: 0 70px;
				text-align: left;
			}
		}
		
		.text {
			padding: 30px 70px 45px;
			
			a {
				color: #2ca7e0;
			}
		}
	}
	
	.search_block {
		&:before {
			@include pseudo;
			background: url("/img/user/help/search.png") no-repeat scroll center center $white;
			height: 100%;
			left: 0;
			top: 0;
			width: 70px;
			z-index: 10;
		}
	}
}

#faq_search {
	@include border_radius(0);
	font-size: 14px;
	height: 70px;
	padding: 0 10px 0 70px;
}