<div class="item">
    <div class="date">{{date}}</div>
    <div class="item_table">
        <div class="avatar_column">
            <div class="avatar"><img src="/img/{{author.image}}" class="rounded"></div>
        </div>
        <div class="content_column">
            <div class="info">
                <div class="name">{{author.first_name}} {{author.last_name}}</div>
            </div>
            <div class="text">{{{message.content}}}</div>
        </div>
    </div>
</div>