.content
	include ../helpers/breadcrumbs
	
	.topper_title Помощь
	
	.tabs
		.tabs_flex
			.tab.feedback
				.title Ошибки и пожелания
			.tab.rules
				.title Правила сайта
			.tab.faq.active
				.title FAQ
	
	.tab_contents
		.tab_content.faq.active
			.tab_block.search_block.active
				input#faq_search(type="text", placeholder="Поиск")
			
			- each f, key in faq
				.tab_block.faq_block(id = 'faq_block_' + f.id, class = (f.active ? 'active' : ''))
					.title
						.adorable_table
							.adorable_cell #{f.title}
					.text !{f.text}
		
		.tab_content.rules
		.tab_content.feedback