.content
	include ../helpers/breadcrumbs
	
	.topper_title Помощь
	
	.tabs
		.tabs_flex
			a.tab.tab_selector.feedback.new_module(href="/help/feedback", class = (tab == 'feedback' ? 'active' : ''))
				.tab_selector_inside
					.title Обратная связь
			
			a.tab.tab_selector.agreement.new_module(href="/help/agreement", class = (tab == 'agreement' ? 'active' : ''))
				.tab_selector_inside
					.title Соглашение
			
			a.tab.tab_selector.rules.new_module(href="/help/rules", class = (tab == 'rules' ? 'active' : ''))
				.tab_selector_inside
					.title Правила сайта
			
			a.tab.tab_selector.faq.new_module(href="/help/faq", class = (tab == 'faq' ? 'active' : ''))
				.tab_selector_inside
					.title FAQ
	
	.tab_contents
		if tab == 'faq'
			include faq
		
		if tab == 'rules'
			include rules
		
		if tab == 'agreement'
			include agreement
		
		if tab == 'feedback'
			include feedback