.content
	include ../helpers/breadcrumbs
	
	.topper_title Помощь
	
	.tabs
		.tabs_flex
			.tab.tab_selector.feedback(data-tab="feedback")
				.tab_selector_inside
					.title Обратная связь
			
			.tab.tab_selector.agreement(data-tab="agreement")
				.tab_selector_inside
					.title Соглашение
			
			.tab.tab_selector.rules(data-tab="rules")
				.tab_selector_inside
					.title Правила сайта
			
			.tab.tab_selector.faq.active(data-tab="faq")
				.tab_selector_inside
					.title FAQ
	
	.tab_contents
		.tab_content.tab_selector.faq.active
			.tab_block.search_block.active
				input#faq_search(type="text", placeholder="Поиск")
			
			- each f, key in faq
				.tab_block.faq_block(id = 'faq_block_' + f.id, class = (f.active ? 'active' : ''))
					.title
						.adorable_table
							.adorable_cell #{f.title}
					.text !{f.text}
		
		.tab_content.tab_selector.rules
			.title Дорогие мамы и папы!
			
			.text
				span Портал для современных родителей «Агуша» — место, где собрано много полезной информации о том, как кормить, пеленать и воспитывать деток. Здесь мамы и папы могут почитать интересные статьи, поучаствовать в конкурсах, задать вопрос педиатру и пообщаться между собой. Для того чтобы пребывание на нашем портале приносило только позитивные эмоции, необходимо придерживаться простых правил.
			
			.text
				span.bold Регистрируйтесь. 
				span Помните, что участвовать в конкурсах, задавать вопросы педиатру и оставлять комментарии к статьям могут только зарегистрированные пользователи.
			
			.text
				span.bold Указывайте реальные данные при регистрации. 
				span На нашем портале проходит много акций и розыгрышей. Если при регистрации вы укажите ваше реальное имя, номер телефона и адрес, нам будет намного проще выслать вам ваш подарок.
			
			.text
				span.bold Не грубите. 
				span Всегда найдутся люди, которые не согласны с вашим мнением. Или наоборот — вы можете не разделять позицию другого человека. Не стоит ругаться или оскорблять друг друга. Помните, «Агуша» — доброе и полезное сообщество. Пускай оно таким и остается.
			
			.text
				span.bold Думайте, что пишете. 
				span Старайтесь не публиковать информацию, которая не соответствует действительности. Если вы даете совет, помните о том, что другие родители могут им воспользоваться.
			
			.text
				span.bold Пользуйтесь поиском. 
				span На нашем портале мамы и папы могут задавать вопросы педиатру. Прежде чем спросить то, что интересует именно вас, воспользуйтесь поиском. Возможно, кто-то уже задавал подобный вопрос до вас.
			
			.text
				span.bold «Агуша» — сообщество грамотных родителей. 
				span Чтобы другим пользователям было приятно читать ваши сообщения, по возможности пишите без опечаток и ошибок. Внимательно перечитывайте написанное и старайтесь не публиковать сообщений, которые не несут смысловой нагрузки. 
			
			.text
				span.bold Мы не магазин. 
				span Наш портал — не платформа для рекламных объявлений. Очень просим вас не публиковать сообщения и ссылки рекламного или коммерческого характера на нашем сайте.
			
			.text.warning За нарушение одного или нескольких правил нашего портала мы оставляем за собой право заблокировать аккаунт пользователя либо изъять баллы из его «Копилки».
			
			.title КОНТАКТЫ
			
			.text Если у вас возникли вопросы о работе портала для современных родителей или о детском питании «Агуша», вы можете написать нам на почту либо позвонить. Мы с радостью ответим на все ваши вопросы!
			
			.text
				span Наш адрес: г. Вишневое, ул. Промышленная, 7
				br
				span E-mail: 
				a.email(href="mailto:contact@agusha.com.ua") contact@agusha.com.ua
				br
				span Горячая линия: 0 800 307 302
		
		.tab_content.tab_selector.agreement
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 1. Сроки и определение
				.text
					div 1.1. Соглашение — приведенные в данном документе условия и правила взаимодействия Администрации и Пользователей Сайта, в частности по обработке персональных данных, соблюдения прав на использование информации и результатов интеллектуальной деятельности и т.д.
					div 1.2. Сайт — http://www.agusha.com.ua/
					div 1.3. Администрация / Владелец Сайта — Публичное акционерное общество «Вимм-Билль-Данн Украина».
					div 1.4. Пользователь — совершеннолетнее, дееспособное физическое лицо, акцептовавшее настоящее Соглашение путем предоставления Администрации своих персональных данных в объеме и размере, запрашиваемых Администрацией. 
					div 1.5. Партнер — Общество с ограниченной ответственностью «Пепперминт». Точные адреса и контактные данные приведены в конце Соглашения.
					div 1.6. Подрядчик — юридическое или физическое лицо, действующее на основании договора с Администрацией с целью проведения в его интересах промо-акций и других мероприятий, доставки поощрений и осуществления других действий, направленных на продвижение продуктов и услуг Администрации.
					div 1.7. Персональные данные — сведения или совокупность сведений о пользователе, который идентифицирован или может быть конкретно идентифицирован.
					div В настоящем Соглашении под персональными данными Пользователя понимаются, в том числе, указанные им лично: фамилия, имя, отчество; номер мобильного телефона; адрес электронной почты; дата рождения; сведения о документе, удостоверяющем личность Пользователя, времени его выдачи и органа, который его выдал; сведения о месте жительства: регион, район, город, почтовый индекс, название улицы и номер дома; аккаунт Пользователя в социальной сети (сетях), сведения об отношении Пользователя к продуктам и/или услугам Администрации и использовании (приобретении) таких продуктов и услуг, а также имеющиеся у Администрации и ее Партнеров сведения о приобретенных Пользователем продуктов и услуг, участии в промо-акциях и других мероприятиях, проводимых Администрацией и ее Подрядчиками и Партнерами.
					div 1.8. Субъект персональных данных — Пользователь Сайта.
					div 1.9. Владелец персональных данных — Администрация Сайта.
					div 1.10. Обработка персональных данных — любое действие или совокупность действий, таких как сбор, регистрация, накопление, хранение, адаптирование, изменение, возобновление, использование и распространение (распространение, реализация, передача), обезличивание, уничтожение персональных данных, в том числе с использованием информационных (автоматизированных) систем.
					div Обработка персональных данных Пользователей Сайта осуществляется в целях:
					div - Авторизации пользователей на сайте: http://www.agusha.com.ua/
					div - Привлечение пользователей к участию в промо-акциях; 
					div - Отправка подарков Пользователям (в случае победы); 
					div - Информирование Пользователей о Продукции и услуги Администрации и Партнера; 
					div - Информирование Пользователей путем направления им e-mail и sms-сообщений 
					div - Исследование степени удовлетворенности Пользователя качеством продукции и услуг Администрации/Партнера.
					div 1.11. Согласие на обработку персональных данных — добровольное волеизъявление Пользователя о предоставлении разрешения на обработку персональных данных в соответствии со сформулированной целью их обработки, высказанное путем регистрации на Сайте.
					div 1.12. CRM-система (система управления взаимоотношениями с клиентами) — прикладное программное обеспечение, предназначенное для автоматизации стратегий взаимодействия с Пользователями, повышения уровня продаж продукции, оптимизации маркетинга и улучшения обслуживания пользователей путем сохранения информации о них и истории взаимоотношений с ними, установления и улучшения бизнес-процедур и последующего анализа результатов.
					div Оператор CRM-системы — юридическое лицо, осуществляющий деятельность по использованию CRM-системы, в том числе по обработке содержащихся в ней персональных данных пользователей.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 2. Общие положения
				.text
					div 2.1. Пользователь выражает согласие с тем, что, регистрируясь на Сайте, он подтверждает, что является совершеннолетним, обязуется соблюдать условия настоящего Соглашения и дает согласие на обработку персональных данных. В случае отсутствия у Пользователя безоговорочного согласия со всеми условиями настоящего Соглашения, Пользователь обязуется немедленно прекратить использование Сайта и всех его сервисов.
					div 2.2. Регистрация Пользователя на Сайте считается завершенной с момента получения Пользователем уникальных реквизитов доступа — логина и пароля, которые приходят ему на его электронную почту после собственноручного проставления Пользователем своей подписи в регистрационной анкете (с помощью компьютерной мышки), в поле, подтверждающем его ознакомление и согласие с настоящим Соглашением.
					div 2.3. Действия, совершенные на Сайте с использованием принадлежащих Пользователю логина и пароля, считаются совершенными Пользователем.
					div 2.4. Пользователь соглашается с тем, что размещаемые им на Сайте материалы (контент) доступны для других пользователей на Сайте в том объеме, в котором Пользователь оставил материалы на Сайте.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 3. Права и обязанности сторон
				.text
					div 3.1. Права и обязанности Пользователя:
					div 3.1.1. Пользователь обязуется предоставлять при регистрации точные, достоверные данные, запрошенные при регистрации, а именно: e-mail, имя/логин, город, день рождения, пол; необязательные поля: фамилия, наличие детей, фотография. Персональные данные сохраняются в базе данных Администрации и подлежат использованию исключительно в целях, методами и в объеме, предоставленном Пользователем на основании Согласия Пользователя на обработку персональных данных (Глава 7 настоящего Соглашения).
					div 3.1.2. Пользователь обязуется обеспечивать сохранность логина (адреса электронной почты) и пароля от доступа третьих лиц и своевременную их замену в случае потери или иных несанкционированных действий третьих лиц, а также несет ответственность за любые действия третьих лиц, воспользовавшихся указанными логином и паролем Пользователя. Все действия, совершенные на Сайте с использованием принадлежащих Пользователю логина и пароля, считаются совершенными Пользователем.
					div 3.1.3. Без ущерба для других положений настоящего Соглашения Администрация не несет прямой или косвенной ответственности любого рода за любой ущерб или убытки любого рода, понесенные в результате или в связи с несоблюдением Пользователем требований пункта 3.1.2. настоящего Соглашения.
					div 3.1.4. При использовании материалов (контента) Пользователь обязуется не нарушать права на результаты интеллектуальной деятельности третьих лиц. Пользователь не имеет права загружать, передавать или публиковать контент на Сайте, если он не обладает соответствующими правами на совершение таких действий, приобретенными или переданными ему в соответствии с законодательством Украины.
					div 3.1.5. Пользователь обязуется уведомлять Администрацию и предоставлять ей подтверждающие сведения, если Пользователь считает, что на Сайте присутствует информация, нарушающая его права. В случае если Пользователь предоставит ложную информацию о нарушении его прав, он несет полную ответственность за причиненный ущерб (включая расходы, пошлины и оплату адвокатских услуг).
					div 3.1.6. Сайт доступен Пользователям только для личного некоммерческого использования. Пользователям запрещается использовать Сайт в целях получения прибыли, для размещения рекламы, реализации мошеннических схем, финансовых пирамид и призывов принимать в них участие и других противоправных действий.
					div 3.1.7. Полный доступ к Сайту и его сервисам, размещение материалов, ознакомление с контактной информацией о других пользователях (данные, опубликованные Пользователями в своих профилях на Сайте: имя, город, день рождения, пол, наличие детей, фотография), возможны только для зарегистрированного Пользователя .
					div 3.1.8. При использовании Сайта Пользователь обязуется не совершать таких действий (следующие действия могут в дальнейшем именоваться «запрещенные способы использования»):
					div - не создавать несколько учетных записей на Сайте, если фактически они принадлежат одному и тому же лицу;
					div - не передавать в пользование свою учетную запись и/или логин и пароль от своей учетной записи третьим лицам;
					div - не размещать на Сайте контент, нарушающий любые законы, нормативно-правовые акты, договоры или права третьих лиц (в том числе коммерческие тайны, интеллектуальную собственность); контент, который является в том числе неприличным, дискредитирующим, вульгарным, содержащим клевету, угрозы, порнографию, преследующим других лиц, вызывающим рознь, оскорбительным; контент, содержащий признаки расовой или этнической дискриминации, поддерживающий или являющийся уголовным преступлением, имеющим основания для гражданской ответственности, или который является неподходящим по другим причинам на усмотрение Администрации;
					div - не выдавать себя за другое лицо или несанкционированно получать доступ к принадлежащим другим лицам учетным записям, или заниматься другой незаконной деятельностью на Сайте;
					div - не использовать Сайт в любых целях кроме доступа к сервисам Сайта тем способом, которым Администрация предлагает доступ к таким сервисам;
					div - не открывать технологию, не декомпилировать или иным способом не пытаться обнаружить исходный код сайта или любых его частей, за исключением случаев, когда такие действия прямо разрешены применимым законодательством несмотря на данное ограничение, и такие действия осуществляются только в той мере, в которой позволяет законодательство;
					div - не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его сервисами;
					div - не распространять спам, а также любую другую навязчивую информацию, явно не востребованную Пользователями;
					div - не пытаться получить доступ к учетной записи и/или логину и паролю любого другого Пользователя любым способом, включая, но не ограничиваясь, путем обмана, злоупотребления доверием, подбора логина и пароля.
					div 3.1.9. В случае если Администрация обнаружит совершение Пользователем любого из действий, перечисленных в п. 3.1.8 настоящего Соглашения, она оставляет за собой право немедленно, без предупреждения о своих действиях, блокировать доступ Пользователя к Сайту и/или удалить учетную запись Пользователя, не освобождая последнего от других видов ответственности согласно законодательству Украины.
					div 3.1.10. Пользователь имеет право использовать Сайт и сервисы Сайта любым способом, не противоречащим законодательству Украины и условиям настоящего Соглашения.
					br
					div 3.2. Права и обязанности Администрации:
					div 3.2.1. Администрация Сайта вправе предоставить Пользователю доступ к Сайту и поддерживать Сайт и Сервисы в рабочем состоянии.
					div 3.2.2. Администрация Сайта вправе, но не обязана, просматривать Сайт на наличие запрещенных материалов (контента) и может удалять или перемещать (без предупреждения) любой контент или Пользователей по своему личному усмотрению, по какой-либо причине или без причины, включая без каких-либо ограничений перемещения или удаления контента, который, по личному мнению Администрации, нарушает условия данного Соглашения, законодательство Украины и/или может нарушать права, причинить вред или угрожать безопасности других Пользователей или третьих лиц.
					div 3.2.3. Администрация сайта оставляет за собой право следить за деятельностью Пользователя в рамках использования им Сайта и сервисов, а также принимать меры по привлечению Пользователя к ответственности, предусмотренной настоящим Соглашением и находящейся в компетенции Администрации.
					div 3.2.4. Администрация Сайта вправе, но не обязана, осуществлять постмодерацию материалов Пользователя после публикации, в рамках которой:
					div - в случае размещения Пользователем на Сайте материалов или осуществления других действий, несоответствующих условиям Соглашения, Администрация Сайта вправе без уведомления, по собственному усмотрению удалить полностью или частично размещенную Пользователем информацию, включая ту информацию, в отношении которой сложно определить ее соответствие Соглашению и/или применимому законодательству Украины;
					div - за нарушение условий настоящего Соглашения Администрация вправе без предварительного уведомления блокировать доступ Пользователя к Сайту и/или удалить учетную запись Пользователя. 
					div 3.2.5. Администрация обязуется предоставлять техническую поддержку Пользователю по вопросам и в порядке, указанным ниже.
					div
						span 3.2.6. Техническая поддержка в форме письменной консультации предоставляется только по официальному запросу Пользователя, направленному в службу поддержки Сервиса по адресу:
						a.email(href="mailto:contact@agusha.com.ua") contact@agusha.com.ua
						span . Консультация специалиста может быть предоставлена по следующим вопросам: регистрация и проблемы при ее прохождении, функционирование Сайта. Не предоставляются консультации по вопросам настройки оборудования, программного обеспечения или интернет-доступа Пользователя или третьих лиц, а также по другим вопросам, не имеющим отношения к работе сайта.
					div 3.2.7. Администрация не обязана возвращать или уничтожать материалы, предоставленные Пользователем в связи или при пользовании Сайтом.
					div 3.2.8. Администрация имеет право без предварительного уведомления Пользователя проводить профилактические или иные работы, обеспечивающие работоспособность сайта.
					div 3.2.9. Администрация имеет право использовать технологию cookies. Cookies не содержат персональных данных пользователей и не передаются третьим лицам.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 4. Ответственность сторон
				.text
					div 4.1. Ответственность Пользователя.
					div 4.1.1. Присоединяясь к настоящему Соглашению, Пользователь понимает, принимает и соглашается с тем, что он:
					div - несет полную личную ответственность за содержание и соответствие нормам законодательства Украины всех материалов, которые он размещает на Сайте или иным образом доводит до всеобщего сведения (публикует) на Сайте или с его помощью;
					div - несет полную личную ответственность за соответствие способов использования им материалов других пользователей и другой информации, представленной на Сайте, нормам законодательства Украины (в том числе, но не ограничиваясь, нормам права об интеллектуальной собственности и защите информации);
					div - несет полную ответственность за сохранение своего аккаунта (логина и пароля), а также за все действия, совершенные под своей учетной записью;
					div - использует Сайт на свой собственный риск.
					div 4.1.2. Пользователь обязуется самостоятельно и за свой счет урегулировать все претензии третьих лиц, связанные с действием или бездействием Пользователя при использовании Сайта.
					div 4.1.3. Пользователь признает и соглашается, что IP-адрес персонального ЭВМ (персональный идентификационный номер компьютера) пользователя, а также другая доступная по протоколу HTTP информация фиксируется техническими средствами Администрации, и в случае совершения незаконных действий, в том числе действий, нарушающих интеллектуальные права третьих лиц, ответственным за указанные незаконные действия признается владелец персонального ЭВМ, который определяется техническими средствами Администрации.
					br
					div 4.2. Ответственность Администрации.
					div 4.2.1. Администрация не отвечает за любое поведение пользователей или третьих лиц, использующих или просматривающих Сайт, как в режиме онлайн, так и вне сети Интернет (оффлайн).
					div 4.2.2. Администрация не возмещает ущерб, прямой или косвенный, причиненный Пользователю или третьим лицам в результате использования или неиспользования, в т.ч. невозможности использования Сайта.
					div 4.2.3. Администрация не принимает на себя обязательства по проверке, изменению и контролю информации, размещаемой кем-либо на Сайте, не несет ответственности за достоверность информации, ее законность, качество и соответствие конкретным запросам и потребностям пользователей Сайта.
					div 4.2.4. Администрация не несет ответственности за содержание не принадлежащих Администрации сайтов, ссылки на которые могут присутствовать на Сайте, и не гарантирует их доступность, корректность работы и соответствие заявленной тематике.
					div 4.2.5. Администрация не несет ответственности за любые ошибки, упущения, прерывания, удаление, дефекты, задержку в обработке или передаче данных, сбои линий связи, кражу, уничтожение или неправомерный доступ к материалам пользователей, размещенным на Сайте или в любом другом месте. Администрация не отвечает за любые технические сбои или иные проблемы любых телефонных сетей или служб, компьютерных систем, серверов или провайдеров, компьютерного или телефонного оборудования, программного обеспечения, сбои сервисов электронной почты или скриптов по техническим причинам.
					div 4.2.6. Администрация не несет ответственности за любой ущерб компьютеру Пользователя или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с Сайта или по ссылкам, размещенным на Сайте.
					div 4.2.7. Ни при каких обстоятельствах Администрация не несет ответственности перед Пользователем или перед любыми третьими лицами за любые убытки, включая упущенную выгоду или потерянные данные, ущерб чести, достоинству или деловой репутации, причиненные в связи с использованием Сайта, содержимого сайта или других материалов, к которым Пользователь или иные лица получили доступ с помощью Сайта, даже если Администрация предупреждала или указывала на возможность такого вреда.
					div 4.2.8. Сайт или его сервисы могут быть в то или иное время частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера.
					div 4.2.9. Администрация не несет ответственности за ущерб или убытки любого рода, понесенные в результате или в связи с несоблюдением Пользователем требований Соглашения к сохранности реквизитов доступа — логина и пароля, а также за соответствие персональных данных действительности и законность их передачи от пользователя Администрации.
					br
					div 4.3. Сайты и Контент третьих лиц.
					div 4.3.1. Сайт содержит (или может содержать) ссылки на другие сайты в сети интернет (сайты третьих лиц) так же, как и статьи, фотографии, иллюстрации, графические изображения, музыку, звуки, видео, информацию, приложения, программы и другой Контент, принадлежащий или исходящий от третьих лиц (Контент третьих лиц), являющийся результатом интеллектуальной деятельности и охраняемый в соответствии с законодательством Украины.
					div 4.3.2. Указанные третьи лица и их Контент не проверяются Администрацией на соответствие тем или иным требованиям (достоверность, полноту, добросовестность и т.п.). Администрация не несет ответственности за любую информацию, размещенную на сайтах третьих лиц, к которым Пользователь получает доступ через Сайт или через контент третьих лиц, включая в том числе любые мнения или утверждения, выраженные на сайтах третьих лиц или в их контенте.
					div 4.3.3. Размещенные на Сайте ссылки или руководства по скачиванию файлов и (или) установке программ третьих лиц не означают поддержки или одобрения этих действий со стороны Администрации.
					div 4.3.4. Ссылка на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенная на Сайте, не является одобрением или рекомендацией данных продуктов (услуг) со стороны Администрации.
					div 4.3.5. Если Пользователь решил покинуть Сайт и перейти к сайтам третьих лиц, использовать или установить программы третьих лиц, он делает это на свой риск, и с этого момента настоящие Правила более не распространяются на Пользователя. При дальнейших действиях Пользователю стоит руководствоваться применимыми нормами и политикой, в том числе деловыми обычаями тех лиц, чей контент он собирается использовать.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 5. Интеллектуальная собственность
				.text
					div 5.1. Владелец сайта гарантирует, что обладает исключительными правами в отношении элементов дизайна, текстов, графических изображений, иллюстраций, видео, скриптов, программ для ЭВМ и других результатов интеллектуальной деятельности, созданных Администрацией в рамках реализации сайта.
					div 5.2. Пользователь гарантирует, что обладает интеллектуальными правами на материалы и части материалов, которые вошли в состав публикуемых им на Сайте.
					div 5.3. Кроме случаев, установленных настоящим Соглашением, а также действующим законодательством Украины, ни один результат интеллектуальной деятельности не может быть воспроизведен, переработан, распространен, доведен до всеобщего сведения или иным способом использован целиком или частично без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование результата интеллектуальной деятельности любым лицом.
					div 5.4. При размещении материалов на Сайте Пользователь безвозмездно предоставляет Администрации право использования указанных материалов на территории Украины и других стран мира, без ограничения по способам использования, а именно воспроизведение, распространение, переработку или создание из них производных произведений, публичный показ, доведение до всеобщего сведения в связи с предоставлением сервисов в рамках коммерческой деятельности, включая, без ограничений, рекламную и т.п., сроком на 10 лет с момента публикации.
					div 5.5. Пользователь имеет право размещать на Сайте только материалы, созданные его собственным творческим трудом, и не имеет права загружать или иным образом доводить до всеобщего сведения (публиковать на Сайте) материалы других сайтов, баз данных и других результатов интеллектуальной деятельности при отсутствии явным образом выраженного согласия правообладателя на такие действия.
					div 5.6. Любое использование Сайта или материалов, кроме разрешенного настоящим Соглашением или в случае явно выраженного согласия автора (правообладателя) на такое использование, без предварительного письменного разрешения правообладателя, категорически запрещено.
					div 5.7. Настоящее Соглашение не предоставляет Пользователю никаких прав на любые результаты интеллектуальной деятельности Администрации (включая, но не ограничиваясь, товарные знаки, указанные на Сайте) или третьих лиц, если передача исключительных прав прямо не указана, и все исключительные права и прибыль от использования остаются у Администрации и/или соответствующего третьего лица.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 6. Ответственность за нарушение исключительных прав
				.text
					div 6.1. В случае поступления от соответствующего правообладателя мотивированной претензии на нарушение его охраняемых законом прав, Администрация имеет право удалить материал или заблокировать доступ к нему пользователей без уведомления Пользователя и без объяснения причин.
					div 6.2. В случае поступления от третьих лиц претензий, связанных с размещением материалов, Пользователь самостоятельно и за свой счет урегулирует указанные претензии. Владелец сайта оставляет за собой право по своему усмотрению передавать любую информацию о пользователе любым третьим лицам, предъявившим достаточные (по мнению Администрации) доказательства нарушения Пользователем прав или требований законодательства, или решений государственных органов.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 7.Согласие Пользователя на обработку персональных данных. Порядок обработки Администрацией персональных данных пользователей
				.text
					div 7.1. Предоставление Пользователем своих персональных данных Администрации рассматривается как данное субъектом персональных данных (Пользователем) конкретное, информированное и осознанное согласие на обработку Администрацией и ее Партнерами персональных данных пользователя, которое он дает свободно, по собственной воле и в своих интересах.
					div 7.2. Администрация является владельцем персональных данных.
					div 7.3. Партнеры могут быть получателями и/или распорядителями персональных данных в отношении персональных данных пользователей и при их обработке руководствуются требованиями Закона Украины «О защите персональных данных».
					div 7.4. Персональные данные могут предоставляться Пользователем путем заполнения соответствующих данных в регистрационной форме, размещенной на Сайте, и/или предоставления персональных данных иным образом во время пользования Сайтом.
					div 7.5. Ответственность за правомерность и достоверность персональных данных Пользователя несет исключительно лицо, которое их предоставило. Администрация не принимает на себя никаких обязательств по проверке персональных данных, указанных Пользователями.
					div 7.6. Целями обработки Администрацией и ее Партнерами персональных данных пользователей являются:
					div - авторизация пользователей на Сайте;
					div - привлечение пользователей к участию в промо-акциях, маркетинговых исследованиях;
					div - исследование степени удовлетворенности пользователя качеством продукции и услуг Администрации и/или Партнеров;
					div - информирование пользователей о продукции и услугах Администрации, ее Партнеров;
					div - доставка поощрений Пользователям (в случае признания их победителями акций);
					div - публикация списков победителей;
					div - информирование путем рассылки e-mail и информирование о результатах определения победителей путем рассылки sms-сообщений.
					div 7.7. Администрация и ее Партнеры гарантируют необходимые меры защиты персональных данных от несанкционированного доступа. Все персональные данные, сообщенные Пользователями при регистрации на Сайте, будут храниться и обрабатываться Администрацией и ее Партнерами в соответствии с действующим законодательством Украины и с соблюдением гарантий, указанных в настоящем Соглашении.
					div 7.8. Согласие на обработку своих персональных данных, выраженное Пользователем Администрации при принятии настоящего Пользовательского соглашения, означает также согласие на передачу персональных данных Оператору CRM-системы и Подрядчикам Администрации, осуществляющим обработку персональных данных и проводящим промо-акции и другие мероприятия, доставляющим поощрения победителям акций, осуществляющим информирование пользователей о продукции Администрации и проведенных им мероприятиях по поручению Администрации.
					div 7.9. В случае получения Пользователем права на поощрение в ходе проведенных Администрацией промо-акций и других мероприятий, Пользователь дает также согласие на размещение информации о нем на Сайте, в средствах массовой информации по усмотрению Администрации. Размещению для общего доступа подлежат следующие персональные данные Пользователя, который признан победителем акции:
					div - фамилия, имя и отчество;
					div - фотография (при ее предоставлении Пользователем);
					div - сведения о месте жительства (регион и название населенного пункта);
					div - наименование акции, в которой принимал участие Пользователь;
					div - описание поощрения, право на получение которого получил Пользователь.
					div 7.10. Администрация, ее Партнеры, организовывающие и/или проводящие акцию по поручению Администрации, вправе запросить копию (скан) паспорта (основного документа, удостоверяющего личность) Пользователя, участвующего в акции с целью подтверждения возраста, его дееспособности, которая определяется на основании возраста, а также оформления и организации доставки поощрений. Обработка сведений, содержащихся в копии (скане) паспорта (документа, удостоверяющего личность), не является обработкой биометрических персональных данных, поскольку фотография владельца паспорта не используется для установления его личности. Копия (скан) паспорта (документа, удостоверяющего личность) после внесения данных в базу участников или проведения сверки данных со сведениями, ранее представленными участником акции при регистрации, будет уничтожена в течение 30 дней с момента внесения и/или сверки данных.
					div
						span 7.11. Пользователь может в любой момент расторгнуть настоящее Соглашение в одностороннем порядке и отозвать свое согласие на обработку персональных данных Администрацией и ее партнерами, подав письменное заявление в произвольной форме, письмо с уведомлением о вручении и письмо по электронной почте на адрес
						a.email(href="mailto:contact@agusha.com.ua") contact@agusha.com.ua
						span , содержащее те же персональные данные, которые были указаны при предоставлении персональных данных Администрации, или сведения об основном документе, удостоверяющем личность пользователя.
					div 7.12. Администрация и ее Партнеры, а также Подрядчики, получившие персональные данные Пользователя, не распространяют и не предоставляют их другим лицам без согласия Пользователя, за исключением случаев, когда предоставление персональных данных необходимо для выполнения условий настоящего Пользовательского соглашения, доставки поощрений Пользователю (в случае признания его победителем) и выполнения других принятых на себя Администрацией обязательств в ходе акции, участником которой является Пользователь.
					div 7.13. Персональные данные хранятся и обрабатываются Администрацией, ее Партнерами, Подрядчиками и Оператором CRM-системы в течение действия Соглашения пользователя, условия которого приняты Пользователем. При отзыве Пользователем согласия на обработку своих персональных данных и/или расторжения Соглашения пользователя по инициативе одной из сторон, персональные данные уничтожаются Администрацией в течение 30 (тридцати) дней с момента отзыва согласия и/или расторжения Соглашения. Администрация принимает все возможные меры для обеспечения уничтожения персональных данных Партнерами, Подрядчиками и Оператором CRM-системы в эти же сроки.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 8. Порядок урегулирования споров
				.text
					div 
						span 8.1. Пользователь, считающий, что его права и интересы нарушены из-за действий Администрации или третьих лиц в связи с размещением на Сайте материалов, направляет Администрации претензию по адресу электронной почты
						a.email(href="mailto:contact@agusha.com.ua") contact@agusha.com.ua
						span , которая будет рассмотрена в течение 30 (тридцати) календарных дней.
					div 8.2. Пользователь, который направил Владельцу Сайта претензию, обязуется предоставить ему информацию, подтверждающую факт нарушения его прав. Если Пользователь предоставит ложную информацию о нарушении его прав, он несет полную ответственность за причиненный ущерб (включая расходы, пошлины и оплату адвокатских услуг).
					div 8.3. В случае возникновения спора между Владельцем Сайта и Пользователем, связанного с выполнением Соглашения, он решается путем переговоров, а при невозможности достижения согласия — в соответствии с законодательством Украины.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell 9. Другие условия
				.text
					div 9.1. Администрация по своему усмотрению имеет право вносить любые изменения в настоящее Соглашение в любое время. Информация об указанных изменениях будет размещаться на Сайте не менее чем за 7 (семь) дней до их введения в действие.
					div 9.2. Информация считается направленной от имени Администрации Пользователю, если она отправлена на адрес электронной почты, указанный им при предоставлении своих персональных данных.
					div 9.3. В случае признания недействительными части положений настоящего Соглашения, другие части Соглашения будут оставаться в силе. Отказ любой из сторон от любого положения или условия настоящего Соглашения или любое его нарушение не отменяет действие положений Соглашения.
			
			.tab_block.agreement_block
				.title
					.adorable_table
						.adorable_cell Адреса и контактные данные Партнеров:
				.text
					div ПАО «Вимм-Билль-Данн Украина»
					div Украина, г. Вишневое, Киевская обл., ул. Промышленная, 7
					br
					div ООО «Пепперминт»
					div 01025, Украина, г. Киев, Андреевский спуск, 38, к. 205.
		
		.tab_content.tab_selector.feedback
			form.feedback_form
				.feedback_topper
					.half.left
						.feedback_label Как к вам обращатся?
						input(type="text", placeholder="Ваше имя", name="name")
						.error
					
					.half.right
						.feedback_label Куда отправить ответ?
						input(type="email", placeholder="E-mail", name="email")
						.error
				
				.feedback_label Какую информацию вы хотите нам сообщить?
				select.feedback_select2(name="type")
					option(value="Мне нужна помощь") Мне нужна помощь
					option(value="У меня идея") У меня идея
					option(value="Я нашел(ла) ошибку") Я нашел(ла) ошибку
					option(value="У меня предложение для вас") У меня предложение для вас
					option(value="Ябидничать буду") Ябидничать буду
					option(value="Мне все нравится, я просто так сказать...") Мне все нравится, я просто так сказать...
					option(value="Другое") Другое
				
				textarea(name="text", placeholder="ОПИШИТЕ, В ЧЕМ СЛОЖНОСТЬ")
				.error
				
				button.send_feedback Отправить
				