.content
	include ../helpers/breadcrumbs
	
	.topper_title Помощь
	
	.tabs
		.tabs_flex
			.tab.tab_selector.contacts(data-tab="contacts")
				.tab_selector_inside
					.title Контакты
			
			.tab.tab_selector.agreement(data-tab="agreement")
				.tab_selector_inside
					.title Соглашение
			
			.tab.tab_selector.rules(data-tab="rules")
				.tab_selector_inside
					.title Правила
			
			.tab.tab_selector.faq.active(data-tab="faq")
				.tab_selector_inside
					.title FAQ
	
	.tab_contents
		.tab_content.tab_selector.faq.active
			.tab_block.search_block.active
				input#faq_search(type="text", placeholder="Поиск")
			
			- each f, key in faq
				.tab_block.faq_block(id = 'faq_block_' + f.id, class = (f.active ? 'active' : ''))
					.title
						.adorable_table
							.adorable_cell #{f.title}
					.text !{f.text}
		
		.tab_content.tab_selector.rules
			.title Дорогие мамы и папы!
			
			.text
				span Портал для современных родителей «Агуша» — место, где собрано много полезной информации о том, как кормить, пеленать и воспитывать деток. Здесь мамы и папы могут почитать интересные статьи, поучаствовать в конкурсах, задать вопрос педиатру и пообщаться между собой. Для того чтобы пребывание на нашем портале приносило только позитивные эмоции, необходимо придерживаться простых правил.
			
			.text
				span.bold Регистрируйтесь. 
				span Помните, что участвовать в конкурсах, задавать вопросы педиатру и оставлять комментарии к статьям могут только зарегистрированные пользователи.
			
			.text
				span.bold Указывайте реальные данные при регистрации. 
				span На нашем портале проходит много акций и розыгрышей. Если при регистрации вы укажите ваше реальное имя, номер телефона и адрес, нам будет намного проще выслать вам ваш подарок.
			
			.text
				span.bold Не грубите. 
				span Всегда найдутся люди, которые не согласны с вашим мнением. Или наоборот — вы можете не разделять позицию другого человека. Не стоит ругаться или оскорблять друг друга. Помните, «Агуша» — доброе и полезное сообщество. Пускай оно таким и остается.
			
			.text
				span.bold Думайте, что пишете. 
				span Старайтесь не публиковать информацию, которая не соответствует действительности. Если вы даете совет, помните о том, что другие родители могут им воспользоваться.
			
			.text
				span.bold Пользуйтесь поиском. 
				span На нашем портале мамы и папы могут задавать вопросы педиатру. Прежде чем спросить то, что интересует именно вас, воспользуйтесь поиском. Возможно, кто-то уже задавал подобный вопрос до вас.
			
			.text
				span.bold «Агуша» — сообщество грамотных родителей. 
				span Чтобы другим пользователям было приятно читать ваши сообщения, по возможности пишите без опечаток и ошибок. Внимательно перечитывайте написанное и старайтесь не публиковать сообщений, которые не несут смысловой нагрузки. 
			
			.text
				span.bold Мы не магазин. 
				span Наш портал — не платформа для рекламных объявлений. Очень просим вас не публиковать сообщения и ссылки рекламного или коммерческого характера на нашем сайте.
			
			.text.warning За нарушение одного или нескольких правил нашего портала мы оставляем за собой право заблокировать аккаунт пользователя либо изъять баллы из его «Копилки».
			
			.title КОНТАКТЫ
			
			.text Если у вас возникли вопросы о работе портала для современных родителей или о детском питании «Агуша», вы можете написать нам на почту либо позвонить. Мы с радостью ответим на все ваши вопросы!
			
			.text
				span Наш адрес: г. Вишневое, ул. Промышленная, 7
				br
				span E-mail: 
				a.email(href="mailto:contact@agusha.com.ua") contact@agusha.com.ua
				br
				span Горячая линия: 0 800 307 302
		
		.tab_content.tab_selector.agreement
			- each f, key in faq
				.tab_block.agreement_block(id = 'agreement_block_' + f.id, class = (f.active ? 'active' : ''))
					.title
						.adorable_table
							.adorable_cell #{f.title}
					.text !{f.text}
		
		.tab_content.tab_selector.contacts
			.left
				.contact_label.address Адрес:
				.contact_text
					.address
						| г. Вишневое, 
						br
						| ул. Промышленная, 7
				
				.contact_label.mail E-mail:
				.contact_text
					.mail contact@agusha.com.ua
				
				.contact_label.phone Горячая линия:
				.contact_text
					.phone 0 800 307 302
					.phone_notice Звонки по Украине бесплатные
			
			.right#contacts_map