extends ../layout

block append header
	link(href="/css/user/help/help.css" rel="stylesheet")

block content
	.module.server.help#help
		include content

block append scripts
	script.
		var app = {
			faq: !{JSON.stringify(faq)}
		};