@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import '../helpers/article_bottom';

.module.article {
	color: $grey;
	text-align: center;
	width: 100%;
	
	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('/img/user/article/bg.jpg') no-repeat center top;
	}
	
	.content {
		@include inline_block;
		text-align: left;
		width: 920px;
	}
	
	.breadcrumbs {
		color: $white;
	}
	
	.topper_title {
		font-size: 24px;
		line-height: 24px;
		color: $titlegrey;
		text-decoration: underline;
		padding-bottom: 31px;
	}
	
	.content {
		> .title {
			height: 450px;
			color: $white;
			
			.label {
				height: 230px;
				font-family: 'PT_Sans_Narrow_Bold';
				font-size: 60px;
				line-height: 60px;
				text-transform: uppercase;
				
				.adorable_cell {
					padding: 20px 50px;
				}
			}
			
			.middle {
				height: 130px;
				padding: 0 10px;
			}
			
			.column {
				height: 110px;
				
				&.feedback {
					.adorable_cell {
						text-align: left;
						padding-left: 30px;
					}
				}
			}
			
			.approve {
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
				line-height: 12px;
				margin-right: 30px;
			}
			
			.bottom {
				text-align: center;
				height: 90px;
			}
			
			.top_label {
				text-transform: none;
			}
			
			.bottom_label {
				font-size: 12px;
			}
		}
		
		.like {
			vertical-align: middle;
			margin-right: 6px;
			cursor: pointer;
		}
		
		.count {
			vertical-align: middle;
			font-size: 26px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-right: 6px;
		}
		
		.comment {
			vertical-align: middle;
			margin-right: 6px;
			cursor: pointer;
			margin-top: 8px;
		}
		
		.avatar {
			display: inline-block;
			vertical-align: middle;
			width: 100px;
			height: 100px;
			position: relative;
			margin-bottom: 10px;
			
			&:before {
				@include pseudo;
				background: url('/img/user/article/crown.png') no-repeat;
				width: 37px;
				height: 35px;
				top: -18px;
				left: -7px;
			}
			
			img {
				position: relative;
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
	
	.article_content {
		padding: 0 10px;
		
		> .left {
			background: $white;
		}
		
		.left_content {
			padding: 20px 0 0;
		}
		
		.date {
			padding: 0 30px;
			height: 35px;
			color: $base;
			
			.adorable_cell {
				text-align: left;
			}
			
			.day_month_year {
				margin-right: 19px;
			}
		}
		
		.title {
			padding: 0 30px;
			font-size: 24px;
			font-family: 'PT_Sans_Bold';
			text-transform: uppercase;
			color: #404040;
			margin-bottom: 20px;
		}
		
		.text {
			margin-bottom: 20px;
		}
		
		.social {
			margin-bottom: 20px;
			padding: 0 30px;
		}
		
		.copyright {
			margin-bottom: 20px;
			color: #b2b2b2;
			font-size: 12px;
			padding: 0 30px;
		}
		
		.footer {
			height: 70px;
			position: relative;
			color: $white;
			
			&:after {
				@include pseudo;
				height: 100%;
				width: 1px;
				background-color: $darkbluefont;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
			
			.half {
				@include border_boxed;
				background-color: $blue;
				padding: 0 30px;
			}
			
			.adorable_cell {
				text-align: left;
			}
			
			.slash {
				vertical-align: middle;
				margin-right: 6px;
				font-size: 12px;
			}
			
			.post_comment {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				font-size: 12px;
				text-transform: uppercase;
			}
			
			.post_like {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
	
	.question {
		height: 360px;
		background-color: $green;
		color: $white;
		margin-bottom: 20px;
		
		.adorable_cell {
			padding: 20px;
		}
		
		.avatar {
			width: 70px;
			height: 70px;
		}
		
		.title {
			margin-bottom: 15px;
		}
		
		.subtitle {
			font-size: 16px;
			font-family: 'PT_Sans_Italic';
			margin-bottom: 25px;
		}
		
		.name {
			margin-bottom: 15px;
		}
		
		.info {
			font-size: 12px;
			color: $darkgreen;
			margin-bottom: 25px;
		}
	}
	
	.author {
		padding: 20px;
		background-color: white;
		
		.avatar {
			margin-top: 14px;
			width: 60px;
			height: 60px;
			margin-bottom: 30px;
			
			&:before {
				@include pseudo;
				background: url('/img/user/article/small_crown.png') no-repeat;
				width: 24px;
				height: 24px;
				top: -14px;
				left: -5px;
			}
		}
		
		.info {
			@include border_boxed;
			@include inline_block;
			width: 180px;
			height: 88px;
			padding: 0 0 0 20px;
			line-height: 20px;
		}
		
		.label {
			font-size: 12px;
		}
		
		.name {
			font-family: 'PT_Sans_Bold';
			text-decoration: underline;
		}
		
		.level {
			color: $titlegrey;
			font-size: 12px;
		}
		
		.league {
			vertical-align: middle;
			margin-right: 10px;
		}
		
		.star {
			vertical-align: middle;
			margin-right: 2px;
		}
		
		.children {
			color: $titlegrey;
			font-size: 12px;
		}
		
		.center {
			color: $base;
			font-size: 12px;
		}
		
		.tag {
			@include inline_block;
			@include border_radius(2px);
			padding: 3px 5px;
			background-color: #e6e6e6;
			font-size: 12px;
			line-height: 22px;
			margin: 5px 5px 0 0;
		}
		
		.register {
			height: 340px;
			background-color: $blue;
		}
	}
}