@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';
@import '../helpers/article_bottom';
@import '../helpers/social';
@import '../helpers/cards';

.module.article {
	color: $grey;
	text-align: center;
	width: 100%;

	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('/img/user/article/bg.jpg') no-repeat center top;
	}

	.content {
		@include inline_block;
		text-align: left;
		width: 920px;
	}

	.breadcrumbs {
		color: $white;
	}

	.content > .topper_title {
		font-size: 24px;
		line-height: 24px;
		color: $titlegrey;
		text-decoration: underline;
		padding-bottom: 31px;
	}


	.content {
		> .title {
			height: 450px;
			color: $white;

			.label {
				height: 230px;
				font-family: 'PT_Sans_Narrow_Bold';
				font-size: 60px;
				line-height: 60px;
				text-transform: uppercase;

				.adorable_cell {
					padding: 20px 50px;
				}
			}

			.middle {
				height: 130px;
				padding: 0 10px;
			}

			.column {
				height: 110px;

				&.feedback {
					.adorable_cell {
						text-align: left;
						padding-left: 30px;
					}
				}

				&.social {
					.adorable_cell {
						text-align: left;
						padding: 10px;
					}
				}
			}

			.approve {
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
				line-height: 12px;
				margin-right: 30px;
			}

			.bottom {
				text-align: center;
				height: 90px;
			}

			.top_label {
				text-transform: none;
			}

			.bottom_label {
				font-size: 12px;
			}
		}

		.like {
			vertical-align: middle;
			margin-right: 6px;
			cursor: pointer;
		}

		.count {
			vertical-align: middle;
			font-size: 26px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-right: 6px;
		}

		.comment {
			vertical-align: middle;
			margin-right: 6px;
			cursor: pointer;
			margin-top: 8px;
		}
	}

	.avatar {
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		height: 100px;
		position: relative;
		margin-bottom: 10px;

		&:before {
			@include pseudo;
			background: url('/img/user/article/crown.png') no-repeat;
			width: 37px;
			height: 35px;
			top: -18px;
			left: -7px;
		}

		img {
			position: relative;
			max-height: 100%;
			max-width: 100%;
		}
	}

	.article_content {
		padding: 0 10px;

		> .left {
			background: $white;
			float: left;
		}

		.left_content {
			padding: 20px 0 0;
		}

		.date {
			padding: 0 30px;
			height: 35px;
			color: $base;

			.adorable_cell {
				text-align: left;
			}

			.day_month_year {
				margin-right: 19px;
			}
		}

		.title {
			padding: 0 30px;
			font-size: 24px;
			font-family: 'PT_Sans_Bold';
			text-transform: uppercase;
			color: #404040;
			margin-bottom: 20px;
		}

		.text {
			margin-bottom: 20px;

			padding: 30px 0;

			> div, > p, > h1, > h2, > h3, > h4, > h5, > h6, > span, > a {
				padding: 0 30px;
			}

			td {
				padding: 0 30px 0 0;
				vertical-align: top;
			}

			> blockquote, blockquote2 {
				margin: 20px 30px;
			}

			iframe {
				width: 100% !important;
			}
			blockquote {
				padding: 10px 20px;
				border-left: 5px solid #eeeeee;
				border-left-color: #2ca7e0;
			}
			blockquote2 {
				position: relative;
				display: block;
				padding-left: 2em;
				font-style: italic;

				p {
					padding-left: 10px;
				}

				&:before {
					position: absolute;
					top: -0.4em;
					left: 0;
					display: block;
					font-family: 'Helvetica', Arial, sans-serif;
					font-size: 90px;
					color: #2ba8de;
					content: '"'!important;
				}
			}
		}

		.social {
			margin-bottom: 20px;
			padding: 0 30px;
		}

		.copyright {
			margin-bottom: 20px;
			color: #b2b2b2;
			font-size: 12px;
			padding: 0 30px;
		}

		.footer {
			height: 70px;
			position: relative;
			color: $white;

			&:after {
				@include pseudo;
				height: 100%;
				width: 1px;
				background-color: $darkbluefont;
				top: 0;
				left: 0;
				right: 0;
				margin: auto;
			}

			.half {
				@include border_boxed;
				background-color: $blue;
				padding: 0 30px;
			}

			.adorable_cell {
				text-align: left;
			}

			.slash {
				vertical-align: middle;
				margin-right: 6px;
				font-size: 12px;
			}

			.post_comment {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				font-size: 12px;
				text-transform: uppercase;
			}

			.post_like {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}

	.poll_container {
		@include border_boxed;
		width: 880px;
		background-color: $white;
		margin: 20px;


		&.answered {
			.center {
				.question {
					background: url('/img/user/poll/question_answered.png') no-repeat;
				}
			}

			.footer {
				&:after {
					@include pseudo;
					top: 0;
					width: 1px;
					height: 100%;
					left: 0;
					right: 0;
					margin: auto;
					background-color: $darkbluefont;
				}

				.adorable_cell {
					text-align: left;
					padding: 0 30px;
				}
			}
		}

		.text {
			padding: 38px 140px 18px;
			text-align: center;
		}

		.center {
			padding: 20px;

			.title {
				text-align: center;
				font-size: 24px;
				line-height: 24px;
				font-family: 'PT_Sans_Bold';
				color: #404040;
				text-transform: uppercase;
				padding: 20px 0;
			}

			.question {
				float: right;
				width: 18px;
				height: 18px;
				background: url('/img/user/poll/question.png') no-repeat;
				position: relative;

				&:hover {
					.question_info {
						display: block;
					}
				}
			}

			.question_info {
				@include border_boxed;
				position: absolute;
				top: -110px;
				width: 187px;
				height: 99px;
				left: -85px;
				font-size: 12px;
				line-height: 14px;
				font-family: 'PT_Sans_Italic';
				background: url('/img/user/poll/question_info.png') no-repeat;
				text-transform: none;
				color: $white;
				padding: 0 20px 10px;
				display: none;
			}
		}

		.options_container {
			margin: 20px 0;
		}

		.option {
			display: table;
			width: 100%;
			margin: 20px 0;
			height: 28px;

			.radio_cell {
				display: table-cell;
				width: 260px;
				text-align: right;
				vertical-align: middle;
				font-size: 18px;
				line-height: 18px;
				font-family: 'PT_Sans_Bold';
				color: #404040;
			}

			.checkbox {
				@include inline_block;
				width: 28px;
				height: 28px;
				margin: 0 auto;
				position: relative;

				input {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					opacity: 0;
					-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					z-index: 100;
					position: absolute;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}

				input[type="checkbox"], input[type="radio"] {
					box-sizing: border-box;
					padding: 0;
				}

				input:checked ~ label .img {
					background-position: -28px 0;
				}

				label:not(.error) {
					width: 100%;
					height: 100%;
					position: relative;
					display: block;
					border-radius: 3px;
					background-color: #FFFFFF;

					.img {
						left: 0;
						right: 0;
						margin: auto;
						position: absolute;
						top: 0;
						bottom: 0;
						background: url("/img/user/helpers/checkbox/radio.png") no-repeat;
						background-position: 0 0;
					}
				}
			}

			.label {
				display: table-cell;
				padding: 0 0 0 20px;
				font-size: 18px;
				color: #404040;
				vertical-align: middle;
			}

			.img {
				left: 0;
				right: 0;
				margin: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				background: url("/img/user/helpers/checkbox/radio.png") no-repeat;
				background-position: 0 0;
			}

			.progress_line {
				@include border_radius(2px);
				height: 3px;
				width: 440px;
				background-color: #dbdbdb;
				margin-top: 8px;
			}

			.progress {
				@include border_radius(2px);
				background-color: #2ec9f5;
				height: 100%;
			}
		}

		.bottom {
			height: 75px;
		}

		.poll_button {
			background-color: #2ec9f5;
			color: $white;
			vertical-align: middle;
			padding: 15px 40px;
		}

		.plz {
			color: $base;
			text-align: center;
			margin-top: 20px;
		}

		.social {
			margin: 30px 0 10px;
			text-align: center;
		}

		.footer {
			height: 70px;
			background-color: $blue;
			color: $white;
			position: relative;

			.slash {
				vertical-align: middle;
				margin-right: 6px;
				font-size: 12px;
			}

			.post_comment {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				font-size: 12px;
				text-transform: uppercase;
			}

			.post_like {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				font-size: 12px;
				text-transform: uppercase;
			}

			.like {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
			}
			.count {
				vertical-align: middle;
				font-size: 26px;
				font-family: 'PT_Sans_Narrow_Bold';
				margin-right: 6px;
			}
			.comment {
				vertical-align: middle;
				margin-right: 6px;
				cursor: pointer;
				margin-top: 8px;
			}
			.approve {
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
				line-height: 12px;
				margin-right: 30px;
			}
		}
	}

	.question {
		height: 360px;
		background-color: $green;
		color: $white;
		margin-bottom: 20px;

		.adorable_cell {
			padding: 20px;
		}

		.avatar {
			width: 70px;
			height: 70px;
		}

		.title {
			margin-bottom: 15px;
		}

		.subtitle {
			font-size: 16px;
			font-family: 'PT_Sans_Italic';
			margin-bottom: 25px;
		}

		.name {
			margin-bottom: 15px;
		}

		.info {
			font-size: 12px;
			color: $darkgreen;
			margin-bottom: 25px;
		}
	}

	.author {
		padding: 20px;
		background-color: white;

		.avatar {
			margin-top: 14px;
			width: 60px;
			height: 60px;
			margin-bottom: 30px;

			&:before {
				@include pseudo;
				background: url('/img/user/article/small_crown.png') no-repeat;
				width: 24px;
				height: 24px;
				top: -14px;
				left: -5px;
			}
		}

		.info {
			@include border_boxed;
			@include inline_block;
			width: 180px;
			height: 88px;
			padding: 0 0 0 20px;
			line-height: 20px;
		}

		.label {
			font-size: 12px;
		}

		.name {
			font-family: 'PT_Sans_Bold';
			text-decoration: underline;
		}

		.level {
			color: $titlegrey;
			font-size: 12px;
		}

		.league {
			vertical-align: middle;
			margin-right: 10px;
		}

		.star {
			vertical-align: middle;
			margin-right: 2px;
		}

		.children {
			color: $titlegrey;
			font-size: 12px;
		}

		.center {
			color: $base;
			font-size: 12px;
		}

		.tag {
			@include inline_block;
			@include border_radius(2px);
			padding: 3px 5px;
			background-color: #e6e6e6;
			font-size: 12px;
			line-height: 22px;
			margin: 5px 5px 0 0;
		}

		.register {
			height: 340px;
			background-color: $blue;
		}
	}
}
