@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';

@media all, (min-width: $min-width) and (max-width: $extend) {
	.module.product {
		width: 920px;
	}
}

@media all and (min-width: $extend_plus_one) {
	.module.product {
		width: 1220px;
	}
}

.module.product {
	text-align: left;
	color: $grey;
	
	.gallery {
		margin: 35px 20px 0;
		height: 510px;
		background-color: $white;
		position: relative;
	}
	
	.product_image {
		height: 420px;
		position: relative;
		
		img {
			@include absolute_horizontal_centered;
			max-height: 420px;
			max-width: 420px;
		}
	}
	
	.adjacents {
		position: absolute;
		height: 420px;
		top: 0;
		left: 0;
		width: 100%;
	}
	
	.adjacent {
		position: relative;
		overflow: hidden;
		
		img {
			position: absolute;
			opacity: 0.3;
		}
		
		&:hover {
			img {
				opacity: 0.5;
			}
			
			.arrow {
				opacity: 0.3;
			}
		}
		
		&.left {
			img {
				left: -210px;
			}
		}
		
		&.right {
			img {
				right: -210px;
			}
		}
	}
	
	.arrow {
		@include border_boxed;
		@include rounded;
		@include absolute_horizontal_centered;
		top: 285px;
		border: 2px solid #000000;
		width: 32px;
		height: 32px;
		opacity: 0.1;
		
		&:before {
			@include pseudo;
			@include absolute_centered;
			width: 8px;
			height: 14px;
			background: url('/img/user/product/arrows.png') no-repeat;
		}
		
		&.right {
			&:before {
				background-position: -8px 0;
			}
		}
	}
	
	.gallery_footer {
		@include absolute_horizontal_centered;
		height: 90px;
		bottom: 0;
		width: 280px;
		
		&:before {
			@include pseudo;
			@include absolute_centered;
			height: 48px;
			width: 1px;
			background-color: #000000;
		}
		
		.top {
			font-size: 16px;
			color: #45b4e8;
			font-family: 'PT_Sans_Bold';
		}
		
		.bottom {
			font-size: 13px;
		}
		
		.half {
			&.left {
				.adorable_cell {
					padding-left: 20px;
				}
			}
			
			&.right {
				.adorable_cell {
					padding-right: 20px;
				}
			}
		}
	}
	
	.info {
		@include border_boxed;
		margin: 0 20px 80px;
		padding: 40px 70px;
		background-color: $el_bg;
	}
	
	.label {
		margin-bottom: 20px;
		padding: 0;
		color: $darkblue;
		letter-spacing: -0.5px;
		line-height: 50px;
	}
	
	.text_label {
		@include bold;
		text-transform: uppercase;
		color: $titleblue;
	}
	
	.text {
		margin-bottom: 25px;
		
		&:last-child {
			margin-bottom: 40px;
		}
	}
	
	.certificates_container {
		text-align: center;
		margin-bottom: 40px;
	}
	
	.certificate {
		width: 45px;
		height: 45px;
		line-height: 0;
		margin-right: 25px;
		float: left;
		
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	
	.catalog_button {
		button {
			@include bold;
			padding: 10px 20px;
			background-color: $titleblue;
			color: white;
			
			&:hover {
				opacity: 1;
				@include box_shadow(0px 2px 6px 0px rgba(0, 0, 0, 0.22));
			}
		}
	}
}