@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';
@import '../helpers/topper_title';

#production {
	color: $grey;
	text-align: center;
	width: 100%;

	&:before {
		@include pseudo;
		height: 147px;
		width: 100%;
		background: url('/img/user/production/bg.png') center;
		background-color: #f4f1ef;
		left: 0;
		top: 0;
	}

	&.high_resolution {
		.item_container {
			.item {
				&:nth-child(2n+1) {
					.info {
						float: right;
						margin-left: 20px;
					}
				}

				&:nth-child(2n) {
					.info {
						float: left;
						margin-right: 20px;
					}
				}
			}
		}

		.content {
			width: 880px;
		}

		.info {
			width: 280px;
		}

		.title {
			padding: 0;
		}

		.text {
			padding: 25px 0;
		}
	}

	.content {
		@include inline_block;
		width: 580px;
		text-align: left;
		height: auto;
	}

	.breadcrumbs {
		padding: 35px 0px 0;
	}

	.topper_title {
		margin: 0 0 27px;
	}

	.item_container {
		background-color: #f4f1ef;

		.item {
			padding: 55px 0 0;

			&:nth-child(2n+1) {
				background-color: #f1ebe6;
			}
		}

		img {
			vertical-align: top;
		}
	}

	.title {
		padding: 0 50px;
		font-size: 22px;
		text-transform: uppercase;
		font-family: 'PT_Sans_Bold';
		color: $titleblue;
	}

	.text {
		padding: 25px 50px;
	}

	.image {
		text-align: center;
	}
}
