@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';

.module.springregistration {
	text-align: left;
	
	.content {
		width: 920px;
	}
	
	.left_label {
		font-size: 16px;
		font-family: 'PT_Sans_Italic';
		margin-top: 10px;
	}
	
	.counter {
		padding: 9px 20px 12px;
	}
	
	.number {
		@include my_inline_block;
		@include border_radius(7px);
		width: 55px;
		height: 75px;
		background: url('/img/user/action/number_bg.png') repeat-x;
		font-family: 'PT_Sans_Narrow';
		font-size: 70px;
		color: white;
		text-align: center;
		
		&:first-child {
			margin: 0 10px 0 0;
		}
	}
	
	.number_label {
		@include my_inline_block;
		margin-top: 3px;
		font-size: 16px;
		font-family: 'PT_Sans_Italic';
		text-align: center;
		width: 120px;
	}
	
	button {
		@include border_radius(6px);
		background-color: $red_title;
		width: 100%;
		height: 50px;
		font-size: 18px;
		color: white;
	}
	
	input {
		background-color: $grey3;
		color: $grey4;
		font-size: 16px;
		text-transform: none;
		padding: 0 20px;
	}
	
	.orange {
		font-family: 'PT_Sans_Bold';
		color: $orange2;
	}
	
	.spring_reg_label {
		font-size: 28px;
		font-family: 'PT_Sans_Narrow_Bold';
		color: white;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
	
	.topper_container {
		height: 600px;
		background: url('/img/user/action/spring_registration_topper.jpg') no-repeat center;
		
		.form_container {
			@include border_radius(10px);
			position: absolute;
			top: 70px;
			left: 20px;
			width: 440px;
			background-color: white;
			text-align: center;
			color: $grey2;
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-top: 27px;
			color: $red_title;
		}
		
		.bottom_label {
			font-size: 16px;
			letter-spacing: -0.5px;
			margin-top: 14px;
			margin-bottom: 4px;
		}
		
		.registration_form {
			@include box_shadow(inset 0 1px 0 $grey3, inset 0 -1px 0 $grey3);
			padding: 10px 0;
		}
		
		.form_block {
			height: 50px;
			margin: 10px 20px;
		}
		
		.half.left {
			padding-right: 5px;
		}
		
		.half.right {
			padding-left: 5px;
		}
	}
	
	.action_container {
		padding: 30px 0 60px;
		background: url('/img/user/core/pat.png') repeat;
		text-align: center;
		
		.content {
			@include border_boxed;
			padding: 0 20px;
		}
		
		.action_content {
			background-color: white;
		}
		
		.top_label {
			padding-top: 31px;
			font-size: 36px;
			font-family: 'PT_Sans_Narrow_Bold';
			color: $titlegrey;
		}
		
		.prizes {
			height: 377px;
			margin-top: 13px;
			background: url('/img/user/action/spring_registration_prizes.png') no-repeat center;
		}
		
		.prizes_desc {
			margin-top: 5px;
			font-size: 16px;
		}
		
		.details {
			margin-top: 21px;
			color: $blue;
			font-family: 'PT_Sans_Italic';
			text-decoration: underline;
			font-size: 16px;
		}
		
		.time_left_block {
			height: 149px;
			background: url('/img/user/action/time_left_block.jpg') no-repeat;
			margin-top: 33px;
			color: $grey2;
			
			.left_label {
				margin-top: 13px;
			}
			
			button {
				margin-top: 15px;
				width: 290px;
			}
		}
		
		.already_reg_label {
			font-size: 36px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-top: 56px;
			color: $titlegrey;
			text-transform: uppercase;
		}
		
		.already_reg_text {
			margin-top: 33px;
			font-size: 16px;
		}
		
		.invite_form {
			width: 580px;
			margin: 0 auto;
			padding: 14px 0 44px;
			
			.form_block {
				height: 70px;
				margin: 20px 0;
			}
			
			input {
				height: 70px;
			}
			
			button {
				height: 70px;
				background-color: $blue;
				width: 280px;
				padding: 0;
			}
		}
		
		.footer_block {
			height: 149px;
			background: url('/img/user/action/footer_block.jpg') no-repeat;
			position: relative;
			
			&:after {
				@include pseudo;
				width: 239px;
				height: 205px;
				right: 0;
				bottom: 0;
				background: url('/img/user/action/pack.png') no-repeat;
			}
		}
		
		.footer_left_side {
			width: 330px;
			float: left;
			height: 100%;
			
			button {
				margin-top: 15px;
				width: 290px;
			}
		}
		
		.footer_center_side {
			@include border_boxed;
			width: 260px;
			float: left;
			margin-left: 10px;
			height: 100%;
			font-size: 18px;
			letter-spacing: -1.2px;
			color: $grey2;
		}
	}
	
	.success_invite {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: rgba(35, 133, 178, 0.9);
		top: 0;
		z-index: 30;
		left: 0;
		display: none;
		
		&.active {
			display: block;
		}
		
		.top_label {
			font-size: 24px;
			color: $titlegrey;
			text-transform: none;
			font-family: 'PT_Sans_Narrow';
		}
		
		.bottom_label {
			font-size: 16px;
			line-height: 24px;
			margin-top: 25px;
		}
	}

	.success_invite_bg {
		@include absolute_centered;
		@include border_radius(30px);
		@include box_shadow(inset 0 0 0 3px $white);
		position: fixed;
		width: 580px;
		background-color: $bg;
		height: 280px;
		
		.close {
			position: absolute;
			height: 30px;
			width: 30px;
			top: 20px;
			right: 20px;
			background: url('/img/user/production/close.png') no-repeat;
			cursor: pointer;
			z-index: 1;
		}
	}
}