@import '../dynamic/dynamic';
@import '../helpers/breadcrumbs';

.module.springregistration {
	text-align: left;
	
	.content {
		width: 920px;
	}
	
	.topper_container {
		height: 600px;
		background: url('/img/user/action/spring_registration_topper.jpg') no-repeat center;
		
		.form_container {
			@include border_radius(10px);
			position: absolute;
			top: 90px;
			left: 20px;
			width: 440px;
			background-color: white;
			text-align: center;
			color: $grey2;
		}
		
		.top_label {
			font-size: 36px;
			line-height: 36px;
			font-family: 'PT_Sans_Narrow_Bold';
			margin-top: 28px;
			color: $red_title;
			letter-spacing: 1.5px;
		}
		
		.bottom_label {
			font-size: 16px;
			margin-top: 9px;
			margin-bottom: 14px;
			letter-spacing: -0.5px;
		}
		
		.video_part {
			@include box_shadow(0 -1px 0 $grey3);
			padding: 20px 0;
		}
		
		.stream {
			width: 398px;
			
			&:before {
				margin-top: 62%;
			}
		}
	}
	
	.action_container {
		padding: 30px 0 60px;
		background: url('/img/user/core/pat.png') repeat;
		text-align: center;
		
		.content {
			@include border_boxed;
			padding: 0 20px;
		}
		
		.action_content {
			background-color: white;
		}
		
		.winners_topper {
			@include box_shadow(0 1px 0 $grey3);
			height: 198px;
		}
		
		.top_label {
			font-size: 36px;
			color: $blue;
			font-family: 'PT_Sans_Narrow_Bold';
		}
		
		.bottom_label {
			font-size: 16px;
			line-height: 24px;
		}
	}
}