
<div class="cropper popUpWrap{{#if visible}} visible{{/if}}">
    <div class="popUpBody">
        <div class="contentWrap">
            <div class="close"></div>
            <div class="innerImage"></div>
            <button class="button ok">принять</button>
        </div>
    </div>
</div>
