.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_text
		.topper_title
			div Что такое
			div Копилка?
		
		button.topper_button.link-tab(data-tab="rules", data-block="official") Официальные правила
	
	.tabs
		.tabs_flex
			.tab.tab_selector.rules(data-tab="rules")
				.tab_selector_inside
					.title Правила
			
			.tab.tab_selector.how_it_works(data-tab="how_it_works", class = (user ? '' : 'active'))
				.tab_selector_inside
					.title Как работает?
			
			if user
				.tab.tab_selector.my_moneybox.active(data-tab="my_moneybox")
					.tab_selector_inside
						.title Моя копилка
	
	.tab_contents
		if user
			.tab_content.tab_selector.my_moneybox.moneyBoxWrap.active
		
		.tab_content.tab_selector.how_it_works(class = (user ? '' : 'active'))
			.simple Все очень просто!
			.desc
				div Следуйте нашим инструкциям, собирайте баллы и обменивайте их на чудесные подарки для вашего малыша! 
			
			.steps
				.step.step_1
					.column.left
						.step_title Шаг 1
						
						.step_subtitle
							div Зарегистрируйтесь или авторизуйтесь на сайте
						
						.step_desc Для этого вам необходимо заполнить форму регистрации либо ввести свой e-mail и пароль.
						
						a.new_module.registration_link(href="/registration")
							button.step_button Вход / регистрация
					
					.column.double.right
						img.double_img(src="/img/user/moneybox/step_1.png")
				
				.step.step_2
					.column.double.left
						img.double_img(src="/img/user/moneybox/step_2.png")
					
					.column.right
						.step_title Шаг 2
						
						.step_subtitle Копите баллы
						
						.step_desc Выполняя простые действия на нашем сайте, вы получите баллы в вашу Копилочку.
						
						button.step_button.link-tab(data-tab="rules", data-block="points") Как накопить баллы?
				
				.step.step_3
					.column.left
						.step_title Шаг 3
						
						.step_subtitle Развивайтесь и получайте новые звания
						
						.step_desc Читайте интересные статьи, оставляйте комментарии и повышайте свой рейтинг на сайте.
						
						button.step_button.link-tab(data-tab="rules", data-block="ranks") Как развиваться?
					
					.column.double.right
						img.double_img(src="/img/user/moneybox/step_3.png")
				
				.step.step_4
					.column.double.left
						img.double_img(src="/img/user/moneybox/step_4.png")
					
					.column.right
						.step_title Шаг 4
						
						.step_subtitle Участвуйте в розыгрышах и выигрывайте горы призов!
						
						.step_desc На нашем сайте вы можете выиграть замечательные призы для ваших деток.
						
						button.step_button.link-tab(data-tab="rules", data-block="official") Какие призы?
						
						button.step_button.rules_button.link-tab(data-tab="rules", data-block="official") Правила розыгрышей
				
				.up
					button.up_button Наверх
		
		include rules

.modal
	.modal_bg
		.close