.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_title Копилка
	
	.tabs
		.tabs_flex
			.tab.tab_selector.rules(data-tab="rules")
				.tab_selector_inside
					.title Правила
			
			.tab.tab_selector.how_it_works(data-tab="how_it_works")
				.tab_selector_inside
					.title Как работает?
			
			.tab.tab_selector.my_moneybox.active(data-tab="my_moneybox")
				.tab_selector_inside
					.title Моя копилка
	
	.tab_contents
		.tab_content.tab_selector.my_moneybox.active
			.column.level
				.left
					div Ваш
					div уровень:
				
				.right Ученик
			
			.big_image_container
				.column.left
					.adorable_table
						.adorable_cell Как получить следующее звание?
				
				.column.center
					.adorable_table
						.adorable_cell
							.text У вас
							.count
								- var points = [3, 6, 5]
								- each p, key in points
									.number
										.symbol #{p}
							.text баллов
				
				.column.right
					.adorable_table
						.adorable_cell Как заработать больше баллов?
			
			.rating_container
				.icons
					.icon
						img(src="/img/user/moneybox/novice.png")
					
					.icon
						img(src="/img/user/moneybox/disciple.png")
					
					.icon
						img(src="/img/user/moneybox/adept.png")
					
					.icon
						img(src="/img/user/moneybox/expert.png")
					
					.icon
						img(src="/img/user/moneybox/pro.png")
				
				.bar
					.icon.filled
						.adorable_table
							.adorable_cell
								.label Новичек
					
					.icon
						.adorable_table
							.adorable_cell
								.partial(style='width: 82.5%;')
								.label Ученик
					
					.icon
						.adorable_table
							.adorable_cell
								.label Знаток
					
					.icon
						.adorable_table
							.adorable_cell
								.label Эксперт
					
					.icon
						.adorable_table
							.adorable_cell
								.label Профи
				
			.labels_container
				.star.novice.filled
				.star.disciple.filled
				.star.adept
				.star.expert
				.star.pro
				.circle.last
				
				.label.novice 0
				.label.disciple 200
				.label.adept 400
				.label.expert 600
				.label.pro 800
				.label.last 1000
			
			.prizes_topper
				.calendar
					.topper.adorable_table
						.adorable_cell Дек
					
					.number.adorable_table
						.adorable_cell 23
				
				.title Призы в декабре
				
				.closest
					div Ближайший
					div розыгрыш!
				
				.you_participate
					.half.left
						.adorable_table
							.adorable_cell Вы участвуете в розыгрыше для Учеников
					
					.half.right
						.adorable_table
							.adorable_cell
								img.left_arrow(src="/img/user/article/left_arrow.png")
								span 1 / 3
								img.right_arrow(src="/img/user/article/right_arrow.png")
			
			.cards_container
				.column.level_card
					.adorable_table
						.adorable_cell
							.your_level Ваш уровень:
							
							.level_title Ученик
							
							.level_img
								img(src="/img/user/moneybox/novice_logo.png")
							
							.level_prize Приз для уровня:
							
							.prize_name
								div Полотенце с капюшоном
								div 5 наборов
				
				.column.moneybox_card
					.card_images
						.img_container
							img.active(src="/img/user/moneybox/moneybox_card_image.jpg")
						
						.bottom
							.arrow.left
							
							.circles
								.circle.active
								.circle
								.circle
							
							.arrow.right
				
				.column.moneybox_card
					.card_images
						.img_container
							img.active(src="/img/user/moneybox/moneybox_card_image.jpg")
						
						.bottom
							.arrow.left
							
							.circles
								.circle.active
								.circle
								.circle
							
							.arrow.right
			
			.prizes_topper
				.you_participate
					.half.left
						.adorable_table
							.adorable_cell Розыгрыш для знатоков
					
					.half.right
						.adorable_table
							.adorable_cell
								img.left_arrow(src="/img/user/article/left_arrow.png")
								span 1 / 3
								img.right_arrow(src="/img/user/article/right_arrow.png")
			
			.cards_container
				.column.level_card
					.adorable_table
						.adorable_cell
							.your_level Ваш следующий уровень:
							
							.level_title Знаток
							
							.level_img
								img(src="/img/user/moneybox/novice_logo.png")
							
							.level_prize Приз для уровня:
							
							.prize_name
								div Полотенце с капюшоном
								div 5 наборов
				
				.column.moneybox_card
					.card_images
						.img_container
							img.active(src="/img/user/moneybox/moneybox_card_image.jpg")
						
						.bottom
							.arrow.left
							
							.circles
								.circle.active
								.circle
								.circle
							
							.arrow.right
				
				.column.moneybox_card
					.card_images
						.img_container
							img.active(src="/img/user/moneybox/moneybox_card_image.jpg")
						
						.bottom
							.arrow.left
							
							.circles
								.circle.active
								.circle
								.circle
							
							.arrow.right
			
			.all_prizes
				button Все призы декабря
			
			.prizes_topper
				.you_participate
					.half.left
						.adorable_table
							.adorable_cell Ваша активность
					
					.half.right
						.adorable_table
							.adorable_cell
								img.left_arrow(src="/img/user/article/left_arrow.png")
								span 2014
								img.right_arrow(src="/img/user/article/right_arrow.png")
			
			.table_container
				table
					thead
						tr
							th.date Октябрь
							th.time
							th.label
							th.total
								span Всего
								img(src="/img/user/moneybox/coin.png")
							th.number 125
					
					tbody
						tr
							td.date 08.10.14
							td.time 12:22
							td.label Базовая активность на сайте
							td.total
							td.number +5
						
						tr
							td.date 08.10.14
							td.time 12:22
							td.label Базовая активность на сайте
							td.total
							td.number +5
						
						tr
							td.date 08.10.14
							td.time 12:22
							td.label Базовая активность на сайте
							td.total
							td.number +5
						
						tr
							td.date 08.10.14
							td.time 12:22
							td.label Базовая активность на сайте
							td.total
							td.number +5
						
						tr.old
							th.date Октябрь
							th.time
							th.label
							th.total
								span Всего
								img(src="/img/user/moneybox/coin.png")
							th.number 125
						
						tr.old
							th.date Октябрь
							th.time
							th.label
							th.total
								span Всего
								img(src="/img/user/moneybox/coin.png")
							th.number 125
				
				table
					tbody
						tr.bottom
							th.date Вы на сайте: 3 месяца
							th.total У вас уже:
							th.number 365
		
		.tab_content.tab_selector.how_it_works
			.simple Все очень просто!
			.desc
				div Тут оставлено место для более полного и развернутого описания этого шага,
				div приблизительно на две строки.
			
			.steps
				.step.step_1
					.column.left
						.step_title Шаг 1
						
						.step_subtitle
							div Регистрируемся или
							div авторизируемся на сайте
						
						.step_desc Тут оставлено место для более полного и развернутого описания этого шага, приблизительно на три строки.
						
						button.step_button Вход / регистрация
					
					.column.double.right
						img.double_img(src="/img/user/moneybox/step_1.png")
				
				.step.step_2
					.column.double.left
						img.double_img(src="/img/user/moneybox/step_2.png")
					
					.column.right
						.step_title Шаг 2
						
						.step_subtitle Накапливаем много, много, много баллов в копилку
						
						.step_desc Тут оставлено место для более полного и развернутого описания этого шага, приблизительно на три строки.
						
						button.step_button Как накопить?
				
				.step.step_3
					.column.left
						.step_title Шаг 3
						
						.step_subtitle Развиваемся, закаляемся, матереем и ростем в званиях
						
						.step_desc Тут оставлено место для более полного и развернутого описания этого шага, приблизительно на три строки.
						
						button.step_button Как развиваться?
					
					.column.double.right
						img.double_img(src="/img/user/moneybox/step_3.png")
				
				.step.step_4
					.column.double.left
						img.double_img(src="/img/user/moneybox/step_4.png")
					
					.column.right
						.step_title Шаг 4
						
						.step_subtitle Участвуем в розыгрышах, выигрываем горы призов
						
						.step_desc Тут оставлено место для более полного и развернутого описания этого шага, приблизительно на три строки.
						
						button.step_button Какие призы?
						
						button.step_button.rules_button Правила розыгрыша
				
				.up
					button.up_button Наверх
		
		.tab_content.tab_selector.rules
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Что такое Копилка?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Кто участвует в Копилке?
				.text Text
			
			.tab_block.faq_block.active
				.title
					.adorable_table
						.adorable_cell За что начисляют баллы?
				.text
					div Все сервисы портала «Агуша» бесплатные. Здесь можно найти статьи на интересующую тему и по возрасту ребенка, поделиться опытом и спросить совета, получить консультацию специалиста, найти компанию для прогулок в вашем городе или место, куда можно пойти беременной или с маленьким ребенком.
					
					table
						thead
							th.action Действия пользователя
							th.points Баллов
							th Ограничения
						
						tbody
							tr
								td.action Регистрация на сайте
								td.points +25
								td единоразово
							
							tr
								td.action Заполнение профиля на 100%
								td.points +30
								td единоразово
							
							tr
								td.action Регулярные заходы на сайт
								td.points +1
								td
									div 1 раз в неделю, с логином; 
									.grey максимум 4 балла в месяц
							
							tr
								td.action
									div Лайк
									div Шеринг статьи в ФБ
								
								td.points +2
								td
									div 6 баллов в сутки, 
									.grey не более 60 баллов в месяц
							
							tr
								td.action
									div Лайк
									div Шеринг статьи во ВК
								
								td.points +2
								td
									div 6 баллов в сутки, 
									.grey не более 60 баллов в месяц
							
							tr
								td.action
									div Лайк
									div Шеринг статьи в Одноклассниках
								
								td.points +2
								td
									div 6 баллов в сутки, 
									.grey не более 60 баллов в месяц
							
							tr
								td.action Оценка материала (внутренний лайк статьи)
								
								td.points +1
								td
									div максимум 10 баллов в сутки,
									.grey не более 100 баллов в месяц
							
							tr
								td.action Комментарий к статье
								
								td.points +1
								td
									div максимум 3 балла в сутки, 
									.grey не более 30 баллов в месяц
							
							tr
								td.action Вопрос к сообществу
								
								td.points +1
								td
									div максимум 1 балл в сутки, 
									.grey не более 10 баллов в месяц
							
							tr
								td.action Ответ на вопрос
								
								td.points +2
								td
									div максимум 6 баллов в сутки, 
									.grey не более 60 баллов в месяц
							
							tr
								td.action Написание статьи (если одобрена модератором)
								
								td.points +10
								td максимум 10 баллов в месяц
							
							tr
								td.action Приглашение друга на сайт (успешное)
								
								td.points +5
								td не более 5 подруг в месяц
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Что за звания и зачем они?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Как узнать, сколько у меня баллов?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Как заработать дополнительные баллы?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Как часто происходят розыгрыши?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell В каких розыгрышах я могу принимать участие?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Что за подарки?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Почему я должен в этом участвовать?
				.text Text
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell Мне это неинтересно, я хочу отказаться
				.text Text