.bg

.content
	include ../helpers/breadcrumbs
	
	.topper_title Копилка
	
	.tabs
		.tabs_flex
			.tab.tab_selector.rules(data-tab="rules")
				.tab_selector_inside
					.title Правила
			
			.tab.tab_selector.how_it_works(data-tab="how_it_works", class = (user ? '' : 'active'))
				.tab_selector_inside
					.title Как работает?
			
			if user
				.tab.tab_selector.my_moneybox.active(data-tab="my_moneybox")
					.tab_selector_inside
						.title Моя копилка
	
	.tab_contents
		if user
			.tab_content.tab_selector.my_moneybox.moneyBoxWrap.active
		
		.tab_content.tab_selector.how_it_works(class = (user ? '' : 'active'))
			.simple Все очень просто!
			.desc
				div Следуйте нашим инструкциям, собирайте баллы и обменивайте их на чудесные подарки для вашего малыша! 
			
			.steps
				.step.step_1
					.column.left
						.step_title Шаг 1
						
						.step_subtitle
							div Зарегистрируйтесь или авторизуйтесь на сайте
						
						.step_desc Для этого вам необходимо заполнить форму регистрации либо ввести свой e-mail и пароль.
						
						button.step_button Вход / регистрация
					
					.column.double.right
						img.double_img(src="/img/user/moneybox/step_1.png")
				
				.step.step_2
					.column.double.left
						img.double_img(src="/img/user/moneybox/step_2.png")
					
					.column.right
						.step_title Шаг 2
						
						.step_subtitle Копите баллы
						
						.step_desc Выполняя простые действия на нашем сайте, вы получите баллы в вашу Копилочку.
						
						button.step_button Как накопить баллы?
				
				.step.step_3
					.column.left
						.step_title Шаг 3
						
						.step_subtitle Развивайтесь и получайте новые звания
						
						.step_desc Читайте интересные статьи, оставляйте комментарии и повышайте свой рейтинг на сайте.
						
						button.step_button Как развиваться?
					
					.column.double.right
						img.double_img(src="/img/user/moneybox/step_3.png")
				
				.step.step_4
					.column.double.left
						img.double_img(src="/img/user/moneybox/step_4.png")
					
					.column.right
						.step_title Шаг 4
						
						.step_subtitle Участвуйте в розыгрышах и выигрывайте горы призов!
						
						.step_desc На нашем сайте вы можете выиграть замечательные призы для ваших деток.
						
						button.step_button Какие призы?
						
						button.step_button.rules_button Правила розыгрышей
				
				.up
					button.up_button Наверх
		
		.tab_content.tab_selector.rules
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 1. Организатор Акции, территория и сроки (продолжительность) проведения Акции
				.text
					div 1.1. Организатором и Исполнителем Акции «Копилка» является Публичное акционерное общество «Вимм-Билль-Данн Украина» (далее по тексту — Организатор), (ЕГРПОУ 00445937, местонахождение: г. Вишневое, ул. Промышленная, 7).
					div 1.2. Акция проводится Организатором на территории Украины за исключением временно оккупированной территории Автономной республики Крым и других территорий Украины с особым статусом (далее по тексту — Территория Акции).
					div 1.3. Акция проводится в период с _________ 2014 года (__:00:00) и заканчивается __________ 201_ (__:59:59) (далее по тексту — Период проведения Акции).
					div 1.4. Акция может быть продлена по решению Организатора.
					div 1.5. Доставка подарков участникам Акции продлится до ________ 201__ года включительно.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 2. Место проведения Акции 
				.text
					div 2.1. Акция проводится на Интернет-странице Организатора Акции http://agusha.com.ua (далее по тексту — Сайт Акции).
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 3. Цель проведения Акции
				.text
					div 3.1. Цель Акции — продвижение бренда в сети Интернет, популяризация среди потребителей и стимулирование сбыта продукции под торговой маркой «Агуша», поддержание у потребителей осведомленности о товарах бренда, расширение аудитории пользователей сайта, награждение подарками участников Акции.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 4. Участники Акции
				.text
					div 4.1. Участниками Акции могут быть дееспособные лица, являющиеся гражданами Украины и проживающие на территории Украины, в возрасте от 18 (восемнадцати) лет, и которые являются родителями по крайней мере одного ребенка в возрасте до 4-х лет и/или беременные женщины (далее по тексту — Участник или Участники).
					div 4.2. Участвуя в Акции, Участник подтверждает, что надлежащим образом ознакомлен с Официальными Правилами, согласен с ними и обязуется их выполнять.
					div 4.3. В Акции запрещается участвовать детям до 14 лет, недееспособным лицам, работникам и представителям Организатора, связанным с ними лицами, членам семей таких работников и представителей, а также работникам и представителям любых других лиц, имеющих непосредственное отношение к организации или проведению данной Акции.
					div 4.4. Участники Акции во время участия в Акции обязуются:
					div 4.4.1. соблюдать требования Правил и норм действующего законодательства Украины;
					div 4.4.2. соблюдать правила пользования Сайтом;
					div 4.4.3. предоставлять полные, корректные и достоверные сведения, указанные в настоящих Правилах;
					div 4.4.4. сознательно не причинять неудобств и не препятствовать другим Участникам Акции;
					div 4.4.5. не осуществлять действий, ставящих под сомнение правомерность участия Участника в Акции.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 5. Условия участия в Акции 
				.text
					div 5.1. Для того чтобы принять участие в Акции, Участнику Акции, соответствующему требованиям раздела 4 настоящих Правил, необходимо выполнить следующее:
					div 5.1.1. в течение Срока проведения Акции посетить на Сайт Акции по адресу в сети Интернет http://agusha.com.ua;
					div 5.1.2. заполнить форму регистрации, оставив свои персональные данные (имя, адрес электронного почтового ящика);
					div 5.1.3. нажать кнопку «Зарегистрироваться»;
					div 5.1.4. зайти на свой электронный почтовый ящик и подтвердить регистрацию, нажав на ссылку в электронном письме;
					div 5.1.5. перейти по ссылке на сайт Акции и заполнить полную регистрационную форму (ФИО, фактический адрес проживания, контактный номер телефона);
					div 5.1.6. в течение Периода проведения Акции участвовать в активностях на Сайте, тем самым накапливая баллы за указанные активности по следующей схеме:
					
					table
						thead
							th.action Действия пользователя
							th.points Баллов
							th Ограничения
						
						tbody
							tr
								td.action Регистрация на сайте
								td.points +25
								td единоразово
							
							tr
								td.action Заполнение полной регистрационной формы
								td.points +30
								td единоразово
							
							tr
								td.action Регулярное посещение сайта (минимум 1 раз в неделю, с логином)
								td.points +1
								td
									.grey максимум 4 балла в месяц*
							
							tr
								td.action
									div Лайк или шеринг статьи в социальной сети Facebook
								
								td.points +2
								td
									div 6 баллов в сутки**, 
									.grey не более 60 баллов в месяц*
							
							tr
								td.action
									div Лайк или шеринг статьи в социальной сети VKontakte
								
								td.points +2
								td
									div 6 баллов в сутки**, 
									.grey не более 60 баллов в месяц*
							
							tr
								td.action
									div Лайк или шеринг статьи в социальной сети Одноклассники
								
								td.points +2
								td
									div 6 баллов в сутки, 
									.grey не более 60 баллов в месяц
							
							tr
								td.action Оценка материала (внутренний лайк статьи)
								
								td.points +1
								td
									div максимум 10 баллов в сутки**,
									.grey не более 100 баллов в месяц*
							
							tr
								td.action Комментарий к статье
								
								td.points +1
								td
									div максимум 3 балла в сутки**, 
									.grey не более 30 баллов в месяц*
							
							tr
								td.action Вопрос к сообществу
								
								td.points +1
								td
									div максимум 1 балл в сутки**, 
									.grey не более 10 баллов в месяц*
							
							tr
								td.action Ответ на вопрос
								
								td.points +2
								td
									div максимум 6 баллов в сутки**, 
									.grey не более 60 баллов в месяц*
							
							tr
								td.action Написание статьи и ее размещение после одобрения модератором 
								
								td.points +10
								td максимум 10 баллов в месяц*
							
							tr
								td.action Приглашение одного друга на Сайт (успешное)
								
								td.points +5
								td не более 5 друзей в месяц*
							
							tr
								td.action Участие в специальных мероприятиях
								
								td.points согласно условиям специальных мероприятий
								td
					
					div *имеется в виду календарный месяц;
					div ** с 00:00:00 по 23:59:59.
					
					div 5.2. Организатор Акции оставляет за собой право проводить дополнительные активности и определять условия начисления баллов за участие в этих активностях, а также вносить изменения в порядок начисления баллов, о чем будет сообщено путем внесения изменений в данные Правила.
					div 5.3. В зависимости от активности Участников Акции, формируется Рейтинг активности. Активность каждого Участника Акции отображается в Рейтинге активности и в личном профиле такого Участника Акции.
					div 5.4. Количество набранных баллов определяет соответствующего Участника Акции в Рейтинге активности. Информация о Рейтинге активности является общедоступной.
					div 5.5. В зависимости от количества набранных баллов определяется принадлежность Участника Акции к одной из категорий (далее по тексту — Категория):
					div 5.5.1. Новичок — от 0 до 200 баллов;
					div 5.5.2. Ученик — от 201 до 400 баллов;
					div 5.5.3. Знаток — от 401 до 600 баллов;
					div 5.5.4. Эксперт — от 601 до 800 баллов;
					div 5.5.5. Профи — от 801 до 1000 баллов.
					div 5.6. Один и тот же участник Акции может принимать в ней участие неограниченное количество времени в рамках Периода проведения Акции, но только от своего имени. В случае выявления повторной регистрации Участника на Сайте, в т.ч. путем указания персональных данных, уже зарегистрированных на Сайте, такой Участник Акции теряет право на повторное участие в Акции.
					div 5.7. Право на участие в определении Победителей и получения Подарков Акции получают все Участники Акции, должным образом выполнившие условия настоящих Правил.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 6. Фонд подарков Акции
				.text
					div 6.1. Подарочный фонд Акции (далее по тексту — Подарки):
					div 6.1.1. подарок для Победителей в категории «Новичок» — силиконовый слюнявчик — 30 шт.;
					div 6.1.2. подарок для Победителей в категории «Ученик» — детское банное полотенце с капюшоном — 15 шт.;
					div 6.1.3. подарок для Победителей в категории «Знаток» — набор детского постельного белья — 12 шт.;
					div 6.1.4. подарок для Победителей в категории «Эксперт» — детский набор: варежки, шапочка, шарфик — 6 шт.;
					div 6.1.5. подарок для Победителей в категории «Профи» — детский чемодан — 3 шт.
					div 6.2. Общее количество Подарков — 66 (шестьдесят шесть) штук.
					div 6.3. Организатор Акции оставляет за собой право определять/изменять количество, вид, цвет и размер Подарков, а также вносить изменения в порядок получения Подарков Акции, о чем будет сообщено путем внесения изменений в данные Правила.
					div 6.4. Подарки Акции могут быть получены Победителями Акции, получившими на них право, только на условиях данных Правил. Подарки Акции могут отличаться от изображений на рекламных материалах Акции.

			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 7. Порядок, условия и сроки получения права на Подарок
				.text
					div 7.1. Определение Победителей Акции проводится Организатором ежемесячно в течение периода проведения Акции, а именно каждого ___ числа в __:00:00.
					div 7.2. Определение Победителей проводится путем случайного выбора с помощью сервиса random.org среди Участников Акции в каждой Категории.
					div 7.3. Ежемесячно определяется следующее количество Победителей:
					div 7.3.1. в категории Новичок — 10 Победителей;
					div 7.3.2. в категории Ученик — 5 Победителей;
					div 7.3.3. в категории Знаток — 4 Победителя;
					div 7.3.4. в категории Эксперт — 2 Победителя;
					div 7.3.5. в категории Профи — 1 Победитель.
					div 7.4. Всего по результатам проведения Акции определяется 30 Победителей в категории Новичок, 15 Победителей в категории Ученик, 12 Победителей в категории Знаток, 6 Победителей в категории Эксперт, 3 Победителя в категории Профи.
					div 7.5. Одновременно с определением Победителей Организатор определяет по 3 Дополнительных победителя, которые в порядке очередности получают право на получение Подарка в случае невозможности его вручения Победителю Акции.
					div 7.6. Победители Акции в каждой из Категорий получают право на получение одного подарка этой Категории. 
					div 7.7. В случае невыполнения Победителем Акции условий п. 7.17. Правил, такой Победитель Акции теряет право на получение Подарка Акции, а Победителем Акции, с правом на получение соответствующего Приза, признается Дополнительный победитель Акции, в порядке очередности.
					div 7.8. Участники Акции, не признанные Победителями Акции, не получают права на получение Подарка Акции, каких-либо других поощрений и компенсаций.
					div 7.9. Окончательные результаты определения Победителей Акции фиксируются Организатором и отражаются в Протоколе. Результаты проведения Акции, зафиксированные Организатором в Протоколе, являются окончательными и обжалованию не подлежат.
					div 7.10. Информирование Победителей Акции осуществляется с помощью отправки письма на электронный адрес Победителя Акции.
					div 7.11. С целью получения Подарка, Участник обязан предоставить представителю Организатора Акции корректные контактные данные и копии документов, необходимые для получения принадлежащего ему Подарка Акции, а именно: копию паспорта гражданина Украины (все страницы с записями), копию карточки физического лица — налогоплательщика (идентификационный номер), а для лиц, отказавшихся от идентификационного номера, — копию страницы паспорта с соответствующей отметкой уполномоченного органа, подробный почтовый адрес фактического местонахождения. Указанные сведения и документы предоставляются по электронной почте с целью начисления и перечисления в соответствующие бюджеты налогов, предусмотренных налоговым законодательством Украины, и для передачи Подарков Победителям Акции. Победитель Акции несет ответственность за достоверность предоставленной им информации.
					div 7.12. Доставка Подарков будет осуществляться с помощью любой службы доставки на усмотрение Организатора Акции.
					div 7.13. Подарок направляется на ближайший к указанному Победителем Акции адресу склад службы доставки. Победитель может получить Подарок самостоятельно на складе службы доставки.
					div 7.14. В случае, если Участник Акции проживает в регионе Украины, где ведутся боевые действия или не функционируют отделения выбранной службы доставки, Подарок будет доставлен после прекращения боевых действий или после восстановления работы отделений выбранной службы доставки.
					div 7.15. Подарок считается врученным Победителю с момента его передачи службе доставки.
					div 7.16. Участники не могут передавать право на получение Подарка любым третьим лицам.
					div 7.17. Организатор Акции не несет ответственности за невозможность получения Подарка Победителем, а также в случае, если Участник сообщил неточные и/или ложные данные. Какая-либо компенсация в таком случае не предусматривается.
					div 7.18. Победитель Акции автоматически теряет приобретенное им право на получение Подарка без каких-либо компенсаций, в том числе денежной, в следующих случаях, независимо от того, в какое время стали известными указанные обстоятельства: 
					div 7.18.1. если Победитель Акции признан нарушителем до момента вручения ему Подарка;
					div 7.18.2. в случае невозможности связаться с Победителем в течение двух месяцев с момента признания его таковым;
					div 7.18.3. если Победитель Акции заявил о своем отказе от получения Подарка любым удобным способом; 
					div 7.18.4. если предоставленные Победителем Акции персональные данные не соответствуют требованиям действующего законодательства Украины и/или настоящим Правилам и/или являются недостоверными;
					div 7.18.5. в случае невозможности идентифицировать Победителя Акции;
					div 7.18.6. в случае невыполнения / ненадлежащего исполнения Победителем условий данных Правил.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 8. Порядок и способ информирования участников Акции о Правилах 
				.text
					div 8.1. Информирование Участников проводится путем размещения Правил Акции в глобальной сети Интернет по адресу: http://agusha.com.ua.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 9. Персональные данные
				.text
					div 9.1. Участвуя в Акции, Участник Акции понимает и соглашается с тем, что любая добровольно предоставленная информация, в том числе персональные данные Участника Акции, могут собираться, использоваться, обрабатываться, регистрироваться и храниться Организатором Акции с целью информирования такого Участника Акции о результатах определения Победителей Акции, для передачи информационных материалов Организатора Акции, для вручения подарков Акции, а также в других целях, определенных Правилами.
					div 9.2. С момента принятия условий данных Правил, путем проставления Участником Акции электронной отметки и/или совершения других действий, свидетельствующих об участии в Акции, согласие с условиями настоящих Правил и согласие на обработку персональных данных считается предоставленным соответствующим Участником Акции в соответствии с требованиями законодательства Украины. Участник Акции, не согласившийся с условиями настоящих Правил и/или отказавшийся от предоставления согласия на обработку его персональных данных, теряет право на дальнейшее участие в Акции.
					div 9.3. Обработка данных Организатором осуществляется способами, обеспечивающими конфиденциальность таких данных.
					div 9.4. Владельцем персональных данных Участников Акции является Организатор Акции. Участвуя в Акции, каждый Участник Акции тем самым подтверждает, что он проинформирован о своих правах, определенных действующим законодательством.
					div 9.5. Организатор Акции обязуется не разглашать персональные данные Участников Акции лицам, которые не принимают участие в организации Акции или доставки Подарков.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 10. Ограничение
				.text
					div 10.1. Участник, уличенный в преднамеренном искажении регистрационных данных (своих или чужих), фальсификации результатов Акции, использовании Сайта не по назначению или попытке незаконного получения Подарка с использованием технических или любых других средств, по единоличному решению Организатора дисквалифицируется и не принимает дальнейшего участия в Акции. Если при этом его действия содержат признаки преступления или иным образом нарушают законодательство Украины, информация о нем может быть передана в правоохранительные органы.
					div 10.2. В случае выявления Организатором Акции противоправных действий со стороны какого-либо лица / Участника Акции, в том числе признаков систематического нарушения Правил, Организатор Акции имеет право отстранить Участника от дальнейшего участия в Акции и/или принять решение о автоматической блокировки IP-адреса соответствующего Участника Акции по своему усмотрению. Заблокированный аккаунт может быть восстановлен только после личного обоснованного объяснения от такого Участника Акции Организатору Акции. Организатор Акции оставляет за собой право определять, какие именно действия являются противоправными и какие объяснения являются обоснованными.
					div 10.3. Участник Акции, совершивший противоправные действия и/или нарушивший условия настоящих Правил, признается Нарушителем.
					div 10.4. В случае выявления факта подделки Участником Акции или извлечения выгоды из подделки процесса накопления баллов или других условий Акции, нарушения Участником Акции данных Правила Акции, деструктивных действий или действий, совершенных с намерением досаждать, оскорблять, угрожать или причинять вред любому другому лицу, в связи с данной Акцией, такой Участник Акции по решению Организатора Акции прекращает дальнейшее участие в Акции и признается Нарушителем.
					div 10.5. При нарушении Участником Акции какого-либо из пунктов данных Правил Организатор Акции имеет право по своему усмотрению блокировать доступ такого Участника Акции к Сайту, отказав ему в праве на дальнейшее использование сервисов Сайта Акции. 
					div 10.6. В случае нарушения Участником Акции обязанностей, указанных в настоящих Правилах, что вызвало возникновение у Организатора Акции убытков, Участник Акции обязан возместить такие убытки в полном объеме.
					div 10.7. Участники Акции действуют лично, от своего имени, добровольно и самостоятельно. Участники Акции принимают на себя все риски ответственности и последствия, связанные с возможным участием в Акции и получением Подарков Акции.
					div 10.8. Замена Подарков, в т.ч. денежным эквивалентом или любым другим благом, не допускается. Подарки обмену и возврату не подлежат.
					div 10.9. Организатор Акции не несет ответственности за невручение Подарков в случае, если Победитель не воспользовался правом на получение Подарка в сроки и порядке, предусмотренные этими Правилами. Подарки вручаются только при условии выполнения всех требований, предусмотренных настоящими Правилами.
					div 10.10. Организатор Акции вместе и каждый в отдельности не несут ответственности за нарушение сроков и условий проведения Акции и/или за невручение Подарков в случае наступления форс-мажорных обстоятельств, таких как стихийные бедствия, пожар, наводнение, военные действия любого характера, блокады, существенные изменения в законодательстве, действующем на территории проведения Акции, другие неподвластные контролю со стороны Организатора Акции обстоятельства.
					div 10.11. Организатор Акции не несет ответственности относительно дальнейшего использования предоставленных Подарков Победителями Акции после их получения такими Победителями, а также за качество услуг службы доставки.
					div 10.12. Получение Подарков предусмотрено только Победителями Акции и не может рассматриваться как денежное обязательство. Не допускаются любые действия, операции, сделки, где Подарок будет предметом сделки.
					div 10.13. Победители Акции имеют право отказаться от Подарка.
					div 10.14. Подарки, невостребованные Победителями, используются Организатором Акции по своему усмотрению.
					div 10.15. Организатор не компенсирует Участникам Акции стоимость услуг операторов, предоставляющих доступ в Интернет, и не несет ответственности за сбои в их работе. Организатор Акции не несет ответственности и не делает выплат в случае потери любой информации, связанной с сервисами сайта Акции и представляющей ценность для Участника Акции, если такая потеря произошла в результате сбоя в работе оператора связи, отключения электроэнергии и т.п. Организатор Акции не несет ответственности за любые расходы, потери или ущерб, понесенные Участником Акции и имевшие место в результате злоупотребления сервисами Сайта Акции или нарушения Правил любым Участником Акции. Участник Акции также соглашается с тем, что Организатор Акции не несет ответственности за прямые или косвенные убытки (даже в том случае, если Участник Акции был предупрежден о возможности ущерба), в частности за потерю прибыли, потерю репутации, потерю данных, нематериальный ущерб и расходы, понесенные в результате:
					div 10.15.1. использования или невозможности использования Сайта Акции;
					div 10.15.2. незаконного доступа к информации, размещенной на Сайте Акции, ее изменения и пересылки;
					div 10.15.3. поведения третьих лиц, использующих Сайт Акции.
					div 10.16. В случае возникновения обстоятельств непреодолимой силы (пожар, наводнение, землетрясение, военные действия локального или глобального масштаба, отключения электроэнергии, эпидемии) либо в случае наступления других непредвиденных обстоятельств, препятствующих организации работы Сайта Акции, Организатор Акции оставляет за собой право без предупреждения прекратить работу Сайта Акции полностью или любой его части.
					div 10.17. Все авторские права, права на использование торговой марки и другие права на интеллектуальную собственность, связанные с Сайтом, принадлежат Организатору Акции и/или используются им на основании лицензий. Кроме права использования Сайта, ограниченного данными условиями, никаких других прав, связанных с использованием Сайта, Участники Акции не получают.
					div 10.18. Разрешается печатать/пересылать информацию и содержание сайта Акции только в личных, некоммерческих целях.
					div 10.19. Принимая участие в Акции, Участник Акции не вносит никакой платы, связанной с участием в Акции. Фонд Подарков Акции не формируется из взносов Участников Акции. Организатор Акции не получает вознаграждение от участников Акции за их участие в Акции. Акция не является азартной игрой, лотереей, услугой в сфере игорного бизнеса или конкурсом, а эти Правила не являются публичным обещанием вознаграждения или условиями конкурса.
					div 10.20. Организатор Акции оставляет за собой право не вступать в письменные переговоры либо иные контакты с Участниками Акции, кроме случаев, предусмотренных настоящими Правилами.
					div 10.21. Организатор Акции не вступают в любые споры относительно признания любых лиц Участниками/Победителями Акции и относительно прав на получение Подарков Акции.
			
			.tab_block.faq_block
				.title
					.adorable_table
						.adorable_cell 11. Другие условия
				.text
					div 11.1. Все результаты Акции и/или решения Организатора являются окончательными и обжалованию не подлежат.
					div 11.2. В случае возникновения ситуации, которая допускает неоднозначное толкование этих Правил, или ситуаций, не урегулированных этими Правилами, окончательное решение принимается Организатором Акции и обжалованию не подлежит.
					div 11.3. Организатор Акции имеет право вносить любые изменения и/или дополнения в настоящие Правила, в том числе изменять сроки действия акции путем размещения дополнительной информации на сайте http://agusha.com.ua.
					div 11.4. Все вопросы, пожелания и замечания, связанные с проведением Акции, Участники могут присылать на электронный почтовый ящик contact@agusha.com.ua.
					div 11.5. Организатор Акции не несет ответственности за любые технические сбои, а также другие обстоятельства, не зависящие от их воли, в том числе (но не ограничиваясь):
					div 11.5.1. за расторжение договорных отношений с поставщиком интернет-услуг и, как следствие, невозможность участия Участника в Акции т.п.;
					div 11.5.2. за задержки в передаче/получении сообщений Акции, а также любые другие технические сбои в работе интернета, возникшие не по вине Организатора Акции;
					div 11.5.3. за любые сбои в работе приборов, используемых Участниками для участия в Акции.
					div 11.6. Организатор Акции оставляет за собой право проверить документы, удостоверяющие возраст и личность Участника.
					div 11.7. Обязанность по начислению и уплате налогов в связи с вручением соответствующего Приза Акции, а также ответственность за невыполнение данной обязанности несет Организатор.
					div 11.8. Если по какой-либо причине какой-либо аспект данной Акции не может проводиться так, как это запланировано, включая причины, вызванные заражением компьютерными вирусами, неполадками в сети интернет, дефектами, манипуляциями, несанкционированным вмешательством, фальсификацией, техническими неполадками или любой другой причиной, неконтролируемой Организатором Акции, которая искажает или вмешивается в исполнение, безопасность, честность, целостность или надлежащее проведение Акции, Организатор Акции может по своему усмотрению аннулировать, прекратить, изменить или временно прекратить проведение Акции или же признать недействительными любые регистрации.
					div 11.9. Термины, используемые в данных Правилах, относятся исключительно к данной Акции.
					div 11.10. Организатор Акции вправе привлекать третьих лиц для полного или частичного выполнения данных Правил.
