.content
	include ../helpers/breadcrumbs
	
	.topper_title Копилка
	
	.tabs
		.tabs_flex
			.tab.tab_selector.rules(data-tab="rules")
				.tab_selector_inside
					.title Правила
			
			.tab.tab_selector.how_it_works(data-tab="how_it_works")
				.tab_selector_inside
					.title Как работает?
			
			.tab.tab_selector.my_moneybox.active(data-tab="my_moneybox")
				.tab_selector_inside
					.title Моя копилка
	
	.tab_contents
		.tab_content.tab_selector.my_moneybox.active
			
		
		.tab_content.tab_selector.how_it_works
			
		
		.tab_content.tab_selector.rules
			