extends ../layout

block append header
	link(href="/css/user/moneybox/moneybox.css" rel="stylesheet")
	meta(property="og:title" content = "Копилка")
	meta(property="og:description" content = "Читайте, одобряйте и комментируйте интересные статьи, участвуйте в акциях, приглашайте друзей, получайте баллы в свою «Копилку» и обменивайте их на замечательные подарки для ваших деток. Больше баллов — интереснее подарки!")
	meta(property="og:image" content = base_url + "/img/user/moneybox/og_image.jpg")

block content
	.module.server.moneybox
		include content

include helpers
block prepend scripts
	script.
		var app = {
			actions: !{JSON.stringify(actions)},
			user: !{user ? JSON.stringify(user) : 'null'},
			lvls: !{JSON.stringify(lvls)},
			prizes: !{JSON.stringify(prizes)}
		};
	script#moneybox_mustache(type="text/mustache")
		mixin moneybox()