extends ../layout

block append header
	link(href="/css/user/moneybox/moneybox.css" rel="stylesheet")

block content
	.module.server.moneybox
		include content

include helpers
block append scripts
	script.
		var app = {
			actions: !{JSON.stringify(actions)},
			user: !{user ? JSON.stringify(user) : 'null'},
			lvls: !{JSON.stringify(lvls)},
			prizes: !{JSON.stringify(prizes)}
		};
	script#moneybox_mustache(type="text/mustache")
		mixin moneybox()
