

.topper
	.subTopper
		.top
		- if (user && user.getImage('min'))
			| #{JSON.stringify(user)}
			img(src="/img/uploads/"+(user ? user.getImage('min') : ''))

		- if(user)
			.message
				.circle.rounded.adorable_table
					.adorable_cell.unreadConversationsAmount= (user?user.points:0)
.points
	.you_have
		div У ВАС
		div #{user?user.points : 0} б.
	
	.moneybox
		img(src="/img/user/core/moneybox.png")
	
	.for_gifts
		div на
		div подарки
	

