mixin points()
	.points
		.you_have
			div У ВАС
			| {{#if auth.isAuth}}
			div
				span.points_number {{points}}
				span  б.
			| {{else}}
			div
				span.points_number 0
				soan  б.
			| {{/if}}
		
		.moneybox
			img(src="/img/user/core/moneybox.png")
		
		.for_gifts
			div на
			div подарки

.topper
	.subTopper
		.top
			| {{#if auth.isAuth}}
			img(src="{{image.small}}")
			| {{/if}}
		
		| {{#if auth.isAuth}}
		a.new_module(href="/messages")
			.message
				.circle.rounded.adorable_table
					.adorable_cell 0
		| {{/if}}

| {{#if auth.isAuth}}
a.new_module(href="/moneybox")
	mixin points()
| {{else}}
mixin points()
| {{/if}}
