mixin points()
	.points
		.you_have
			div У ВАС
			div
				span.points_number #{user?user.points : 0}
				span  б.
		
		.moneybox
			img(src="/img/user/core/moneybox.png")
		
		.for_gifts
			div на
			div подарки

.topper
	.subTopper
		.top
			img(src="")

		a.new_module(href="/messages")
			.message
				.circle.rounded.adorable_table
					.adorable_cell.unreadConversationsAmount 0

a.new_module(href="/moneybox")
	mixin points()