


.topper
	.subTopper
		.top
			| {{#if auth.isAuth}}
			img(src="{{user.image.small}}")
			| {{/if}}

		| {{#if auth.isAuth}}
		.message
			.circle.rounded.adorable_table
				.adorable_cell 0
		| {{/if}}
.points
	.you_have
		div У ВАС
		| {{#if auth.isAuth}}
		div {{user.points}} б.
		| {{else}}
		div 0 б.
		| {{/if}}

	
	.moneybox
		img(src="/img/user/core/moneybox.png")
	
	.for_gifts
		div на
		div подарки
	




