mixin points()
	.points
		.you_have
			div У ВАС
			div
				span.points_number {{points}}
				span  б.
		
		.moneybox
			img(src="/img/user/core/moneybox.png")
		
		.for_gifts
			div на
			div подарки

.right_menu_small_inside(class = '{{#if auth.isAuth}}{{else}}un{{/if}}authorized')
	='{{#if auth.isAuth}}'
	.topper
		.subTopper
			.top
				img(src="{{getProfileImage 'small' image}}")
			
			a.new_module(href="/messages")
				.message
					.circle.rounded.adorable_table
						.adorable_cell 0
	
	a.new_module(href="/moneybox")
		mixin points()
	='{{else}}'
	.adorable_table
		.adorable_cell.left.bold
			div
				a.new_module(href = "/login") Вход
			
			div
				a.new_module(href = "/registration") Регистрация
	='{{/if}}'