/*
	Reset styles
*/

body {
    margin:0;
    padding:0;
	background: #fff;
	font-family: sans-serif;
}

img {
    border:0 none;
    height:auto;
    line-height:100%;
    outline:none;
    text-decoration:none;
	display: block;
}

a {
	cursor: pointer;
}

a img {
    border:0 none;
}

table, tr, td {
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
	margin:0;
    padding:0;
}

/**/

.frame_table {
	width: 760px;
	height: 976px;
}

.top_border {
	height: 10px;
}

.left_border {
	width: 10px;
}

.right_border {
	width: 10px;
}

.bottom_border {
	height: 10px;
}

.center_table {
	width: 760px;
}

.content {
	width: 740px;
}

.topper_cell {
	height: 250px;
	width: 740px;
}

.topper_top {
	height: 170px;
	width: 740px;
}

.logo_cell {
	width: 280px;
}

.greeting_cell {
	width: 460px;
}

.info_table {
	height: 270px;
	width: 740px;
}

.join_table {
	height: 380px;
	width: 740px;
}

.footer_table {
	height: 56px;
	width: 740px;
}