include helpers

.content
	include ../helpers/breadcrumbs
	
	.topper_title Каталог продукции
	
	.filters
		select.products_age_select
			option(data-icon.normal = '/img/user/products/products.png', data-icon.hover = '/img/user/products/products_hover.png', value = 0) Все продукты
			
			- each a, key in ages
				option(data-icon.normal = (a.icon.normal ? '/img/uploads/' + a.icon.normal : 'no_photo.png'), data-icon.hover = (a.icon.hover ? '/img/uploads/' + a.icon.hover : 'no_photo.png'), value = a.value)
					if a.value < 12
						span #{a.title}-x месяцев
					else
						span c #{Math.floor(a.value/12)}-x лет
		
		.category_block
			.adorable_table
				.adorable_cell
					span.choose_category.rounded.active Все
		
		- each c, key in categories
			.category_block
				.adorable_table
					.adorable_cell
						span.choose_category.rounded(data-category = c.url_label) #{c.name}
	
	#about_ages
		.show
			.adorable_table
				.adorable_cell
					img(src="/img/user/products/plus.png")
					span Показать
		
		- each a, key in ages
			.about_block(id = 'age_' + a.value, class=(key == 0 ? 'active' : ''))
				//.about_bg
					img.left(src = (a.desc.image ? '/img/uploads/' + a.desc.image : ''))
					img.right(src = (a.desc.image ? '/img/uploads/' + a.desc.image : ''))
				
				.about_text.adorable_table
					.adorable_cell !{a.desc.subtitle}
	
	#products_container
		- each p, key in products
			mixin product(p)
	
	.how_to_feed
		img(src="/img/user/products/how_to_feed.png")