extends ../layout

block append header
	link(href="/css/user/products/products.css" rel="stylesheet")

block content
	.module.server#products
		include content

block append scripts
	script.
		var app = {
			products: !{JSON.stringify(products)}
		};
	script#product_mustache(type="text/mustache")
		| {{#each products}}
		mixin product()
		| {{/each}}