@import '../../settings';

.cropper.popUpWrap {
	z-index: 999999;

	.popUpBody {
		.contentWrap {
			width: 700px;
			float: none;

			.innerImage {
				max-width: 580px;
				max-height: 460px;

				width: 100%;
				height: auto;

				margin: 0 auto;

				img {
					width: 100%;
				}
			}

			.button {
				&.ok {
					top: -17px;
					position: relative;
					color: white;
					background-color: #61d1ff;
					margin-top: 0px;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
