@import '../dynamic/dynamic';

.social_button {
	display: inline-block;
	vertical-align: middle;
	margin: 4px 3px;
	height: 20px;
	
	&:first-child {
		margin-left: 0;
	}
	
	&:last-child {
		margin-right: 0;
	}
}