<div class="pf-wrap modal active">
    <div class="pf-container modal_bg">
        <div class="pf-title">
            ВАШИ ДРУЗЬЯ В {{socialNetwork}}
        </div>
        <div class="pf-close close" {{close}}></div>
        <div class="pf-items">
            {{#each friends}}
                <div class="pf-friend">
                    <img src="{{photo}}" class="pf-img" />
                    <div class="pf-name">
						{{first_name}} {{last_name}}
					</div>
                    <div>
                        <button class="pf-send" {{sendMessage}} data-id="{{uid}}">
                            ПРИГЛАСИТЬ
                        </button>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>