<div class="content adorable_table">
	<div class="adorable_cell">
		<div class="header">
			<div class="breadcrumbs">
				<a href="/">
					Главная
				</a>
				<span>
					&nbsp; / &nbsp;
					<a href="/profile" class="bradName">
						{{user.profile.first_name}}
					</a>
				</span>
				<span>
					&nbsp; / &nbsp;
					<a href="/profile">
						Настройки
					</a>
				</span>
			</div>
			<h1 class="titlePage">
				Настройки профиля
			</h1>
		</div>
		<div class="user_profile">
			<div class="profileFilling">
				<div class="title">
					Профиль заполнен на {{user.profile.filling}}%
				</div>
				<div class="bar">
					<div class="progress progress-{{user.profile.filling}}" style="width: {{user.profile.filling}}%">
					</div>
				</div>
			</div>
			<div class="userMeta">
				<div class="userPic">
					<div class="pic">
						<img src="{{getProfileImage 'large' user.image}}" alt="">
					</div>
					<div class="buttons horizontal">
						<div class="upload button" {{uploader 'profile'}}> Загрузить</div>
						<div class="remove button">Удалить</div>
					</div>
				</div>
				<div class="moneybox">
					<div class="userLevel">
						<div class="textLevel">
							<div class="text">
								<div class="level">{{userLevelNum user.points}}й Уровень</div>
								<div class="mamaLevel">Мама {{userLevelText user.points}}</div>
							</div>
							
							<div class="stars">
								{{#each levels}}
									<div class="star {{name}} {{isFilledStart . user.points}}"></div>
								{{/each}}
							</div>
						</div>
						<div class="pointsLeft">
							{{leftNext user.points}}
						</div>
						<div class="bar">
							{{#each levelKeys}}
								<div class="icon {{isFilled . user.points}}">
									<div class="adorable_table">
										<div class="adorable_cell">
											<div class="partial" style='width: {{diff @index user.points}}%;'></div>
										</div>
									</div>
								</div>
							{{/each}}
						</div>

						<div class="levelIcon {{levelPrefix user.points}}" style="background: url(/img/user/moneybox/{{levelPrefix user.points}}_achieve.png)">
							
						</div>
					</div>

				</div>
			</div>
			<div class="profileHead">
				<div class="headWrap">
					<h3 class="inner_title">Информация о Ваших детках</h3>
					<div class="question_bubble tooltip agushaTooltip" title="Сколько у вас деток, как их зовут, сколько им лет? Расскажите нам больше о своих малышах, а мы подберем для вас по-настоящему полезную и интересную информацию!">?</div>
				</div>
			</div>
			<div class="childBlock">
				{{#each user.children}}
					<div class="childItem">
						<div class="childPic" data-id="{{_id}}" "{{data 'children'}}">
							<img src="{{showChildImage image.large gender}}" alt="">
						</div>
						<div class="childInfo">
							<div class="childName">
								{{name}}
							</div>
						</div>
					</div>
				{{/each}}
				<div class="addChild">
					<div class="button rounded"></div>
					<div class="text">
						<div>Добавить</div>
						<div>Детеныша</div>
					</div>
				</div>
			</div>
			<div class="profileHead">
				<div class="headWrap">
					<h3 class="inner_title">Личные данные</h3>
					<div class="question_bubble tooltip agushaTooltip" title="Давайте знакомиться! Расскажите нам о себе подробнее и станьте частью нашего сообщества для современных мам и пап «Агуша».">?</div>
				</div>
			</div>
			<div class="profileInfo">
				<div class="userInputs">
					<div class="column left">
						<div class="inner">
							<div class="input_row">
								<input type="text" placeholder="Имя" can-value="user.profile.first_name" value="{{user.profile.first_name}}" >
							</div>
						</div>
					</div>
					<div class="column right">
						<div class="inner">
							<div class="input_row">
								<input type="text" placeholder="Фамилия" can-value="user.profile.last_name" value="{{user.profile.last_name}}" >
							</div>
						</div>
					</div>
					<div class="column left">

						<div class="inner">
							<div class="input_row">
								<input type="text" placeholder="Отчество" can-value="user.profile.middle_name" value="{{user.profile.middle_name}}" >
							</div>
						</div>
						<div class="inner">
							<div class="input_row user_birth_date birth_date">

								<div class="customSelect customDay inactive" data-target="customDay">
									<p class="content"><span class="value">{{#if user.birth_date.day}}{{user.birth_date.day}}{{else}}День{{/if}}</span> <span class="triangleDown">▾</span></p>
									<div class="customSelectList">
										{{#each dates.days}}
											<p class="customSelectListItem" data-value="{{.}}">{{.}}</p>
										{{/each}}
									</div>
								</div>

                                <div class="customSelect customMonth inactive" data-target="customMonth">
                                    <p class="content"><span class="value">{{#if user.birth_date.month}}{{getUserMonth user.birth_date.month}}{{else}}Мес.{{/if}}</span> <span class="triangleDown">▾</span></p>
                                    <div class="customSelectList">
										{{#each dates.months}}
                                            <p class="customSelectListItem" data-value="{{@index}}">{{.}}</p>
										{{/each}}
                                    </div>
                                </div>

                                <div class="customSelect customYear inactive" data-target="customYear">
                                    <p class="content"><span class="value">{{#if user.birth_date.year}}{{user.birth_date.year}}{{else}}Год.{{/if}}</span> <span class="triangleDown">▾</span></p>
                                    <div class="customSelectList">
										{{#each dates.years}}
                                            <p class="customSelectListItem" data-value="{{.}}">{{.}}</p>
										{{/each}}
                                    </div>
                                </div>

								<div class="clearfix"></div>

								<div style="display: none">

                                    <select name="birth_date[day]" class="birth_day customDay" can-value="user.birth_date.day">
                                        <option disabled="disabled" selected>День</option>
										{{#each dates.days}}
                                            <option value="{{.}}">{{.}}</option>
										{{/each}}
                                    </select>

                                    <select name="birth_date[month]" can-value="user.birth_date.month" class="birth_month customMonth">
                                        <option disabled="disabled" selected>Мес.</option>
										{{#each dates.months}}
                                            <option value={{@index}}>{{.}}</option>
										{{/each}}
                                    </select>
                                    <select  name="birth_date[year]" can-value="user.birth_date.year" class="birth_year customYear">
                                        <option disabled="disabled" selected>Год</option>
										{{#each dates.years}}
                                            <option value="{{.}}">{{.}}</option>
										{{/each}}
                                    </select>

								</div>

							</div>
						</div>
					</div>
					<div class="column right">
						<div class="inner">
							<div class="input_row">
								<input class="editableInput" can-value="user.profile.gender" value="1" id="female" name="gender" {{genderChecked 'female'}} type="radio" >
								<label for="female">
									Женщина
								</label>
								<input class="editableInput" can-value="user.profile.gender" value="2" id="male" name="gender"{{genderChecked 'male'}} type="radio" >
								<label for="male">
									Мужчина
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="socialInfo">
					<div class="socialText">Синхронизировать с профилем в соцсети</div>
					<div class="social_buttons buttons horizontal">
						<div class="button fb {{#if user.social.fb.id}}active{{/if}}"></div>
						<div class="button vk {{#if user.social.vk.id}}active{{/if}}"></div>
						<div class="button ok {{#if user.social.ok.id}}active{{/if}}"></div>
					</div>
				</div>
			</div>
			<div class="profileHead">
				<div class="headWrap">
					<h3 class="inner_title">
						Контактные данные
					</h3>
					<div class="question_bubble tooltip agushaTooltip" title="Пожалуйста, укажите свои контактные данные максимально точно. Когда вы выиграете в каком-то из наших розыгрышей, мы сможем без проблем связаться с вами по телефону и отправить подарок на указанный адрес.">?</div>
				</div>
			</div>
			<div class="profileInfo passwordInfo">
				<div class="userInputs" style="margin-top: 0px;">
					<div class="column left">
						<div class="inner">
							<div class="input_row">
								<input class="editableInput" placeholder="Город" value="{{user.contacts.city}}" id="city" can-value="user.contacts.city" type="text" >
							</div>
							<div class="input_row">

                                <div class="customSelect customInput customCountry inactive" data-target="customCountry" id="country">
                                    <p class="content"><span class="value">{{#if user.contacts.country}}{{user.contacts.country}}{{else}}Страна{{/if}}</span> <span class="triangleDown">▾</span></p>
                                    <div class="customSelectList">
										{{#each countries}}
                                            <p class="customSelectListItem" data-value="{{.}}">{{.}}</p>
										{{/each}}
                                    </div>
                                </div>

								<div style="display: none">

                                    <input can-value="user.contacts.country" class="editableInput customCountry" placeholder="Страна" value="{{user.contacts.country}}"  type="text">

								</div>

							</div>
							<div class="input_row">
								<input class="editableInput" placeholder="Улица" value="{{user.contacts.street}}" can-value="user.contacts.street" type="text" >
							</div>
							<div class="input_row address">
								<input class="editableInput" placeholder="Дом" value="{{user.contacts.houseNum}}" can-value="user.contacts.houseNum" type="text" >

								<input class="editableInput" placeholder="Квартира" value="{{user.contacts.apartament}}" can-value="user.contacts.apartament" type="text" >
							</div>
							
						</div>
					</div>
					<div class="column right">
						<div class="inner">
							<div class="input_row">
								<input class="editableInput" placeholder="Почтовый индекс" value="{{user.contacts.postIndex}}" can-value="user.contacts.postIndex" type="text" >
							</div>
							<div class="input_row">
								<input class="editableInput phoneInput" placeholder="Телефон" value="{{user.contacts.phone}}" can-value="user.contacts.phone" type="text" >
							</div>
							<div class="input_row">
								<input class="editableInput" {{tooltip user.errors 'email' 'right'}} placeholder="E-mail" value="{{user.email}}" can-value="user.email" type="text">
							</div>
							<div class="input_row">
								<input class="editableInput spareEmail" {{tooltip user.errors 'spareEmail' 'right'}} placeholder="Запасной E-mail" can-value="user.spareEmail" type="text" >
							</div>
						</div>
					</div>
				</div>

                <button type="button" class="buttonSave saveProfileData">
                    Сохранить
                </button>

				<div class="iAgreeBlock">
					<div class="checkbox">
						<input type="checkbox" id="user.agree" can-value="user.agree" {{isChekedAgree user.agree}} />
						<label for="user.agree"></label>
					</div>
					<div class="text">
						Я покупаю качественное детское питание «Агуша» и рекомендую его 
						<br />
						другим мамам. Присоединяюсь к «Агуша – одобрено мамами»!
					</div>
				</div>
			</div>

		{{#if user.standardRegistration}}

			<div class="profileHead">
				<div class="headWrap">
					<h3 class="inner_title">
						Изменить пароль
					</h3>
					<div class="question_bubble tooltip agushaTooltip" title="Выберите для себя уникальный пароль и будьте уверены в том, что никто, кроме вас, не сможет воспользоваться вашим замечательным профилем.">?</div>
				</div>
			</div>

			<form class="changePassword">

				<div class="profileInfo passwordInfo passwords">
					<div class="userInputs" style="margin-top: 0px;">
						<div class="column middle">
							<div class="inner">
								<div class="input_row">
									<input name="oldPassword" class="password" can-value="old_password" type="password" data-passid="oldPass" placeholder="Ваш старый пароль" >
									<span class="switcher" data-passid="oldPass"></span>
								</div>
							</div>
						</div>

						<div class="newPasswordTooltip">

							<div class="column left">
								<div class="inner">
									<div class="input_row">
										<input name="newPassword" data-passid="pass" can-value="new_password" placeholder="Новый пароль" type="password" class="password newPasswordValidate newPassword1" >
										<span class="switcher" data-passid="pass"></span>
									</div>
								</div>
							</div>
							<div class="column right">
								<div class="inner">
									<div class="input_row">
										<input name="newPasswordCopy" data-passid="newPass" can-value="renew_password" class="password newPasswordValidate newPassword2" placeholder="Новый пароль еще раз" type="password" >
										<span class="switcher" data-passid="newPass"></span>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

				<button type="submit" class="buttonSave">
					Изменить пароль
				</button>

			</form>
		{{/if}}


			<div class="profileHead">
				<div class="headWrap">
					<h3 class="inner_title">
						Пригласите друзей из соцсеточек
					</h3>
					<div class="question_bubble tooltip agushaTooltip" title="Выберите Ваших друзей в соцсети и вышлите им приглашение присоединиться к Вам на сайте.">?</div>
				</div>
			</div>
			<div class="profileInfo passwordInfo profileSocials userInputs">
				<div class="inner_desc">
					Понравился сайт? Пригласите друга или подругу, им тоже
					<br/>
					может быть интересно!
				</div>
				<div class="{{! userInputs }}">
					<div class="column left">
						<div class="inner">
							<button class="block profileInvite vk" type="button">
								<span>ИЗ ВКОНТАКТЕ</span>
								<div class="img">В</div>
							</button>
						</div>
					</div>
					<div class="column right">
						<div class="inner">
							<button class="block profileInvite fb" type="button">
								<span>ИЗ FACEBOOK</span>
								<div class="img">f</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>